<button mat-menu-item [routerLink]="['/']">
  <section>
    <fa-icon [icon]="['fas', 'user-gear']"></fa-icon>
    <span appLabel="manageContent"></span>
  </section>
</button>
<button mat-menu-item [routerLink]="['../user/login']">
  <section>
    <fa-icon [icon]="['far', 'heart']"></fa-icon>
    <span appLabel="favorites"></span>
  </section>
</button>
<button mat-menu-item [routerLink]="['../user/login']">
  <section>
    <fa-icon [icon]="['fas', 'users']"></fa-icon>
    <span appLabel="friends"></span>
  </section>
</button>
<button mat-menu-item [routerLink]="['../user/login']">
  <section>
    <fa-icon [icon]="['fas', 'share-nodes']"></fa-icon>
    <span appLabel="sharedContent"></span>
  </section>
</button>
<button mat-menu-item [routerLink]="['../user/login']">
  <section>
    <fa-icon [icon]="['fas', 'gauge']"></fa-icon>
    <span appLabel="dashboard"></span>
  </section>
</button>
<button mat-menu-item [routerLink]="['../user/login']">
  <section>
    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
    <span appLabel="settings"></span>
  </section>
</button>
<button mat-menu-item [routerLink]="['../user/login']">
  <section>
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
    <span appLabel="becomeContentCreator"></span>
  </section>
</button>
<button *ngIf="(currentUser | async)?.id" (click)="logout()" mat-menu-item [routerLink]="['/']">
  <section>
    <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
    <span appLabel="logout"></span>
  </section>
</button>