@import 'src/styles/mixins.scss';

main {
  width: 35rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: var(--gap);
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  gap: var(--gap);
  align-items: center;

  :last-child{
      button{
        width: 100%;
      }
    }

  div {
    display: flex;
    width: 100%;
    flex-flow: row wrap;

    mat-form-field {
      flex: 2 1 auto;
    }
  }
}

fa-icon, label{
  pointer-events: none;
}