<mat-accordion multi>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" routerLinkActive="active">
    <mat-expansion-panel-header>
      <span>
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        <mat-panel-title appLabel="profileData"></mat-panel-title>
      </span>
    </mat-expansion-panel-header>
    <section>
      <button mat-button appLabel="personalData" 
        [routerLink]="['/user/settings/personal-data'] || ['/user/settings']"
        routerLinkActive="menu-active">
      </button>
      <button mat-button appLabel="changePassword" 
        [routerLink]="['/user/settings/change-password']"
        routerLinkActive="menu-active">
      </button>
      <button mat-button appLabel="deleteAccount"
        [routerLink]="['/user/settings/delete-account-reason']"
        routerLinkActive="menu-active">
      </button>
    </section>
  </mat-expansion-panel>  

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>
        <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        <mat-panel-title appLabel="notifications"></mat-panel-title>
      </span>
    </mat-expansion-panel-header>
    <section>
      <button mat-button appLabel="emailNotifications"></button>
      <button mat-button appLabel="pushNotifications"></button>
    </section>
  </mat-expansion-panel> -->
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
        <mat-panel-title appLabel="dataProtection"></mat-panel-title>
      </span>
    </mat-expansion-panel-header>
  </mat-expansion-panel> -->
</mat-accordion>

