@import 'src/styles/mixins.scss';

mat-accordion {
  width: max-content;
  display: inline-block; //the label wont break in two line 

  @include responsive(tablet) {
    display: none;
  }
}

span{
  display: flex;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;

  button {
    width: fit-content;
  }
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel {
  --mat-expansion-container-shape: 0px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: var(--mdc-shape-small);
  border-top-left-radius: var(--mdc-shape-small);
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: var(--mdc-shape-small);
  border-bottom-left-radius: var(--mdc-shape-small);
}

:host ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}
