<div class="main">
  <form class="border-box" [formGroup]="form" #formDirective="ngForm">
  
    <h2 class="mat-headline-5" appLabel="register"></h2>
  
    <mat-form-field appearance="outline">
      <mat-label appLabel="email"></mat-label>
      <input matInput formControlName="email" placeholder="m.mustermann@example.com">
    </mat-form-field>

    <app-password-confirm formControlName="password"></app-password-confirm>
    <app-privacy-policy-form formControlName="termsAccepted"></app-privacy-policy-form>
  
    <cin-captcha-submit
      [disabled]="form.invalid"
      (verified)="onSubmit($event, formDirective)">
    </cin-captcha-submit>
  
    <section>
      <small>
        <span appLabel="haveAcc?" suffix="&nbsp;"></span>
        <a class="link" [routerLink]="['../login']" appLabel="login"></a>
      </small>
      <small>
        <span appLabel="noVerification?" suffix="&nbsp;"></span>
        <a class="link" [routerLink]="['../verification']" appLabel="sendNewMail"></a>
      </small>
    </section>

  </form>
  <app-image-slider></app-image-slider>
</div>