@import 'src/styles/mixins.scss';

@include responsive(tablet) {
  app-portal-footer-desktop {
    display: none;
  }
}

@include responsive(desktop) {
  app-portal-footer-mobile {
    display: none;
  }
}
