<footer>
  <nav *ngFor="let menuItem of footer | async">
    <h3>{{menuItem | translatable: 'name' | async}}</h3>
    <a *ngFor="let subItem of menuItem.subMenuItems"
      (click)="route(subItem)">
        {{subItem | translatable: 'name' | async}}
    </a>
  </nav>
  <aside>
    <nav>
      <app-image src="assets/google-play.svg"></app-image>
      <app-image src="assets/app-store.svg"></app-image>
    </nav>
    <nav>
      <app-icon icon="image"></app-icon>
      <app-icon icon="image"></app-icon>
    </nav>
  </aside>
</footer>