:host {
  padding: 2rem;
  background-color: var(--color-primary-700);
  color: var(--color-primary-contrast-700);
  overflow-x: auto;
}

.banner {
  display: flex;
  gap: 6rem;
  margin: auto;
  width: fit-content;
}

section {

  h1 {
    margin-bottom: 0 !important;
    height: 5rem;

    white-space: nowrap;
  }

  * {
    text-align: center;
  }
}