div {
  display: flex;
  gap: 1rem;

  address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
}

fa-icon {
  align-self: center;
}

a {
  color: var(--color-black);
}

