@import 'src/styles/mixins.scss';

.container {
  display: flex;

  :first-child,
  :last-child {
    display: flex;
    padding: 1rem;

    button {
      height: 100% !important;
    }

    @include responsive(tablet) {
      display: none;
    }
  }

  :nth-child(2) {
    display: flex;
    gap: var(--gap);
    padding: 1rem;

    overflow-x: auto;
    scroll-behavior: smooth;
  }
}