:host {
  max-width: 100%;
}

mat-card {
  width: 15rem;
  max-width: calc(100% - 1rem);

  * {
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}

mat-card-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 2rem;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  small {
    color: var(--color-neutral);
    align-self: center;
  }
}

span {
  max-width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
}

div {
  display: flex;
  gap: 1rem;
}
