<h1 mat-dialog-title i18nLabel="inviteFriends"></h1>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label i18nLabel="search"></mat-label>
    <input matInput type="text" [(ngModel)]="value" (input)="filterFriends(value)">
    <button *ngIf="!value" matSuffix mat-icon-button>
      <cin-icon [icon]="['fas', 'magnifying-glass']"></cin-icon>
    </button>
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"
      (click)="filterFriends(value)">
      <cin-icon [icon]="['fas', 'xmark']"></cin-icon>
    </button>
  </mat-form-field>
  <div>
    <label>
      <span>
        <span i18nLabel="friends"></span>
        ({{ filteredFriends.length }})
      </span>
      <mat-checkbox [checked]="friends.length === selectedFriends.length"
        (change)="toggleAllFriends($event.checked)">
      </mat-checkbox>
    </label>
  </div>

  <mat-divider></mat-divider>

  <div *ngFor="let friend of filteredFriends">
    <label>
      <cin-media-avatar [user]="friend"></cin-media-avatar>
      <span>{{friend?.user?.firstName + ' ' + friend?.user?.lastName}}</span>
      <mat-checkbox [checked]="selectedFriends.includes(friend)" (change)="toggleSelectedFriend(friend, $event.checked)">
      </mat-checkbox>
    </label>
  </div>

  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18nLabel="cancel"></button>
  <button mat-button mat-dialog-close i18nLabel="send" (click)="sendNotification()"></button>
</mat-dialog-actions>