<mat-form-field appearance="outline">
  <mat-label appLabel="icons"></mat-label>

  <input [formControl]="control"
    type="text" 
    placeholder="Pick one"
    aria-label="Number"
    matInput 
    [matAutocomplete]="auto">

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let icon of filteredIcons" [value]="icon.iconName">
      <article>
        <fa-icon [icon]="icon.iconName"></fa-icon>
        <span> {{ icon.iconName }}</span>
      </article>
    </mat-option>
  </mat-autocomplete>

  <mat-hint>
    <a class="a-button" mat-button href="https://fontawesome.com/search?o=r&m=free"
      target="_blank">
      <span appLabel="iconList"></span>
    </a>
  </mat-hint>
</mat-form-field>