<div>
  <ng-container *ngFor="let embedding of embeddings">
    <ng-container [ngSwitch]="embedding?.plugin?.code">
      <app-article-embedding *ngSwitchCase="features.articles"></app-article-embedding>
      <app-calendar-embedding *ngSwitchCase="features.calendar"></app-calendar-embedding>
      <app-event-embedding *ngSwitchCase="features.events"></app-event-embedding>
      <app-report-embedding *ngSwitchCase="features.reports"></app-report-embedding>
      <app-author-embedding *ngSwitchCase="features.authors"></app-author-embedding>
      <app-organisation-embedding *ngSwitchCase="features.organisations"></app-organisation-embedding>
      <app-deal-embedding *ngSwitchCase="features.deals"></app-deal-embedding>
      <app-contest-embedding *ngSwitchCase="features.contests"></app-contest-embedding>
      <app-survey-embedding *ngSwitchCase="features.surveys"></app-survey-embedding>
      <app-guest-article-embedding *ngSwitchCase="features.guestArticle"></app-guest-article-embedding>
      <app-map-embedding *ngSwitchCase="features.map"></app-map-embedding>
      <app-media-embedding *ngSwitchCase="features.media"></app-media-embedding>
    </ng-container>
  </ng-container>
</div>
