<div class="container">
  <mat-card>
      <figure>
        <app-image mat-card-image [image]="element?.image" [roundedTopLeft]="true" [roundedBottomLeft]="true"></app-image>
      </figure>
      <div class="wrapper">
      <mat-card-header>
        <mat-chip-option>
          <span>
            {{ element?.category
              ? element?.category
              : (element?.categoryTranslatables | translatable: element?.categoryTranslatableField | async) || 'Test' 
            }}
          </span>
        </mat-chip-option>
        <app-favorite-piece></app-favorite-piece>
      </mat-card-header>
      <mat-card-content>
        <h1>{{
          element?.title
            ? element?.title
            : element?.translatables | translatable: element?.titleTranslatableField | async
          }}
        </h1>
        <app-date-piece [date]="element?.date" [dateTime]="element?.dateTime">Date</app-date-piece>
        <app-address-piece *ngIf="element?.address" [address]="element?.address"></app-address-piece>
        <span>
          {{
            element?.text
              ? element?.text
              : element?.translatables | translatable: element?.textTranslatableField | async
          }}
        </span>
        <mat-card-actions>
          <app-image [image]="element?.creatorImage" [rounded]="true"></app-image>
          <span>{{element?.creator}}</span>
        </mat-card-actions>
      </mat-card-content>
    </div>
    </mat-card>
</div>