<app-page-title
  [titleLabel]="contentForm.value.id ? 'editDeal' : 'createNewDeal'">
</app-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <cin-form-step titleLabel="content" [formGroup]="contentForm">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="category"></mat-label>
        <mat-select formControlName="categoryId">
          <mat-option
            [value]="category.id"
            *ngFor="let category of categories | async">
            <span>{{ category | translatable : "name" | async }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row columns="1">
      <cin-richtext-editor-form formControlName="content">
      </cin-richtext-editor-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="media" [formGroup]="uploadsForm">
    <app-media-form
      [cardToggle]="true"
      [titleToggle]="true"
      formControlName="uploads">
    </app-media-form>
  </cin-form-step>

  <cin-form-step titleLabel="contact" [formGroup]="contactForm" descriptionLabel="enterYourContactData">
    <cin-grid-row>
      <app-contact-form 
        formControlName="contact" 
        [showContactOptions]="false">
      </app-contact-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step [formGroup]="locationForm" titleLabel="location">
    <cin-grid-row>
      <app-address-form formControlName="address"> </app-address-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step
    titleLabel="shortDescription"
    [formGroup]="shortDescriptionForm">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="shortDescription"></mat-label>
        <textarea matInput formControlName="shortDescription" rows="5">
        </textarea>
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="additionalInfo" [formGroup]="additionalInfoForm">
    <cin-grid-row columns="2">
      <mat-radio-group formControlName="selectedType">
        <mat-radio-button
          color="primary"
          value="offer"
          [checked]="this.additionalInfoForm.value.selectedType === 'offer'">
          <span appLabel="offer"></span>
        </mat-radio-button>
        <mat-radio-button
          color="primary"
          value="request"
          [checked]="this.additionalInfoForm.value.selectedType === 'request'">
          <span appLabel="request"></span>
        </mat-radio-button>
      </mat-radio-group>
    </cin-grid-row>

    <cin-grid-row columns="8">
      <mat-form-field appearance="outline">
        <mat-label appLabel="price"></mat-label>
        <input formControlName="price" matInput placeholder="&euro;" />
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row>
      <div>
        <span appLabel="dealIsPublic"></span>
        <mat-slide-toggle color="primary" formControlName="isPublic">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>
  </cin-form-step>
</cin-form-stepper>
