:host {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

button {
  align-self: flex-start;
}

div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

:host ::ng-deep {

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

}

mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}