<header>
  <app-portal-header-back></app-portal-header-back>

  <ng-container *ngIf="(isSearching | async) === false">
    <app-portal-header-language *ngIf="!currentUser?.id" [@fadeIn]></app-portal-header-language>
    <app-portal-header-notification *ngIf="currentUser?.id" [@fadeIn]></app-portal-header-notification>
    <app-logo [@fadeIn]></app-logo>
  </ng-container>
  
  <app-search></app-search>
  
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="mobile-menu">
        <app-portal-menu-accordion (itemSelected)="trigger.closeMenu()"></app-portal-menu-accordion>
        <mat-divider></mat-divider>
        <app-portal-header-user></app-portal-header-user>
        <mat-divider></mat-divider>
        <section *ngIf="!currentUser?.id">          
          <button mat-stroked-button color="primary" [routerLink]="['/', accountUrl, 'register']">
            <span appLabel="register"></span>
          </button>
          <button mat-stroked-button color="primary" [routerLink]="['/', accountUrl, 'login']">
            <span appLabel="login"></span>
          </button>          
        </section>
        <section *ngIf="currentUser?.id">
          <app-media-avatar [user]="currentUser"></app-media-avatar>
          <div class="currentUser">
          <span>{{ currentUser?.user?.firstName }} {{ currentUser?.user?.lastName }}</span>
          <small>{{ currentUser?.user?.email }}</small>
          </div>
        </section>
      </div>
    </mat-menu>
  </div>

</header>