div {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

app-table-sort{
  margin-left: auto;
}

section{
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  gap:  var(--gap);
}