* {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 2px 8px 0px #00000026;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-accent-contrast-900);
  background: linear-gradient(135deg, var(--color-accent-900), var(--color-accent-400));
}