<button mat-button (click)="closeDialog()">
  <fa-icon size="2x" [icon]="['fas', 'xmark']"></fa-icon>
</button>

<div (click)="closeDialog()">
  <button mat-button (click)="previous($event);">
    <fa-icon size="2xl" [icon]="['fas', 'chevron-left']"></fa-icon>
  </button>

  <ng-container [ngSwitch]="mimeType(getCurrentImage())">

    <audio *ngSwitchCase="'AUDIO'" controls>
      <source [appMedia]="getCurrentImage()" [type]="getCurrentImage().mimeType">
    </audio>

    <img *ngSwitchCase="'IMAGE'" [appMedia]="getCurrentImage()"/>

    <app-media-card *ngSwitchCase="'PDF'" [media]="getCurrentImage()">
    </app-media-card>

    <app-media-card *ngSwitchCase="'WORD'" [media]="getCurrentImage()">
    </app-media-card>

    <video *ngSwitchCase="'VIDEO'" width="900" controls>
      <source [appMedia]="getCurrentImage()" [type]="getCurrentImage().mimeType">
    </video>

  </ng-container>

  <button mat-button (click)="next($event);">
    <fa-icon size="2xl" [icon]="['fas', 'chevron-right']"></fa-icon>
  </button>
</div>