:host {
  display: flex;
  flex-flow: column;
  gap: 6rem;
}

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: var(--gap) auto 0;

  app-media-title {
    width: 100%;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    margin: var(--gap) auto;
    width: 80%;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;

    h1 {
      margin: 0;
    }
  }
}