<div class="main">
  <form class="border-box" [formGroup]="form" #formDirective="ngForm">
  
    <h2 class="mat-headline-5" appLabel="register"></h2>
    <p class="mat-subtitle-2"></p>
  
    <mat-form-field appearance="outline">
      <mat-label appLabel="email"></mat-label>
      <input matInput formControlName="email" placeholder="m.mustermann@example.com">
    </mat-form-field>

    <app-password-confirm formControlName="password"></app-password-confirm>
    <app-privacy-policy-form formControlName="termsAccepted"></app-privacy-policy-form>
  
    <app-captcha-submit
      [disabled]="form.invalid"
      (verified)="onSubmit($event, formDirective)">
    </app-captcha-submit>
  
    <section>
      <p appLabel="haveAcc?" suffix="&nbsp;"></p>
      <a [routerLink]="['/user', 'login']" appLabel="login"></a>
    </section>
  </form>
  <app-image-slider></app-image-slider>
</div>