mat-card {
  user-select: none;
  width: 18rem;
  height: 22rem;
  max-width: calc(100% - 2rem);

}

mat-card-header {
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
  padding: unset;
  position: relative;
  min-height: 70%;
  max-height: 70%;

  button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: white;
    min-width: 2.5rem !important;
    border-radius: 50%;
  }

  .card-box {
    padding: .25rem;
    bottom: .5rem;
    right: .5rem;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      max-height: 100%;
      max-width: 100%;
    }
  }

  video {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--mdc-shape-small);
    border-top-right-radius: var(--mdc-shape-small);
  }

  fa-icon {
    margin: auto;
  }

  .pdf {
    color: #e5252a;
  }

  .word {
    color: #005dc3;
  }

}

mat-card-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: calc(30% - 1rem);
  padding: .5rem;

  button {
    div {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
    }
  }

  h3 {
    margin: unset;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }

}
