<mat-card>
  <mat-card-header [ngSwitch]="mimeType">
    <button *ngIf="showDelete"
      mat-button
      (click)="delete($event)">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </button>

    <div *ngSwitchCase="'IMAGE'"
      (click)="click()"
      class="image-wrapper">
      <img alt="media-card" [src]="media?.url" [appAttribution]="media?.attribution" />
    </div>

    <app-media-video *ngSwitchCase="'VIDEO'"
      [media]="media">
    </app-media-video>

    <fa-icon *ngSwitchCase="'WORD'"
      [icon]="['far', 'file-word']"
      [size]="iconSize" class="word">
    </fa-icon>

    <fa-icon *ngSwitchCase="'PDF'"
      [icon]="['far', 'file-pdf']"
      [size]="iconSize" class="pdf">
    </fa-icon>

    <fa-icon *ngSwitchDefault
      [icon]="['far', 'file']"
      [size]="iconSize">
    </fa-icon>

  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3>{{ media?.name }}</h3>
    <ng-container [ngSwitch]="mimeType">
      <button *ngSwitchCase="'VIDEO'" mat-button (click)="click()">
        <fa-icon [icon]="['fas', 'play']"></fa-icon>
      </button>
      <button *ngSwitchCase="'IMAGE'" mat-button (click)="click()">
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
      </button>
      <button *ngSwitchDefault
        mat-button (click)="download($event)">
        <div>
          <span>{{ media?.size | fileSize }}</span>
          <fa-icon [icon]="['fas', 'download']"></fa-icon>
        </div>
      </button>
    </ng-container>
  </mat-card-content>
</mat-card>
