<button mat-menu-item (click)="route()">
  <section>
    <fa-icon [icon]="['fas', 'user-gear']"></fa-icon>
    <span appLabel="manageContent"></span>
  </section>
</button>
<button mat-menu-item (click)="route('favorites')">
  <section>
    <fa-icon [icon]="['far', 'heart']"></fa-icon>
    <span appLabel="favorites"></span>
  </section>
</button>
<button mat-menu-item (click)="route('friends')">
  <section>
    <fa-icon [icon]="['fas', 'users']"></fa-icon>
    <span appLabel="friends"></span>
  </section>
</button>
<button mat-menu-item (click)="route('settings')">
  <section>
    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
    <span appLabel="settings"></span>
  </section>
</button>
<button mat-menu-item (click)="route('become-content-creator')">
  <section>
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
    <span appLabel="becomeContentCreator"></span>
  </section>
</button>
<button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
  <section>
    <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
    <span appLabel="logout"></span>
  </section>
</button>