<mat-dialog-content>
  <h1 class="mat-headline-6" i18nLabel="inviteFriends"></h1>
  <mat-divider></mat-divider>
  <div *ngFor="let friend of friends">
    <cin-media-avatar 
      [media]="friend | profilePicture"
      [name]="friend?.user?.firstName || friend?.user?.lastName">
    </cin-media-avatar>   
    
    <span>{{friend?.user?.firstName + ' ' + friend?.user?.lastName}}</span>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <span i18nLabel="cancel"></span>
  </button>
</mat-dialog-actions>