:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: var(--mdc-shape-small);
    border-top-right-radius: var(--mdc-shape-small);
  }
}

app-media-video {
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
}

.pdf {
  color: var(--color-pdf);
}

.word {
  color: var(--color-ms-word);
}