<ng-container [ngSwitch]="mimeType">
  <div *ngSwitchCase="'IMAGE'"
    (click)="click()"
    class="image-wrapper">
    <img alt="media-card"
      [src]="media?.url"
      [appAttribution]="media?.attribution" [direction]="attributionDirection" />
  </div>

  <app-media-video *ngSwitchCase="'VIDEO'"
    (click)="click()"
    [media]="media">
  </app-media-video>

  <span *ngSwitchCase="'WORD'">
    <i class="far fa-file-word fa-5x" [style.color]="'var(--color-ms-word)'"></i>
  </span>

  <span *ngSwitchCase="'PDF'">
    <i class="far fa-file-pdf fa-5x" [style.color]="'var(--color-pdf)'"></i>
  </span>

  <span *ngSwitchDefault>
    <i class="far fa-file-pdf fa-5x"></i>
  </span>
</ng-container>
