:host {
  max-width: 100% !important;
}

a {
  color: var(--color-black);
}

mat-card {
  cursor: pointer;
  user-select: none;
  width: 18rem;
  max-width: 100%;

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

mat-card-header {
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
  padding: unset;
  position: relative;
  height: 15rem;

  img {
    object-fit: cover;
    width: 18rem;
    height: 100%;
  }

  app-category-piece {
    position: absolute;
    z-index: 2;
    top: .75rem;
    left: .5rem;
    max-width: 70%;
  }

  app-card-actions {
    position: absolute;
    z-index: 2;
    top: .5rem;
    right: .5rem;
  }

  border-bottom: solid 1px var(--color-border);
}

mat-card-content {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  padding: .25rem 1rem .25rem;

  app-address-piece {
    pointer-events: none;
  }

  section {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 1.3rem;
      margin: unset;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      word-wrap: break-word;
    }
  }

  span {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    height: 4.8rem;
    line-height: 1.2rem;
  }
}

mat-card-actions {
  display: flex;
  gap: .5rem;
  padding: .5rem 1rem;

  img {
    height: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .border-image {
    height: 2rem;
    width: 2rem;
    display: flex;
    overflow: revert;
    justify-content: center;
    align-items: center;
  
    color: var(--color-accent-contrast-900);
    background: linear-gradient(135deg, var(--color-accent-900), var(--color-accent-400));
  }
}
