:host {
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: .5rem;
}

app-admin-menu-accordion {
  width: 100%;
}

app-admin-menu-accordion:last-of-type,
app-admin-menu-overlay:last-of-type {
  margin-top: auto;
}