<app-logo
  [url]="homeRoute"
  [showIoconText]="!collapsed">
</app-logo>

<ng-container *ngIf="collapsed; else accordion">
  <app-admin-menu-overlay *ngFor="let item of menuItems | async"
    [item]="item">
  </app-admin-menu-overlay>

    <!-- <app-admin-menu-overlay *ngIf="(settingsAllowed | async) === true" -->
      <app-admin-menu-overlay
      [item]="{
        icon: 'gears',
        route: settingsUrl,
      }">
    </app-admin-menu-overlay>

  <app-admin-menu-overlay
    [item]="{
      icon: 'angles-right',
    }"
    (clicked)="collapsed = false">
  </app-admin-menu-overlay>
</ng-container>


<ng-template #accordion>
  <app-admin-menu-accordion *ngFor="let item of menuItems | async"
    [item]="item">
  </app-admin-menu-accordion>

    <!-- <app-admin-menu-accordion *ngIf="(settingsAllowed | async) === true" -->
    <app-admin-menu-accordion
      [item]="{
        icon: 'gears',
        name: 'platformSettings',
        route: settingsUrl,
      }">
    </app-admin-menu-accordion>

  <app-admin-menu-accordion
    [item]="{
      icon: 'angles-left',
      name: 'collapseMenu',
    }"
    (clicked)="onCollapse()">
  </app-admin-menu-accordion>
</ng-template>


