<app-logo
  [url]="homeRoute"
  [showIoconText]="!collapsed">
</app-logo>

<ng-container *ngIf="collapsed; else accordion">
  <app-admin-menu-overlay *ngFor="let item of menuItems | async"
    [active]="menuService.isRouteActive(item)"
    [item]="item">
  </app-admin-menu-overlay>

  <app-admin-menu-overlay
    icon=angles-right
    (clicked)="collapsed = false">
  </app-admin-menu-overlay>
</ng-container>


<ng-template #accordion>
  <app-admin-menu-accordion *ngFor="let item of menuItems | async"
    [active]="menuService.isRouteActive(item)"
    [item]="item">
  </app-admin-menu-accordion>

  <app-admin-menu-accordion
    icon="angles-left"
    label=collapseMenu
    (clicked)="onCollapse()">
  </app-admin-menu-accordion>
</ng-template>


