<div class="border-box">

  <h2 class="mat-headline-6" i18nLabel="joinIn"></h2>
  <p i18nLabel="joinOrganisationText1"></p>
  <p i18nLabel="joinOrganisationText2"></p>

  <mat-form-field appearance="outline">
    <mat-label i18nLabel="search"></mat-label>
    <input matInput type="text" [(ngModel)]="value" (input)="filterOrganisations(value)">
    <button *ngIf="!value" matSuffix mat-icon-button>
      <cin-icon [icon]="['fas', 'magnifying-glass']"></cin-icon>
    </button>
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="filterOrganisations(value)">
      <cin-icon [icon]="['fas', 'xmark']"></cin-icon>
    </button>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div class="scroll">
    <div *ngFor="let organisation of joinableOrganisations">
      <label>
        <img  *ngIf="organisation.uploads && organisation.uploads.length > 0" class="border-image" 
        [src]="(organisation.uploads | filter: { card: true })[0].media.url">
        <span>{{organisation?.name}}</span>
        <mat-checkbox [checked]="selectedOrganisations.includes(organisation)"
          (change)="toggleSelectedOrganisation(organisation, $event.checked)">
        </mat-checkbox>
      </label>
    </div>
  </div>

  <mat-divider></mat-divider>

  <section>
    <button mat-flat-button color="accent" (click)="clearAll()">
      <span i18nLabel="clearAll"></span>
    </button>

    <button mat-flat-button color="primary" (click)="sendOrganisationRequest()">
      <span i18nLabel="join"></span>
    </button>
  </section>

</div>