<div class="border-box">

  <h2 class="mat-headline-6" appLabel="joinIn"></h2>
  <p appLabel="joinOrganisationText1"></p>
  <p appLabel="joinOrganisationText2"></p>

  <mat-form-field appearance="outline">
    <mat-label appLabel="search"></mat-label>
    <input matInput type="text" [(ngModel)]="value" (input)="filterOrganisations(value)">
    <button *ngIf="!value" matSuffix mat-icon-button>
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="filterOrganisations(value)">
      <fa-icon [icon]="['fas', 'close']"></fa-icon>
    </button>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div class="scroll">
    <div *ngFor="let organisation of joinableOrganisations">
    <img class="border-image"
    [src]="(organisation.uploads | filter: { card: true })[0].media.url">
    <span>{{organisation?.contact?.name}}</span>
    <mat-checkbox [checked]="selectedOrganisations.includes(organisation)"
      (change)="toggleSelectedOrganisation(organisation, $event.checked)">
    </mat-checkbox>
    </div>
  </div>

  <mat-divider></mat-divider>

  <section>
    <button mat-flat-button color="accent" (click)="clearAll()">
      <span appLabel="clearAll"></span>
    </button>

    <button mat-flat-button color="primary" (click)="sendOrganisationRequest()">
      <span appLabel="join"></span>
    </button>
  </section>

</div>