mat-card {
  margin: auto;
  width: 40rem;
  max-width: calc(100% - var(--gap));
  padding: var(--gap);

  section {
    display: flex;
    flex-flow: column;
    gap: var(--gap);
  }

  app-card-slider {
    align-self: center;
  }

}