h1 {
  margin-bottom: 1rem !important;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
}

fa-icon {
  cursor: pointer;
}