@import 'src/styles/mixins.scss';

h1 {
  margin-bottom: 0 !important;
  overflow-wrap: break-word;
  hyphens: auto;
  
  @include responsive(phone) {
    font-size: 1.125rem !important;  
  }
}

div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
  padding-bottom: .5rem;
}

app-icon {
  cursor: pointer;
}