<h2 appLabel="schedules"></h2>

<button
  mat-raised-button
  color="primary"
  appLabel="deleteAll"
  [disabled]="!(schedules | async)?.length"
  (click)="deleteAll()">
</button>

<section>
  <article *ngFor="let schedule of schedules | async; let last = last; index as i">
    <div class="entry">
      <div>
        <div class="date">
          <strong appLabel="from"></strong>
          <span>
            {{ schedule.startDate | date: 'medium' }}
          </span>
        </div>
      
        <div class="date">
          <strong appLabel="until"></strong>
          <span>
            {{ schedule.endDate | date: 'medium' }}
          </span>
        </div>
      </div>

      <button mat-icon-button
        (click)="remove(i)">
        <cin-icon [icon]="['fas', 'trash']"></cin-icon>
      </button>
    </div>

    <mat-divider *ngIf="!last"></mat-divider>
  </article>
</section>