.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

mat-card{
  width: 72rem; //TODO
  display: flex;
  flex-direction: row;
  height: 22rem;
  gap: var(--gap);
  justify-content: space-between;

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

figure {
  width: 50%;
  border-top-left-radius: var(--mdc-shape-small);
  border-bottom-left-radius: var(--mdc-shape-small);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  gap: 1rem;
  padding: unset;
  width: 50%;
  height: 100%;
}

mat-card-header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 0;
  padding-right: var(--gap);
  padding-bottom: 1rem;

  mat-chip-option {
    margin-right: auto;
  } 
}

mat-card-content {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-left: 0;
  padding-right: var(--gap);

  h1 {
    margin: 0;
  }

  span {
    height: 2.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}

mat-card-actions {
  padding: 0;
  padding-left: .5rem; //necessary for avatar shadow
  gap: 1rem;
  position: absolute;
  top: 18rem;

  img {
    width: 2rem;
    height: 2rem;
  }

  span {
    display: flex;
    align-items: center;
    height: 3rem;
  }
}