@import 'src/styles/mixins.scss'; 

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
}

.menu { 
    button {
        margin-right: var(--gap);
        font-size: large;
        font-weight: 600;
    }            

    @include responsive(phone) {
        display: none;
    }

    @include responsive(tablet) {
        display: none;
    }
}

.menu-mobile {
    display: flex;
    width: 100%;
    flex: wrap;
    justify-content: space-between;

    
    @include responsive(desktop) {
      display: none;
    }
}

.mat-menu-item{
    &:hover {
        background-color: var(--color-primary-50);
        p,
        fa-icon {
            color: var(--color-primary-contrast-50);
        }
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    fa-icon {
            color: var(--color-primary-500);
            display: flex;
            align-content: center;
            margin-right: var(--gap);
            font-size: 1.5rem;
    }
}

.description {
    margin-top: .75rem;
    display: flex;
    flex-direction: column;
    color: var(--color-primary-500);
    
    .text {
        font-size: 1.25rem;
    }

    .small-text {
        font-size: 0.875rem;
        white-space: pre-line;
    }
}

::ng-deep .dropdown-menu {
    top: .9rem;
    border-radius: 0 0 1rem 1rem !important;
}

::ng-deep .dropdown-language {
    top: .5rem;
    border-radius: 0 0 1rem 1rem !important;
    min-width: auto !important;
}

::ng-deep .dropdown-user {
    top: .5rem;
    border-radius: 0 0 1rem 1rem !important;
}

.actions {
    display: flex;
    align-items: center;

    @include responsive(phone) {
        display: none;
    }  

    @include responsive(tablet) {
        display: none;
    }
}

.text {
    padding-top: .5rem;
}

.clear {
    color: var(--color-primary-500);
}

.magnifiying-glass {
    color: var(--color-primary-contrast-500)
}



.buttons {
    button {
        margin-right: var(--gap);
        background-color: var(--color-primary-contrast-500);
        color: var(--color-primary-500);
        font-weight: 600;
    }
}

.icons {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}

app-search-field  {
    @include responsive(phone) {
        display: none;
    }
    
    @include responsive(tablet) {
        display: none;
    }
}

::ng-deep mat-form-field {
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

