<header>
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">Entdecken</button>
    <mat-menu #menu="matMenu" class="dropdown-menu">
        <button mat-menu-item class="mat-menu-item"> 
          <span class="wrapper">
            <span
              ><fa-icon
                [icon]="['fas', 'calendar']"
              ></fa-icon>
            </span>
            <span class="description">
              <p class="text">Events</p>
              <p class="small-text">Beschreibungstext mit einem sehr sehr sehr sehr sehr langen Text.</p>
            </span>
          </span>
        </button>
        <button mat-menu-item class="mat-menu-item"> 
          <span class="wrapper">
            <span
              ><fa-icon
                [icon]="['fas', 'calendar']"
              ></fa-icon>
            </span>
            <span class="description">
              <p class="text">Events</p>
              <p class="small-text">Beschreibungstext mit einem sehr sehr sehr sehr sehr langen Text.</p>
            </span>
          </span>
        </button><button mat-menu-item class="mat-menu-item"> 
          <span class="wrapper">
            <span
              ><fa-icon
                [icon]="['fas', 'calendar']"
              ></fa-icon>
            </span>
            <span class="description">
              <p class="text">Events</p>
              <p class="small-text">Beschreibungstext mit einem sehr sehr sehr sehr sehr langen Text.</p>
            </span>
          </span>
        </button>
    </mat-menu>

    <!-- Menupoint Experience -->
    <button mat-button [matMenuTriggerFor]="menu">Erfahren</button>
    
    
    <!-- Menupoint Participate -->
    <button mat-button [matMenuTriggerFor]="menu">Mitmachen</button>
  </div>

  <div class="menu-mobile">
    <button class="chevron-left" mat-icon-button>
    <fa-icon
      [icon]="['fas', 'chevron-left']">
    </fa-icon>
    </button>
    <button class="bars" mat-icon-button>
    <fa-icon
      [icon]="['fas', 'language']">
    </fa-icon>
    </button>
    <app-logo></app-logo>
    <app-menu-mobile></app-menu-mobile>
  </div>

 <div class="actions">

  <!-- <app-search-field></app-search-field> -->

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

    <div class="buttons">  
    <!-- Log in  -->
      <button mat-raised-button color="primary">Registrieren</button>
      <button mat-raised-button color="primary">Einloggen</button>
    </div>
    <div class="icons">
    <!-- Translate -->
      <button mat-icon-button [matMenuTriggerFor]="language" aria-label="Language-Selection">
        <fa-icon
            size="2x" 
            [icon]="['fas', 'language']">
        </fa-icon>
      </button>
      <mat-menu #language="matMenu" class="dropdown-language" xPosition="before">
        <button mat-menu-item class="mat-menu-item">
          <span class="description">
            <p>Deutsch</p>
          </span>
        </button>
        <button mat-menu-item class="mat-menu-item">
          <span class="description">
            <p>English</p>
          </span>
        </button>
        <button mat-menu-item class="mat-menu-item">
          <span class="description">
            <p>Francais</p>
          </span>
        </button>
      </mat-menu>
    <!-- User-Avatar -->
      <button mat-icon-button [matMenuTriggerFor]="user" aria-label="User-Profil">
          <fa-icon
            size="2x" 
            [icon]="['fas', 'user']">
          </fa-icon>
      </button>
        <mat-menu #user="matMenu" class="dropdown-user" xPosition="before">
            <button mat-menu-item class="mat-menu-item"> 
              <span class="wrapper">
                <span
                  ><fa-icon
                    [icon]="['fas', 'heart']"
                  ></fa-icon>
                </span>
                <span class="description">
                  <p>Favoriten</p>
                </span>
              </span>
            </button>
            <button mat-menu-item class="mat-menu-item"> 
              <span class="wrapper">
                <span
                  ><fa-icon
                    [icon]="['fas', 'gear']"
                  ></fa-icon>
                </span>
                <span class="description">
                  <p>Einstellungen</p>
                </span>
              </span>
            </button>
            <button mat-menu-item class="mat-menu-item"> 
              <span class="wrapper">
                <span
                  ><fa-icon
                    [icon]="['fas', 'arrow-right-from-bracket']"
                  ></fa-icon>
                </span>
                <span class="description">
                  <p>Logout</p>
                </span>
              </span>
            </button>
        </mat-menu>
    </div>
  </div>
</header>
