.gradient, img {
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
  width: 100%;
  height: 25rem;
}

.gradient {
  height: 25rem;
  background: linear-gradient(135deg, var(--color-primary-100) 0%, var(--color-primary-50) 30%, var(--color-accent-50)70%, var(--color-accent-100) 100%);
}

img {
  object-fit: cover;
}