<app-loading>
  <div class="main">
    <form class="border-box" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()">
      <h2 class="mat-headline-5" appLabel="login"></h2>
  
      <mat-form-field appearance="outline">
        <mat-label appLabel="email"></mat-label>
        <input matInput formControlName="email" placeholder="email@example.com">
      </mat-form-field>
      
      <app-password-field formControlName="password"></app-password-field>
  
      <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
        <span appLabel="login"></span>
      </button>
  
      <section>
        <small>
          <span appLabel="notRegistered?" suffix="&nbsp;"></span>
          <a class="a-button" [routerLink]="['../register']" appLabel="register"></a>
        </small>
        <small>
          <span appLabel="forgotpassword?" suffix="&nbsp;"></span>
          <a class="a-button" [routerLink]="['../password']" appLabel="resetPassword"></a>
        </small>
      </section>
  
    </form>
    <app-image-slider></app-image-slider>
  </div>
</app-loading>