<cin-loading>
  <div class="main">
    <form class="border-box" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()">
      <h2 class="mat-headline-5" i18nLabel="login"></h2>
  
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="email"></mat-label>
        <input matInput formControlName="email" placeholder="email@example.com">
      </mat-form-field>
      
      <cin-password-field formControlName="password"></cin-password-field>
  
      <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
        <span i18nLabel="login"></span>
      </button>
  
      <section>
        <small>
          <span i18nLabel="notRegistered?" suffix="&nbsp;"></span>
          <a class="link" [routerLink]="['../register']" i18nLabel="register"></a>
        </small>
        <small>
          <span i18nLabel="forgotpassword?" suffix="&nbsp;"></span>
          <a class="link" [routerLink]="['../password']" i18nLabel="resetPassword"></a>
        </small>
      </section>
  
    </form>
    <app-image-slider></app-image-slider>
  </div>
</cin-loading>