mat-card {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;

  height: 5rem;
  min-width: 15rem;
  padding: 1rem;

  section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    h2 {
      margin: 0;
    }
  }

  app-chart-actions {
    align-self: flex-end;
  }
}