
<div
  [class.dragged]="isDraggedOver"
  [class.disabled]="disabled">
  <button mat-icon-button
    (click)="back.emit()">
    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
  </button>
  <input type="file"
    multiple
    [disabled]="disabled"
    (change)="onFileBrowse($event)" />
  <section>
    <fa-icon size="3x" [icon]="['fas', 'upload']"></fa-icon>
    <span appLabel="dragAndDropHere"></span>
  </section>
  <span appLabel="or"></span>
  <button mat-raised-button
    color="primary"
    [disabled]="disabled">
    <span appLabel="browseFiles"></span>
  </button>
</div>