
<div
  [class.dragged]="isDraggedOver"
  [class.disabled]="disabled">
  <button mat-icon-button
    (click)="back.emit()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <input type="file"
    multiple
    [disabled]="disabled"
    (change)="onFileBrowse($event)" />
  <section>
    <i class="fas fa-upload fa-3x"></i>
    <span appLabel="dragAndDropHere"></span>
  </section>
  <span appLabel="or"></span>
  <button mat-raised-button
    color="primary"
    [disabled]="disabled">
    <span appLabel="browseFiles"></span>
  </button>
</div>