div {
  display: flex;
  flex-direction: column;

  button {
    color: var(--color-evaluation);
  }
}

mat-label {
  font-weight: bold;
}

section{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  p {
    margin-left: auto;
    font-weight: bold;
  }
}