<div class="main">
  <app-page-title title="organisations"></app-page-title>
  <app-sponsored-card *ngIf="(sponsored | async)?.id"
    entity="OrganisationEntity"
    [data]="sponsored | async">
  </app-sponsored-card>

  <app-organisation-filter 
    (paramsUpdated)="updateParams($event)"
    (rawParamsUpdated)="updateRawParams($event)">
    <app-radio-button-group
      [inputs]="inputs"
      [value]="displayType"
      [queryParamKey]="displayQueryParam"
      (valueChanged)="displayType = $event">
    </app-radio-button-group>
  </app-organisation-filter>

  <ng-container>
    <ng-container [ngSwitch]="displayType">
      
      <app-portal-organisation-overview-card *ngSwitchCase="'card'"
        (sortPaginate)="updateParams($event)">
      </app-portal-organisation-overview-card>
      
      <span *ngSwitchCase="'map'">Karte</span>
  
      <!-- <app-portal-event-overview-table *ngSwitchCase="'table'"
        (sortPaginate)="updateParams($event)">
      </app-portal-event-overview-table> -->
  
    </ng-container>
  </ng-container>
</div>