mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    gap: 1rem;
    align-items: center;

    app-avatar {
      min-width: 3rem;
      height: 3rem;
    }
  }
}