<!-- TODO: Create a proper details view for embeddings displaying all attributes -->
<div class="border-box">
  <cin-details-title titleLabel="content" [link]="['./form']"
    linkIcon="pen-to-square">
  </cin-details-title>

  <section>
    @for(embedding of page?.embeddings; track embedding) {
      <article>
        <strong>
          {{ embedding?.label }}
        </strong>
        <small>
          {{ embedding?.type | translatable: 'name' | async }}
        </small>
      </article>
    }
  </section>
</div>