<cin-page-title 
  [titleLabel]="'createNewMedia'">
</cin-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <cin-form-step titleLabel="content" [formGroup]="contentForm">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="category"></mat-label>
        <mat-select formControlName="categoryId">
          <mat-option [value]="category.id" *ngFor="let category of categories | async">
            {{category | translatable: "name" | async}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>
    <cin-grid-row>
      <cin-media-form [maxFiles]="1" formControlName="media"></cin-media-form>
    </cin-grid-row>
  </cin-form-step>
</cin-form-stepper>