<div class="details">
  <div class="title-area">
    <cin-media-title [media]="mediaTitle"></cin-media-title>
    <cin-category-piece [category]="article?.category" [url]="['/', portalUrl, categoryUrl]"
      [queryParam]="categoryQueryParams">
    </cin-category-piece>
    <section class="card-box">
      <cin-share-button>
      </cin-share-button>

      <app-favorite
        entity="ArticleEntity"
        [data]="article">
      </app-favorite>
    </section>
  </div>
  <section class="content-area">
    <section>
      <span class="details-headline">
        {{article | translatable: 'name' | async}}
      </span>
      <cin-date-piece [date]="article?.created"></cin-date-piece>

      <!-- <p class="details-content"
        [innerHtml]="article | translatable: 'shortDescription' | async">
      </p> -->

      <p class="details-content"
        [innerHtml]="article | translatable : 'content' | async">
      </p>
    </section>

    <app-article-portal-details-author *ngIf="article?.author">
    </app-article-portal-details-author>

    <cin-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </cin-media-slider>

    <app-article-portal-details-rating>
    </app-article-portal-details-rating>

    <app-article-portal-details-comment *ngIf="article?.commentsAllowed">
    </app-article-portal-details-comment>

  </section>

</div>
