<div class="details">
  <div class="title-area">
    <app-media-title [media]="mediaTitle"></app-media-title>
    <app-category-piece [category]="article?.category" [url]="['/', portalUrl, categoryUrl]"
      [queryParam]="categoryQueryParams">
    </app-category-piece>
    <section class="card-box">
      <app-share-button>
      </app-share-button>

      <app-favorite
        entity="ArticleEntity"
        [data]="article">
      </app-favorite>
    </section>
  </div>
  <section class="content-area">
    <section>
      <span class="details-headline">
        {{article | translatable: 'name' | async}}
      </span>
      <app-date-piece [date]="article?.created"></app-date-piece>

      <!-- <p class="details-content"
        [innerHtml]="article | translatable: 'shortDescription' | async">
      </p> -->

      <p class="details-content"
        [innerHtml]="article | translatable : 'content' | async">
      </p>
    </section>

    <app-article-portal-details-author *ngIf="article?.author">
    </app-article-portal-details-author>

    <app-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </app-media-slider>

    <app-article-portal-details-rating>
    </app-article-portal-details-rating>

    <app-article-portal-details-comment>
    </app-article-portal-details-comment>

  </section>

</div>
