mat-card {
  width: 40rem;
  max-width: calc(100% - var(--gap));
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--gap);

  div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    mat-form-field {
      flex: 2 1 auto;
    }
  }
}



fa-icon {
  padding-right: .5rem;
}

button {

  width: 100%;
}