:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 22rem;
  max-width: calc(100% - 2rem);
  gap: 1rem;

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

mat-card-header {
  padding: unset;

  mat-chip-option {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1rem;
  }

  button {
    position: absolute;
    z-index: 2;
    top: .5rem;
    right: 1rem;

    &.favorite {
      color: var(--color-warn-400);
    }
    
    perspective: 150rem;
    transition: transform .2s ease-in-out;
    background-color: white;
  
    &:active {
      animation: pulse .2s ease-in-out;
    }
  }
}

mat-card-content {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  span {
    height: 5rem;
    white-space: initial;
  }
}

mat-card-actions {
  display: flex;
  gap: 1rem;

  app-image {
    width: 10%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}