div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    section {
      display: flex;

      app-media-avatar {
        max-height: 6rem;
        max-width: 6rem;
        margin-left: -1.25rem;
        width: 100%;
        aspect-ratio: 1/1;
      }

      app-media-avatar:first-child {
        margin-left: 0;
      }
    }

    button {
      max-width: fit-content;
      align-self: center;

      &:first-of-type {
        margin-left: 1rem;
      }

      span {
        display: flex;
        align-items: center;
        gap: .5rem;
      }
    }
  }
}