<div>
    <app-details-title *ngIf="attendingFriends?.length" titleLabel="attendingFriends"></app-details-title>
    <app-details-title *ngIf="!attendingFriends?.length" titleLabel="SoFarNoFriendsAreAttending"></app-details-title>
  <div>
    <section *ngIf="attendingFriends && attendingFriends.length > 0">
      <app-media-avatar *ngFor="let attendingFriend of (attendingFriends.slice(0, 3))"
        [user]="attendingFriend">
      </app-media-avatar>
      <button mat-stroked-button color="primary" (click)="showAllFriends()">
        <span>
          <app-icon [icon]="['fas', 'users']"></app-icon>
          <span appLabel="showAllFriends"></span>
        </span>
      </button>
    </section>
    <section>
      <button mat-flat-button color="primary" *ngIf="(currentUser | async)?.id"
        (click)="inviteFriends()">
        <span>
          <app-icon [icon]="['fas', 'user-plus']"></app-icon>
          <span appLabel="inviteFriends"></span>
        </span>
      </button>
      <button mat-flat-button color="primary" *ngIf="!((currentUser | async)?.id)" (click)="requireLogin()">
        <span>
          <app-icon [icon]="['fas', 'user-plus']"></app-icon>
          <span appLabel="inviteFriends"></span>
        </span>
      </button>
    </section>
  </div>
</div>