<div class="details">
  <div class="title-area">
    <cin-media-title [media]="mediaTitle">
    </cin-media-title>
    
    <section class="card-box">
      <cin-share-button>
      </cin-share-button>

      <app-favorite
        entity="EventEntity"
        [data]="event">
      </app-favorite>
    </section>

    <cin-category-piece
      [category]="event?.category"
      [url]="['/', portalUrl, categoryUrl]"
      [queryParam]="categoryQueryParams">
    </cin-category-piece>
  </div>
  <section class="content-area">
    <section>
      <span class="details-headline">{{event | translatable: 'name' | async}}</span>

      <!-- <p class="details-content"
        [innerHtml]="event | translatable: 'shortDescription' | async">
      </p> -->

      <app-portal-event-details-summary
        (addressClicked)="map.scrollIntoView({behavior: 'smooth'})">
      </app-portal-event-details-summary>

      <p class="details-content" 
        [innerHtml]="event | translatable : 'content' | async"></p>
    </section>

    <app-portal-event-details-organisation *ngIf="event?.organisation">
    </app-portal-event-details-organisation>

    <cin-media-slider *ngIf="media && media.length"
      [media]="media"
      [link]="['./media']">
    </cin-media-slider>

    <app-portal-event-details-rating>
    </app-portal-event-details-rating>

    <app-portal-event-details-comment *ngIf="event?.commentsAllowed">
    </app-portal-event-details-comment>

    <app-portal-event-details-participants>
    </app-portal-event-details-participants>

    <div #map class="map-area">
      <cin-details-title titleLabel="mapView">
      </cin-details-title>
      <app-map [queryParams]="false"
        [markerDefinition]="marker">
      </app-map>
    </div>
  </section>

</div>
