<div>
  <section>

    <app-portal-event-calendar *ngIf="event?.schedule?.startDate" [event]="event"></app-portal-event-calendar>

    <div *ngIf="!event?.schedule?.startDate">
      <fa-icon size="lg" [icon]="['far', 'calendar']"></fa-icon>
      <i appLabel="noFixedDates"></i>
    </div>

    <app-address-piece *ngIf="event?.address" [address]="event?.address">
    </app-address-piece>

    <app-address-piece *ngIf="event?.videoChatLink" [link]="event?.videoChatLink">
    </app-address-piece>

    <app-mail-piece *ngIf="event?.contact?.email" [mail]="event?.contact?.email">
    </app-mail-piece>

    <app-phone-piece *ngIf="event?.contact?.phone" [phone]="event?.contact?.phone">
    </app-phone-piece>
  </section>

  <app-portal-event-attendee [event]="event" [currentUser]="currentUser"></app-portal-event-attendee>
  
</div>