<app-table-sort *ngIf="sortOptions"
  [options]="sortOptions"
  [queryParams]="queryParams"
  (sortChange)="sortChange($event)">
</app-table-sort>

<ng-container *ngIf="(data | async)?.result?.length; else noData">
  <section>
    <ng-container [ngSwitch]="cardType">
      <ng-container *ngSwitchCase="types.contact">
        <app-contact-card *ngFor="let card of (data | async)?.result" [entity]="entity" [data]="card"></app-contact-card>
      </ng-container>
      <ng-container *ngSwitchCase="types.content">
        <app-content-card *ngFor="let card of (data | async)?.result" [entity]="entity" [data]="card"></app-content-card>
      </ng-container>
      <ng-container *ngSwitchCase="types.sponsored">
        <app-sponsored-card *ngFor="let card of (data | async)?.result" [entity]="entity" [data]="card"></app-sponsored-card>
      </ng-container>
      <ng-container *ngSwitchCase="types.friends">
        <app-friends-card *ngFor="let card of (data | async)?.result" [entity]="entity" [data]="card" [allFriends]="allFriends" [receivedFriendRequests]="receivedFriendRequests" [sentFriendRequests]="sentFriendRequests"></app-friends-card>
      </ng-container>
    </ng-container>
  </section>
</ng-container>

<ng-template #noData>
  <span [appLabel]="noDataLabel"></span>
</ng-template>

<mat-card *ngIf="paginate">
  <app-table-paginator
    [length]="(data | async)?.total"
    [pageSize]="initParams.size"
    [pageIndex]="initParams.page">
  </app-table-paginator>
</mat-card>
