:host{
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.border-box {
  background-color: #4c4d4f;
  color: white;
  width: 30rem;
}
