<cin-details-title 
  [title]="page | translatable : 'title' | async">
</cin-details-title>

@if (page?.choices){ 
  <section>
    @for (choice of page?.choices; track choice; let index = $index) {
      <app-navigator-portal-details-layout-choice [choice]="choice">
      </app-navigator-portal-details-layout-choice>
    }
  </section>
}

@if (page?.links){
  @for (link of page?.links; track link) {
  <a class="border-box" [href]="link?.url" target="_blank" rel="noopener noreferrer">
    {{ link | translatable : 'name' | async}}
  </a>
  }
}

@if (page | translatable: 'additionalInformation' | async) {
  <div class="border-box">
    {{ (page | translatable: 'additionalInformation' | async) }}
  </div>  
}


