<div class="main">
  <app-page-title titleLabel="comments"></app-page-title>
  <section>
    <button mat-raised-button color="accent"
        [routerLink]="['../']">
      <span appLabel="toEvent" preFix="←"></span>
    </button>
    <button mat-raised-button color="primary">
      <span appLabel="writeComment"></span>
    </button>
  </section>
  <section class="border-box">
    <div *ngFor="let comment of (comments | async); let last = last">
      <app-comment [comment]="comment"></app-comment>
      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </section>
</div>