div {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

section {
  display: flex;
  justify-content: space-between;
}

article {
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border)
}

mat-divider {
  margin: 0 var(--gap);
}