.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  section:first-of-type {
    display: flex;
    justify-content: space-between;
  }

  section:last-of-type {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem
  }
}