<cin-page-title [titleLabel]="descriptionForm.value.id ? 'editOrganisation' : 'createNewOrganisation'">
</cin-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">

  <cin-form-step titleLabel="content" [formGroup]="descriptionForm" descriptionLabel="describeYourOrganisation">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="organisationName"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </cin-grid-row>
    <cin-grid-row columns="1">
      <cin-richtext-editor-form formControlName="description">
      </cin-richtext-editor-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="media" [formGroup]="uploadsForm">
    <cin-media-form [cardToggle]="true" [titleToggle]="true" formControlName="uploads">
    </cin-media-form>
  </cin-form-step>

  <cin-form-step titleLabel="contact" [formGroup]="contactForm" descriptionLabel="enterYourContactData">
    <cin-grid-row>
      <app-contact-form 
        formControlName="contact"
        [showContactOptions]="false">
      </app-contact-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="address" [formGroup]="addressForm" descriptionLabel="enterYourAddress">
    <cin-grid-row>
      <app-address-form formControlName="address">
      </app-address-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="additionalInfo" [formGroup]="additionalInfoForm">
    <cin-grid-row columns="1">
      <div>
        <span appLabel="commentsAllowed"></span>
        <mat-slide-toggle color="primary" formControlName="commentsAllowed">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>
  </cin-form-step>

</cin-form-stepper>