@import 'ngx-cinlib/styles/mobile-mixins.scss';

mat-toolbar {
  background-color: var(--color-background);
  height: 100%;
}

.scrolled {
  // background-color: white;
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

app-portal-header-desktop,
app-portal-header-mobile {
  width: 100%;
}

@include responsive(tablet) {
  app-portal-header-desktop {
    display: none;
  }
}

@include responsive(desktop) {
  app-portal-header-mobile {
    display: none;
  }
}