header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

::ng-deep {
  .mobile-menu {
    app-portal-menu-accordion {
      mat-expansion-panel-header {
        padding: 0 1rem !important;
      }
    }

    app-portal-header-user {
      button {
        padding: 0 1rem !important;
      }
    }
  }
}

.admin-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  cin-icon {
    display: flex;
    justify-content: center;
    width: 1.25rem;
  }
}

section {
  display: flex;
  gap: 1rem;
  padding: .5rem 1rem 0;
  align-items: center;

  app-media-avatar {
    width: 1.75rem;
  }
}

.currentUser {
  display: flex;
  flex-direction: column;
}