<header>
  <app-header-back></app-header-back>

  <app-search></app-search>

  <ng-container *ngIf="(isSearching | async) === false">
    <app-logo [@fadeIn]></app-logo>
  </ng-container>

  <ng-container *ngIf="(isSearching | async) === false">
    <app-header-language *ngIf="!currentUser?.id" [@fadeIn]></app-header-language>
    <app-header-notification *ngIf="currentUser?.id" [@fadeIn]></app-header-notification>
  </ng-container>
  
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">
      <cin-icon [icon]="['fas', 'bars']"></cin-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="mobile-menu">
        <app-portal-menu-accordion></app-portal-menu-accordion>
        <mat-divider></mat-divider>

        <ng-container *ngIf="currentUser?.user?.roles?.length">
          <button mat-menu-item [routerLink]="['/', adminUrl]">
            <div class="admin-button">
              <cin-icon [icon]="['fas', 'gauge']"></cin-icon>
              <span appLabel="toAdminArea"></span>
            </div>
          </button>
          <mat-divider></mat-divider>
        </ng-container>

        <app-header-user></app-header-user>

        <mat-divider></mat-divider>

        <section *ngIf="!currentUser?.id">          
          <button mat-stroked-button color="primary" [routerLink]="['/', accountUrl, 'register']">
            <span appLabel="register"></span>
          </button>
          <button mat-stroked-button color="primary" [routerLink]="['/', accountUrl, 'login']">
            <span appLabel="login"></span>
          </button>          
        </section>

        <section *ngIf="currentUser?.id">
          <cin-media-avatar [user]="currentUser"></cin-media-avatar>
          <div class="currentUser">
            <span>{{ currentUser?.user?.firstName }} {{ currentUser?.user?.lastName }}</span>
            <small>{{ currentUser?.user?.email }}</small>
          </div>
        </section>

      </div>
    </mat-menu>
  </div>

</header>