<button mat-icon-button [matMenuTriggerFor]="userNotification">
  <app-icon [icon]="['fas', 'bell']"></app-icon>
  <span *ngIf="notifications?.length"
    [matBadge]="notifications?.length ?? 0"
    matBadgePosition="after"
    matBadgeColor="primary"
    matBadgeSize="small">
  </span>
</button>
<mat-menu #userNotification="matMenu">
  <div class="container">
    <strong class="padding" appLabel="notifications"></strong>
    <section>
      <span class="padding" appLabel="comingSoon"></span>
      <img [src]="images.path">
    </section>
    <!-- <mat-divider></mat-divider>
    TODO: Save Notifications
    <button mat-button class="padding align-end">
      <small appLabel="markAsRead"></small>
    </button>
    <section>
      <ng-container *ngFor="let notification of notifications">
        <button mat-menu-item>
          <div class="entry">
            <span>{{ notification | translatable: 'title' | async }}</span>
            <small>{{ notification?.modified | date: 'short' }}</small>
          </div>
        </button>
      </ng-container>
    </section>
    <section *ngIf="!notifications?.length" class="center">
      <small appLabel="noNewNotifications"></small>
    </section>
    <mat-divider></mat-divider>
    <a class="padding" [routerLink]="['/', portalUrl, 'notifications']"
      appLabel="allNotifications" suffix="»"></a> -->
  </div>
</mat-menu>