<div *ngIf="(titleLabel || link || title) && media?.length">
  <app-details-title *ngIf="titleLabel" [titleLabel]="titleLabel"></app-details-title>
  <app-details-title *ngIf="title" [title]="title"></app-details-title>
  <section *ngIf="link">
    <a [routerLink]="link" [appLabel]="linkLabel" suffix="»"></a>
  </section>
</div>

<app-slider *ngIf="media?.length">
  <ng-container *ngFor="let element of media; let i = index">
    <ng-container [ngSwitch]="mimeType(element)">

      <audio *ngSwitchCase="'AUDIO'" controls>
        <source [appMedia]="element" [type]="element?.mimeType" (click)="openMedia(i)">
      </audio>

      <img *ngSwitchCase="'IMAGE'"
        [appMedia]="element"
        (click)="openMedia(i)"/>
      
      <app-file-card *ngSwitchCase="'PDF'"
        [media]="element" (click)="openMedia(i)">
      </app-file-card>

      <app-file-card *ngSwitchCase="'WORD'"
        [media]="element" (click)="openMedia(i)">
      </app-file-card>

      <video *ngSwitchCase="'VIDEO'" controls>
        <source [appMedia]="element" [type]="element?.mimeType">
      </video>

    </ng-container>
  </ng-container>
</app-slider>
