app-slider {
  img {
    max-height: 10rem;
    max-height: 10rem;
    object-fit: contain;
  }
}

div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section {
  margin: 0.5rem;
}