<div class="border-box">
  <section>
    <h2 class="mat-headline-6" *ngIf="titleLabel" [appLabel]="titleLabel"></h2>
    <i class="far fa-circle-check fa-4x" [style.color]="'var(--color-success-900)'"></i>

    <ng-container *ngFor="let text of texts; let last = last">
      <p [appLabel]="text"></p>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>

    <button mat-flat-button [appLabel]="buttonLabel" color="primary" [routerLink]="link"></button>
  </section>

  <img src="assets/success.svg">
</div>