:host {
  display: flex;
  flex-flow: row;
  gap: 5rem;
  max-width: calc(100% - 1rem);
  width: 15rem;
  margin: 1rem auto;
}

p {
  text-align: center;
}

img {
  height: 18.75rem;
  width: 100%;
}

mat-button-toggle-group {
  display: flex;
  flex-direction: column;
  border: unset;
  height: 100%;

  mat-button-toggle:last-child {
    margin-top: auto;
  }

  mat-button-toggle{
    white-space: normal
  }
}

:host::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border-radius: unset;
}



/* FLIPCARD */

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 21rem;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 21rem;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 21rem;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
  display: flex;
  flex-direction: column;
}

.flip-card-front{
  cursor: pointer;
}

.flip-card-back {
  transform: rotateY(180deg);
}