<div class="flip-card">
  <div class="flip-card-inner" #cardElement>

    <div class="flip-card-front" (click)="flipCard(180)">
      <img [src]="pictureUrl" alt="flip-card-image">
      <mat-button-toggle (click)="flipCard(180)">       
        <app-icon [icon]="['fas', 'arrows-rotate']"></app-icon>
      </mat-button-toggle>
    </div>

    <div class="flip-card-back">
      <mat-button-toggle-group>
        <mat-button-toggle
          *ngFor="let element of getElements(elements ?? []); let i = index"
          (click)="emit(element, i)">
          {{ element | async }}</mat-button-toggle>
        <mat-button-toggle (click)="flipCard(0)">         
          <app-icon [icon]="['fas', 'arrows-rotate']"></app-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>
</div>