<div class="main">
  <cin-page-title titleLabel="settings"></cin-page-title>
  <app-user-settings-menu-mobile class="sticky-container"></app-user-settings-menu-mobile>
  <div class="settings">
    <app-user-settings-menu></app-user-settings-menu>
    <div class="border-box">
      <h2 class="mat-headline-6" i18nLabel="deleteAccount"></h2>
      <div>
        <p i18nLabel="deleteAccountText"></p>
      </div>
      <section *ngFor="let type of types">
        <label>
        <mat-checkbox 
          [checked]="selectedDeletionTypes.includes(type)"
          (change)="toggleSelectedDeletionType(type, $event.checked)">
        </mat-checkbox>
        <span>{{type?.name}}</span>
        </label>
      </section>
      <button mat-flat-button color="primary" i18nLabel="continue" [routerLink]="['../delete-account-description']" (click)="onSubmit()"></button>
    </div>
  </div>
</div>