@import 'src/styles/mixins.scss';

.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

.settings {
  display: flex;
  flex-flow: row;
  gap: var(--gap);

  @include responsive(tablet) {
    gap: 0;
  }
}

.border-box {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  button {
    align-self: center;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.sticky-container {
  position: sticky;
  bottom: 1rem;
  margin-left: auto;
  z-index: 10;
  padding: 1rem;
  margin-top: -7.75rem;
}