<div class="main">
  <app-page-title titleLabel="settings"></app-page-title>

  <div class="settings">
    <app-user-settings-menu></app-user-settings-menu>

    <div class="border-box">
      <h2 class="mat-headline-6" appLabel="deleteAccount"></h2>
      <div>
        <p appLabel="deleteAccountText"></p>
      </div>

      <section *ngFor="let type of types">
        <label>
        <mat-checkbox 
          [checked]="selectedDeletionTypes.includes(type)"
          (change)="toggleSelectedDeletionType(type, $event.checked)">
        </mat-checkbox>
        <span>{{type?.name}}</span>
        </label>
      </section>
      
      <button mat-flat-button color="primary" appLabel="continue" [routerLink]="['../delete-account-description']" (click)="onSubmit()"></button>
      <!-- <app-user-settings-menu-mobile class="sticky-container"></app-user-settings-menu-mobile> -->
    </div>
  </div>
</div>