@import 'src/styles/mixins.scss';

main {
  width: 25rem;
}

h2{
  align-self: center;
}

section{
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  padding: var(--gap);
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  app-image {
    height: 3rem;
  }

  app-image:first-of-type {
    width: 3rem;
  }

  app-image:last-of-type {
    width: 10rem;

    @include responsive(maxi) {
      display: none;
    }
  }
}

:host ::ng-deep {
  img {
    object-fit: contain !important;
  }
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

button{
  width: 100%;
}
}