<div>
  <ng-container *ngFor="let pageFeature of pageFeatures">
    <ng-container [ngSwitch]="pageFeature?.feature?.key">
      <app-article-page-feature *ngSwitchCase="features.article"></app-article-page-feature>
      <app-calendar-page-feature *ngSwitchCase="features.calendar"></app-calendar-page-feature>
      <app-event-page-feature *ngSwitchCase="features.event"></app-event-page-feature>
      <app-report-page-feature *ngSwitchCase="features.report"></app-report-page-feature>
    </ng-container>
  </ng-container>
</div>
