.main {
  width: 25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  :last-child{
      button{
        width: 100%;
      }
    }

  div {
    display: flex;
    width: 100%;
    flex-flow: row wrap;

    mat-form-field {
      flex: 2 1 auto;
    }
  }
}

fa-icon, label{
  pointer-events: none;
}