<main class="main"> 
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <fa-icon size="5x" [icon]=" ['fas', 'unlock']"></fa-icon>
     <h2 class="mat-headline-5" appLabel="resetPassword"></h2>
     <p>Bitte gib dein neues Passwort an.</p>
      <div>
        <app-password-input formControlName="password"></app-password-input>
        <div>
          <a [routerLink]="['/user', 'login']" appLabel="backToLogin"></a>
        </div>
      </div>
        <div>
        <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
          <label appLabel="send"></label>
        </button>
      </div>
      </form>
</main>