@import 'src/styles/mixins.scss';

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

 .title-area {
    width: 100%;
    height: 25rem;
    position: relative;

    app-media-title {
      width: 100%;
    }
  }

 .content-area {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    width: 80%;
    margin: var(--gap) auto;

    h2 {
      margin: unset;
    }

    div {
      display: flex;
      text-align: center;
      align-content: center;
      flex-flow: column wrap;
      gap: var(--gap);
    }
  }
}
