<div class="main">
  <app-page-title titleLabel="media"></app-page-title>

  <section>
    <app-radio-button-group
      [inputs]="inputs"
      [value]="fileType"
      (valueChanged)="fileType = $event">
    </app-radio-button-group>
    <button mat-raised-button (click)="routeBack()">
      <span>
        <cin-icon [icon]="['fas', 'arrow-left']" [size]="'xs'"></cin-icon>
        <span [appLabel]="backLabel"></span>
      </span>
    </button>
  </section>

  <section>
    <ng-container [ngSwitch]="fileType">

      <ng-container *ngSwitchCase="'image'">
        <app-media-view-card *ngFor="let element of images; let i = index;"
          [media]="element" (clicked)="openViewer(i, images)">
        </app-media-view-card>
      </ng-container>

      <ng-container *ngSwitchCase="'file'">
        <app-media-view-card *ngFor="let element of files" [media]="element">
        </app-media-view-card>
      </ng-container>

      <ng-container *ngSwitchCase="'video'" >
        <app-media-view-card *ngFor="let element of videos; let i = index;"
          [media]="element" (clicked)="openViewer(i, videos)">
        </app-media-view-card>
      </ng-container>

    </ng-container>
  </section>
</div>
