.container {
  display: flex;
  flex-flow: column wrap;
  width: 25rem;
}

.padding {
  padding: 1rem;
}

.align-end {
  margin-left: auto;
}

section {
  padding-top: .5rem;
  padding-bottom: .5rem;

  .entry {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: .5rem;

    small {
      align-self: flex-end;
    }
  }
}

.center {
  margin: auto;
}