<button mat-icon-button [matMenuTriggerFor]="userNotification">
  <fa-icon [icon]="['fas', 'bell']"></fa-icon>
  <span *ngIf="notifications"
    [matBadge]="notifications.length"
    matBadgePosition="after"
    matBadgeColor="primary"
    matBadgeSize="small">
  </span>
</button>
<mat-menu #userNotification="matMenu">
  <div class="container">
    <strong class="padding" appLabel="notifications"></strong>
    <mat-divider></mat-divider>
    <!-- TODO: Save Notifications -->
    <button mat-button class="padding align-end">
      <small appLabel="markAsRead"></small>
    </button>
    <section>
      <ng-container *ngFor="let notification of notifications">
        <button mat-menu-item>
          <div class="entry">
            <span>{{ notification | translatable: 'title' | async }}</span>
            <small>{{ notification?.modified | date: 'short' }}</small>
          </div>
        </button>
      </ng-container>
    </section>
    <section *ngIf="!notifications?.length">
      <small appLabel="noNewNotifications"></small>
    </section>
    <mat-divider></mat-divider>
    <a class="padding" [routerLink]="['/portal', 'notifications']"
      appLabel="allNotifications" suffix="»"></a>
  </div>
</mat-menu>