<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-chip-option>
        <span>
          {{
            data.category
              ? data.category
              : data.categoryTranslatables | translatable: data.categoryTranslatableField | async
          }}
        </span>
      </mat-chip-option>
      <app-favorite-piece></app-favorite-piece>
      <app-image mat-card-image [image]="data.image" [roundedTopLeft]="true" [roundedTopRight]="true"></app-image>
    </mat-card-header>
    <mat-card-content>
      <h1>
        {{
          data.title
            ? data.title
            : data.translatables | translatable: data.titleTranslatableField | async
        }}
      </h1>
      <app-date-piece [date]="data.date" [dateTime]="data.dateTime">Date</app-date-piece>
      <app-address-piece *ngIf="data.address" [address]="data.address"></app-address-piece>
      <span>
        {{
          data.text
            ? data.text
            : data.translatables | translatable: data.textTranslatableField | async
        }}
      </span>
    </mat-card-content>
    <mat-card-actions>
      <app-image [image]="data.creatorImage" [rounded]="true"></app-image>
      <span>{{data.creator}}</span>
    </mat-card-actions>
  </mat-card>
</div>
