<div class="details">
  <div class="title-area">
    <cin-media-title [media]="mediaTitle"></cin-media-title>
    <section class="card-box">
      <cin-share-button>
      </cin-share-button>

      <app-favorite
        entity="SurveyEntity"
        [data]="survey">
      </app-favorite>
    </section>
  </div>

  <section class="content-area">
    <span class="details-headline">{{survey?.name}}</span>

    <app-portal-survey-details-summary></app-portal-survey-details-summary>

    <p class="details-content"
      [innerHtml]="survey | translatable: 'description' | async">
    </p>

    <cin-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </cin-media-slider>
    <div>
      <cin-details-title titleLabel="attend"></cin-details-title>
      <img src="assets/features/survey.svg" alt="survey-image">
      <button mat-raised-button color="primary" appLabel="participateSurvey"></button>
    </div>
  </section>
</div>