<cin-page-title [titleLabel]="form.value.id ? 'editRole' : 'createNewRole'">
</cin-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <cin-form-step titleLabel="role" [formGroup]="form">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row>
      <mat-form-field appearance="outline">
        <mat-label appLabel="privileges"></mat-label>
        <mat-select formControlName="privileges" multiple>
          <mat-option [value]="privilege.id"
            *ngFor="let privilege of privileges | async">
              <span>{{ privilege | translatable: "name" | async }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>

    <!-- TODO: use User selection popup with nice search -->
    <cin-grid-row>
      <mat-form-field appearance="outline">
        <mat-label appLabel="users"></mat-label>
        <mat-select formControlName="users" multiple>
          <mat-option [value]="user.id"
            *ngFor="let user of users | async">
              <span>{{ user.firstName }} {{ user.lastName}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>
</cin-form-stepper>