@import 'src/styles/mixins.scss';

.title-area {
  width: 100%;
  height: 25rem;
  position: relative;
  
  app-title-image{
    width: 100%;
  }

  app-category-piece {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.content-area {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;

  width: 80%;

  h2 {
    margin: 0;
  }

  section {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 3rem;

    * {
      width: 100%;
    }
  }
}
