<div class="details">
  <div class="title-area">
    <app-title-image [image]="titleImage"></app-title-image>
    <app-category-piece [category]="article?.category" [url]="['/portal', categoryUrl]"
      [queryParam]="categoryQueryParams">
    </app-category-piece>
    <section class="card-box">
      <app-share-button>
      </app-share-button>

      <app-favorite-piece>
      </app-favorite-piece>
    </section>
  </div>
  <section class="content-area">
    <section>
      <h2 class="mat-headline-4">
        {{article | translatable: 'name' | async}}
      </h2>
      <app-date-piece [date]="article?.created"></app-date-piece>

      <p [innerHtml]="article | translatable: 'shortDescription' | async"></p>

      <p [innerHtml]="article | translatable : 'content' | async"></p>
    </section>

    <app-portal-article-details-author *ngIf="article?.author">
    </app-portal-article-details-author>

    <app-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </app-media-slider>

    <app-portal-article-details-rating>
    </app-portal-article-details-rating>

    <app-portal-article-details-comment>
    </app-portal-article-details-comment>

  </section>

</div>