<div class="details">
  <div class="title-area">
    <app-title-image [image]="titleImage"></app-title-image>
    <section class="details-action-box">

      <app-share-button>
      </app-share-button>

      <app-favorite-piece>
      </app-favorite-piece>

    </section>
  </div>

  <section class="content-area">
    <section>
      <h2 class="mat-headline-4">{{organisation?.name}}</h2>
      <app-portal-organisation-details-summary (addressClicked)="map.scrollIntoView({behavior: 'smooth'})">
      </app-portal-organisation-details-summary>

      <p [innerHtml]="organisation | translatable : 'description' | async"></p>
    </section>

    <app-file-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </app-file-slider>

    <app-portal-organisation-details-members>
    </app-portal-organisation-details-members>

    <app-portal-organisation-details-rating>
    </app-portal-organisation-details-rating>

    <app-portal-organisation-details-comment>
    </app-portal-organisation-details-comment>

    <div class="map-area" #map>
      <app-details-title titleLabel="mapView"></app-details-title>
      <app-map [queryParams]="false" [markerDefinition]="marker">
      </app-map>
    </div>
  </section>

</div>