@for (element of elements; track element; let index = $index) {
  @if (index % 2 === 0) {
    <section class="block">
      <ng-container *ngTemplateOutlet="content; context: { $implicit: element }">
      </ng-container>
      <app-media-element [media]="element?.media">
      </app-media-element>
    </section>
  }
  @if (index % 2 !== 0) {
    <section class="block">
      <app-media-element [media]="element?.media">
      </app-media-element>
      <ng-container *ngTemplateOutlet="content; context: { $implicit: element }">
      </ng-container>
    </section>
  }
}
<ng-template #content let-element>
  <div>

    @if (element?.title) {
      <h1 class="mat-headline-4">
        {{ element?.title | translatable: 'translatable' | async }}
      </h1>
    }

    @if (element?.text) {
      <section [innerHTML]="element?.text | translatable: 'translatable' | async"></section>
    }

    @if (element?.url) {
      <a mat-raised-button
        color="primary"
        [href]="element?.url"
        [appLabel]="element?.button
          ? (element?.button | translatable: 'translatable' | async)
          : 'learnMore'">
      </a>
    }
  </div>
</ng-template>