:host {
  display: flex;
  flex-flow: column;
  gap: 5rem;

  margin: var(--gap) auto 0;
  width: var(--page-embedding-width);
  max-width: calc(100% - var(--gap));
}

.page {
  margin-top: 2rem;
}

.block {
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    gap: 1.5rem;
    width: calc(50% - var(--gap));
  }

  h1 {
    margin-bottom: 0;
  }

  app-media-element {
    height: 20rem;
    width: calc(50% - var(--gap));

    border-radius: var(--mdc-shape-small);
    overflow: hidden;
  }
}