:host {
  display: flex;
  flex-flow: column;
  gap: 5rem;

  margin: auto;
  width: var(--page-embedding-width);
  max-width: calc(100% - var(--gap));
}

section {
  display: flex;
  gap: var(--gap);

  height: 20rem;

  div {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    gap: var(--gap);
    width: calc(50% - var(--gap));

    a {
      height: 4rem;
    }
  }

  h1 {
    margin-bottom: 0 !important;
  }

  app-media-element {
    height: 100%;
    width: calc(50% - var(--gap));

    border-radius: var(--mdc-shape-small);
    overflow: hidden;
  }
}