@import 'src/styles/mixins.scss';

:host {
  display: flex;
  flex-flow: column;
  gap: 10rem;

  margin: var(--gap) auto 0;
  width: var(--page-embedding-width);
  max-width: calc(100% - var(--gap));
}

.page {
  margin-top: 2rem;
}

.block {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    gap: 1.5rem;
    width: calc(50% - var(--gap));
   
    @include responsive(phone) {
      width: calc(100% - var(--gap));
    }
  }

  h1 {
    margin-bottom: 0;
  }

  section {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  a {
    padding: .5rem 1rem;
    height: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  cin-media-element {
    height: 20rem;
    width: calc(50% - var(--gap));

    border-radius: var(--mdc-shape-small);
    overflow: hidden;

    @include responsive(phone) {
      display: none;
    }
  }
}