@import 'src/styles/mixins.scss';

.container {
  display: flex;
}

.cards {
  display: flex;
  gap: var(--gap);
  padding: 1rem;

  overflow-x: auto;
  scroll-behavior: smooth;
}


.button {
  display: flex;

  button {
    height: 100% !important;
  }
  
  @include responsive(tablet) {
    display: none;
  }
}
