<app-page-title [titleLabel]="categoryForm.value.id ? 'editCategory' : 'createNewCategory'">
</app-page-title>

<app-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <app-form-step titleLabel="category" [formGroup]="categoryForm">
    <app-row columns="2">
      <mat-form-field id="name" appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </app-row>

    <app-row columns="4">
      <cin-icon-form matInput formControlName="icon">
      </cin-icon-form>

      <mat-form-field appearance="outline">
        <mat-label appLabel="color"></mat-label>
        <input type="color" matInput formControlName="color">
      </mat-form-field>
    </app-row>
  </app-form-step>
</app-form-stepper>