<div *ngIf="event">
  <section>
    <div>
      <span class="mat-headline-4">{{event | translatable: 'name' | async}}</span>
    </div>
    <div>
      <app-social-share-button></app-social-share-button>
      <app-favorite-piece></app-favorite-piece>
      <app-category-piece [category]="event.category"></app-category-piece>
    </div>
  </section>

  <div>
    <span [innerHtml]="event | translatable: 'shortDescription' | async"></span>
    <section>
      <app-date-piece *ngIf="event.schedule?.startDate" [date]="event.schedule?.startDate"></app-date-piece>

      <app-address-piece *ngIf="event.address" [address]="event.address"></app-address-piece>

      <app-mail-piece *ngIf="event.contact?.email" [mail]="event.contact?.email"></app-mail-piece>

      <app-phone-piece *ngIf="event.contact?.phone" [phone]="event.contact?.phone"></app-phone-piece>

      <span>
        <fa-icon size="1x" [icon]="['fas', 'ticket']"></fa-icon>
        {{ event.entryFee || '' }}
        <span *ngIf="!event.entryFee" appLabel="admissionFree"></span>
      </span>

      <span *ngIf="event.attendeeConfiguration">
        <fa-icon size="1x" [icon]="['fas', 'user-group']"></fa-icon>
        {{ (event.attendees?.length + "/" + event.attendeeConfiguration.maxAttendees) }}
      </span>

      <button *ngIf="event.attendeeConfiguration" mat-flat-button color="primary" (click)="attendEvent()">
        <fa-icon size="1x" [icon]="['fas', 'child-reaching']"></fa-icon>
        <span appLabel="attend"></span>
      </button>

      <button mat-stroked-button color="primary">
        <fa-icon size="1x" [icon]="['fas', 'download']"></fa-icon>
        <span appLabel="download"></span>
      </button>
    </section>

    <span [innerHtml]="event | translatable : 'content' | async"></span>
  </div>
</div>