<cin-page-title
  [titleLabel]="contentForm.value.id ? 'editContest' : 'createNewContest'">
</cin-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <cin-form-step [formGroup]="contentForm" titleLabel="content">
    <cin-grid-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="name"></mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="type"></mat-label>
        <mat-select formControlName="typeId">
          <mat-option
            [value]="type?.id"
            *ngFor="let type of types | async">
            {{ type | translatable : "name" | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>
    
    <cin-grid-row [columns]="1">
      <app-ck-editor-form formControlName="content"> </app-ck-editor-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="media" [formGroup]="uploadsForm">
    <cin-media-form
      [cardToggle]="true"
      [titleToggle]="true"
      formControlName="uploads">
    </cin-media-form>
  </cin-form-step>

  <cin-form-step
    [formGroup]="participationAndVoteForm"
    titleLabel="voteAndParticipation"
    [required]="true">

    <cin-grid-row [columns]="3">
      <cin-datetime-form
        [cinAssignColumns]="1"
        formControlName="participationEndDate"
        label="participationEndDate">
    </cin-datetime-form>

      <cin-datetime-form
        [cinAssignColumns]="1"
        formControlName="voteEndDate"
        label="voteEndDate"
        [minDate]="participationAndVoteForm.value.participationEndDate">
      </cin-datetime-form>  
    </cin-grid-row>

    <mat-error *ngIf="participationAndVoteForm.controls.voteEndDate.hasError('invalidMinDate')">
        <span i18nLabel="votingDateAfterParticipation"></span>
    </mat-error>     
  </cin-form-step>

  <cin-form-step
    [formGroup]="shortDescriptionForm"
    titleLabel="shortDescription">
    <cin-grid-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="shortDescription"></mat-label>
        <textarea formControlName="shortDescription" rows="5" matInput>
        </textarea>
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>


  <cin-form-step titleLabel="contact" [formGroup]="contactForm">
    <cin-grid-row>
      <app-contact-form formControlName="contact"></app-contact-form>
    </cin-grid-row>
  </cin-form-step>
  
  <cin-form-step titleLabel="additionalInfo" [formGroup]="additionalInfoForm">
    <cin-grid-row [columns]="1">
      <div>
        <span i18nLabel="participationApproval"></span>
        <mat-slide-toggle color="primary" formControlName="participationApproval">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>

    <cin-grid-row [columns]="4">
      <mat-form-field [cinAssignColumns]="1" appearance="outline">
        <mat-label i18nLabel="maxParticipations"></mat-label>
        <input formControlName="maxParticipations" matInput />
      </mat-form-field>

      <mat-form-field [cinAssignColumns]="1" appearance="outline">
        <mat-label i18nLabel="maxVotes"></mat-label>
        <input formControlName="maxVotes" matInput />
      </mat-form-field>
   </cin-grid-row>

    <cin-grid-row [columns]="1">
      <div>
        <span i18nLabel="commentsAllowed"></span>
        <mat-slide-toggle color="primary" formControlName="commentsAllowed">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>

    <cin-grid-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="metaDescription"></mat-label>
        <textarea matInput formControlName="metaDescription" rows="5">
        </textarea>
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>
</cin-form-stepper>
