:host {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  overflow-x: auto;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
}

p {
  text-align: center;
}


/* Arrow */

.arrow {
  position: absolute;
  top: 55%;
  left: 110%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.arrow span {
  display: block;
  width: 2rem;
  height: 2rem;
  border-bottom: 5px solid rgba(0, 0, 0, 0.158);
  border-right: 5px solid rgba(0, 0, 0, 0.11);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20x, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}