div {
  display: flex; 
  width: 100%;
  align-items: center;
  gap: 1rem;
  
  section {
    display: flex;
    gap: .5rem;
  }

  section:first-of-type {
    min-width: 5rem;
  }

  section:last-of-type {
    justify-content: flex-end;
    min-width: 2rem;
  }
}

:host ::ng-deep {

  .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-height: 1rem;
    --mdc-linear-progress-active-indicator-color: var(--color-evaluation);
    --mdc-linear-progress-track-height: 1rem;
  }
}