<div class="main">
  <app-page-title title="activities"></app-page-title>
  <app-sponsored-card *ngIf="(sponsored | async)?.id"
    entity="EventEntity"
    [data]="sponsored | async">
  </app-sponsored-card>
  <app-portal-event-filter-area></app-portal-event-filter-area>
  <ng-container [ngSwitch]="displayType | async">
    <span *ngSwitchCase="'calendar'">Kalender</span>
    <app-portal-event-category-view *ngSwitchCase="'category'"></app-portal-event-category-view>
    <span *ngSwitchCase="'map'">Karte</span>
    <app-portal-event-table-view *ngSwitchCase="'list'">Liste</app-portal-event-table-view>
  </ng-container>
</div>