<div class="main">
  <app-page-title title="activities"></app-page-title>
  <app-sponsored-card *ngIf="(sponsored | async)?.id"
    entity="EventEntity"
    [data]="sponsored | async">
  </app-sponsored-card>

  <app-event-filter-group
    (paramsUpdated)="updateParams($event)">
    <app-radio-button-group
      [inputs]="inputs"
      [initValue]="displayType"
      [queryParamKey]="displayQueryParam"
      (valueChanged)="displayType = $event">
    </app-radio-button-group>
  </app-event-filter-group>

  <ng-container [ngSwitch]="displayType">
    
    <span *ngSwitchCase="'calendar'">Kalender</span>
    
    <app-portal-event-category-view *ngSwitchCase="'category'">
    </app-portal-event-category-view>
    
    <span *ngSwitchCase="'map'">Karte</span>

    <app-portal-event-table-view *ngSwitchCase="'list'"
      (sortPaginate)="updateParams($event)">
    </app-portal-event-table-view>

  </ng-container>
</div>