<div class="container" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-card *ngFor="let input of inputs; let index = index" cdkDrag cdkDragLockAxis="y" (cdkDragStarted)="drag()">
    <section class="drag-handle" cdkDragHandle>
      <fa-icon icon="grip-vertical"></fa-icon>
    </section>

    <section class="content-area">
      <ng-container *ngIf="input.expanded; else collapsed">
        <ng-container *ngComponentOutlet="component; inputs: createInput(index)">
        </ng-container>
      </ng-container>

      <ng-template #collapsed>
        <div (click)="changeExpansion(index)">
          <strong> {{ input.label }}</strong>
          <fa-icon icon="up-right-and-down-left-from-center"></fa-icon>
        </div>
      </ng-template>
    </section>

    <button mat-button
      (click)="onDelete(index)">
      <fa-icon icon="trash"></fa-icon>
    </button>

    <span class="drag-placeholder" *cdkDragPlaceholder></span>
    <span *cdkDragPreview>
    </span>
  </mat-card>
</div>
