.container {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

mat-card {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: fit-content;

  border-radius: var(--mdc-shape-small) !important;
  background-color: var(--color-light);

  .drag-handle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    cursor: move;

    border-right: 1px solid var(--color-gray);
    padding: 1rem;
  }

  .content-area {
    padding: 1rem;
    flex: 2 1 auto;

    div {
      display: flex;
      gap: 1rem;
      cursor: pointer;
      user-select: none ;
    }
  }
  
  button {
    align-self: center;
  }
}

.drag-placeholder {
  border-radius: 5rem;
  height: 0.2rem;
  background-color: var(--color-primary-500);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container.cdk-drop-list-dragging mat-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}