<div class="container" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-card *ngFor="let input of inputs; let index = index" cdkDrag cdkDragLockAxis="y" (cdkDragStarted)="drag()">
    <section class="drag-handle" cdkDragHandle>
      <fa-icon icon="grip-vertical"></fa-icon>
    </section>

    <section class="content-area">
      <strong (click)="changeExpansion(index)"> {{ input.label }}</strong>

      <ng-container *ngIf="input.expanded">
        <ng-container *ngComponentOutlet="component; inputs: createInput(index)">
        </ng-container>
      </ng-container>
    </section>

    <section class="action-area">
      <div (click)="changeExpansion(index)">
        <button *ngIf="input.expanded; else expandIcon" mat-button>
          <fa-icon icon="down-left-and-up-right-to-center"></fa-icon>
        </button>
  
        <ng-template #expandIcon>
          <button mat-button>
            <fa-icon icon="up-right-and-down-left-from-center"></fa-icon>
          </button>
        </ng-template>
      </div>

      <button mat-button
        (click)="onDelete(index)">
        <fa-icon icon="trash"></fa-icon>
      </button>
    </section>

    <span class="drag-placeholder" *cdkDragPlaceholder></span>
    <span *cdkDragPreview>
    </span>
  </mat-card>
</div>
