.border-box {
  padding: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  app-media-title {
    width: 100%;
  }

  app-media-avatar {
    margin-top: -6rem;
    width: 10rem;
    height: 10rem;
  }

  div {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
    padding: var(--gap);

    section {
      display: flex;
      flex-flow: row wrap;
      gap: .5rem;
    }

    fa-icon {
      color: var(--color-primary-900);
    }
  }
}

.mat-headline-5{
  margin: unset;
}
