@import 'src/styles/mixins.scss';

:host {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;

  @include responsive(tablet) {
    flex-flow: column;
  }
}

div {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

div:nth-child(1) {
  flex: 1 0 calc(33% - 1rem);
  min-width: 32rem;
}

div:nth-child(2) {
  flex: 2 1 calc(33% - 1rem);
}

div:nth-child(3) {
  flex: 0 1 content;
}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.expanded {
  -webkit-line-clamp: initial;
  max-height: unset;
}