<mat-card>
  <a [routerLink]="element?.url">
  <figure [routerLink]="element?.url">
    <app-media-element *ngIf="element?.image"
      class="border-image"
      [clickable]="false"
      [media]="element?.image">
    </app-media-element>
    <span class="border-image" *ngIf="!element?.image">
      {{ element?.avatarPlaceholder }}
    </span>
  </figure>
  </a>
  <a [routerLink]="element?.url">
    <h1 [routerLink]="element?.url">
      {{element?.creator ? element?.creator: ''}}
    </h1>
  </a>

  <app-card-actions
    [actions]="actions"
    [entity]="entity"
    [data]="data"
    (actionClicked)="emit($event)">
  </app-card-actions>

  <a [routerLink]="element?.url">
    <section (click)="$event.stopPropagation();">
      <button mat-button *ngIf="element?.email">
        <a href="mailto:{{element?.email}}">
          <i class="fas fa-envelope"></i>
        </a>
      </button>

      <button mat-button *ngIf="element?.phone">
        <a href="tel:{{element?.phone}}">
          <i class="fas fa-phone"></i>
        </a>
      </button>
    </section>
  </a>
</mat-card>