a {
  color: var(--color-black);
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.non-clickable {
  cursor: default !important;
}

mat-card {
  display: flex;
  justify-content: center;
  width: 18rem;

  * {
    text-align: center;
  }

  img, app-media-element {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.25rem;
    height: 12.25rem;
    color: var(--color-accent-contrast-900);
    background: linear-gradient(135deg, var(--color-accent-900), var(--color-accent-400));
  }

  figure {
    padding-top: 1rem;
    align-self: center;
    position: relative;
    max-height: 12rem;
    max-width: 12rem;
    margin-bottom: var(--gap);
  }

  h1 {
    height: 4.5rem;
    padding: 0 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }

  app-card-actions {
    position: absolute;
    top: 1rem;
    right: .25rem;
  }

  section {
    padding-bottom: 1rem;
  }
}