<div>
  <section *ngFor="let img of images">
    <img *ngIf="selectedImage === img.path"
      [src]="img.path"
      [@fadeInFromRight]>
    <p [appLabel]="img.description" *ngIf="selectedImage === img.path" [@fadeInFromRight]></p>
  </section>
  <div>
    <ng-container *ngFor="let img of images">
      <button mat-button (click)="onImageChange(img.path)">
        <app-icon size="xs" [icon]="selectedImage === img.path
          ? ['fas', 'circle']
          : ['far', 'circle']">
        </app-icon>
      </button>
    </ng-container>
  </div>
</div>