<div>
  <section *ngFor="let img of images">
    <img *ngIf="selectedImage === img.path"
      [src]="img.path"
      [@fadeInFromRight]>
    <p [appLabel]="img.description" *ngIf="selectedImage === img.path" [@fadeInFromRight]></p>
  </section>
  <div>
    <ng-container *ngFor="let img of images">
      <button mat-button (click)="onImageChange(img.path)">
        <span *ngIf="selectedImage === img.path">
          <i class="fas fa-circle fa-xs"></i>
        </span>
        <span *ngIf="selectedImage !== img.path">
          <i class="far fa-circle fa-xs"></i>
        </span>
      </button>
    </ng-container>
  </div>
</div>