<div>
  <section *ngFor="let img of images">
    <img *ngIf="selectedImage === img.path"
      [src]="img.path"
      [@fadeInFromRight]>
    <p [appLabel]="img.description" *ngIf="selectedImage === img.path" [@fadeInFromRight]></p>
  </section>
  <div>
    <ng-container *ngFor="let img of images">
      <button mat-button (click)="onImageChange(img.path)">
        <app-icon *ngIf="selectedImage === img.path" [icon]="['fas', 'circle']" [size]="'xs'"></app-icon>
        <app-icon *ngIf="selectedImage !== img.path" [icon]="['far', 'circle']" [size]="'xs'"></app-icon>
      </button>
    </ng-container>
  </div>
</div>