<main class="main">
  <app-page-title titleLabel="guestArticle"></app-page-title>
  <form class="border-box" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title appLabel="article"></mat-panel-title>
          <mat-panel-description>Pflicht</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label appLabel="title"></mat-label>
          <input matInput id="name" formControlName="title" placeholder="Wooportal">
        </mat-form-field>
        <app-ck-editor-form formControlName="content"></app-ck-editor-form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title appLabel="yourInfo"></mat-panel-title>
          <mat-panel-description>Pflicht</mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <div>
            <mat-form-field appearance="outline">
              <mat-label appLabel="fullname"></mat-label>
              <input matInput id="name" formControlName="name" placeholder="Max Mustermann">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label appLabel="email"></mat-label>
              <input matInput id="email" formControlName="email" placeholder="m.mustermann@example.com">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label appLabel="phone"></mat-label>
              <input matInput id="phone" formControlName="phone" placeholder="0174-1234567">
            </mat-form-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title></mat-panel-title>
          <mat-panel-description>Optional</mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
      <app-hcaptcha-form formControlName="captchaToken"></app-hcaptcha-form>
    <div>
      <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
        <fa-icon click [icon]=" ['far', 'envelope']"></fa-icon>
        <label appLabel="send"></label>
      </button>
    </div>
  </form>
</main>