main {
  display: flex;
  flex-flow: column;
  gap: var(--gap)
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    mat-form-field {
      flex: 2 1 auto;
      min-width: 16rem; //TODO: Widget width as variable
    }
  }
}

fa-icon {
  padding-right: .5rem;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all;
}