<div>
  <section class="border-box">
    <cin-details-title titleLabel="media" [link]="['./form']"
      linkIcon="pen-to-square">
    </cin-details-title>
    <cin-media-slider *ngIf="media && media.length"
      [media]="media" titleType="NONE"></cin-media-slider>
  </section>
</div>

<div>
  <section class="border-box">
    <cin-details-title titleLabel="shortDescription"
      [link]="['./form']" linkIcon="pen-to-square">
    </cin-details-title>
    <p
      [innerHtml]="contest | translatable : 'shortDescription' | async">
    </p>
  </section>

  <section class="border-box">
    <cin-details-title titleLabel="description"
      [link]="['./form']" linkIcon="pen-to-square">
    </cin-details-title>
    <p #contentParagraph
      [innerHtml]="contest | translatable : 'content' | async"></p>
    <a
      *ngIf="expanded"
      mat-button (click)="toggleShowMore()"
      i18nLabel="showLess"></a>
    <a
      *ngIf="contentParagraph.scrollHeight > contentParagraph.clientHeight"
      mat-button (click)="toggleShowMore()"
      i18nLabel="showMore"></a>
  </section>
</div>