footer {
  color: var(--color-primary-900);
  background-color: white;
  border-top: 1px solid var(--color-border);

  padding: var(--gap);

  display: flex;
  flex-flow: column;
  gap: 2rem;
}

strong, a {
  color: var(--color-primary-900);
}

mat-expansion-panel {
  box-shadow: none !important;

  .submenu {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
}

.mat-expansion-panel-header {
  padding: 2px;
  height: 3.25rem;
}

aside {
  display: flex;
  flex-flow: column;

  nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: var(--gap); 
  }
}

:host ::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 1.5rem !important;
  }

  img {
    height: 2rem !important;
    width: unset !important;
  }
}