@import 'src/styles/mixins.scss';

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  app-title-image {
    width: 100%;
  }

  section:first-of-type {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: .5rem;
  }

  section:last-of-type {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    margin: var(--gap) auto;

    width: 80%;

    h2 {
      margin: 0;
    }

    section {
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 3rem;

      * {
        width: 100%;
      }
    }
  }

  div:nth-last-child(2) {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
  }

  div:last-child {
    display: flex;
    flex-direction: column;
    height: 35rem;

    app-map {
      height: 100%;

    }
  }
}

:host ::ng-deep {
  .leaflet-container {
    border-radius: var(--mdc-shape-small) !important;
  }
}