<div class="details">
  <app-title-image [image]="titleImage"></app-title-image>
  <section>
    <app-share-button>
    </app-share-button>

    <app-favorite-piece>
    </app-favorite-piece>

    <app-category-piece [category]="event?.category" [url]="['/portal', url]" [queryParam]="queryParams">
    </app-category-piece>
  </section>
  <section>
    <h2 class="mat-headline-4">
      {{event | translatable: 'name' | async}}
    </h2>

    <section>
      <p [innerHtml]="event | translatable: 'shortDescription' | async"></p>

      <app-portal-event-details-summary (addressClicked)="map.scrollIntoView({behavior: 'smooth'})">
      </app-portal-event-details-summary>

      <p [innerHtml]="event | translatable : 'content' | async"></p>
    </section>

    <app-portal-event-details-organisation *ngIf="event?.organisation">
    </app-portal-event-details-organisation>

    <app-media-slider *ngIf="media && media.length > 0"
      [media]="media"
      [link]="['./media']">
    </app-media-slider>

    <app-portal-event-details-participants>
    </app-portal-event-details-participants>

    <app-rating [currentUser]="currentUser" [ratingDto]="event?.calculatedRatings" (content)="saveComment($event)"
      (rating)="saveRating($event)"
      [currentRatingScore]="(event?.ratings | filter: {userContext: {id: currentUser?.id}})?.[0]?.score">
    </app-rating>

    <app-comment *ngIf="event?.lastComment?.id" [content]="event?.lastComment?.content"
      [created]="event?.lastComment?.created" [userContext]="event?.lastComment?.userContext">
    </app-comment>

    <div>
      <app-save-comment (content)="saveComment($event)" [currentUser]="currentUser"></app-save-comment>
      <a [routerLink]="['./comments']" appLabel="allComments" suffix="»"></a>
    </div>

    <div #map>
      <app-details-title titleLabel="mapView"></app-details-title>
      <app-map
        [queryParams]="false"
        [markerDefinition]="marker">
      </app-map>
    </div>
  </section>

</div>