@import 'src/styles/mixins.scss';

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

 .title-area {
    width: 100%;
    height: 25rem;
    position: relative;

    app-media-title {
      width: 100%;
    }
  }

  .content-area {
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
    margin: var(--gap) auto;
    width: 80%;

    @include responsive(phone) {
      margin: 1.5rem;
      width: 85%;
      gap: var(--gap);
    }

    span {
      margin: 0;
    }

    div {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
    }
  }
}

section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  max-width: max-content;
  overflow: hidden;

  button{
    width: 100%;
  }
  
}

img {
  width: 17.4rem;
  height: 12rem;
}

#card-wrapper {
  justify-content: center;
  display: flex;
  max-width: 100%;
}
