<div class="details">
  <div class="title-area">
    <cin-media-title [media]="mediaTitle"></cin-media-title>
    <div class="card-box">
      <cin-share-button> </cin-share-button>
    </div>
  </div>
  <div class="content-area">
    <span class="details-headline">{{
      contest | translatable : "name" | async
    }}</span>

    <app-contest-portal-details-summary></app-contest-portal-details-summary>

    <p
      class="details-content"
      [innerHtml]="contest | translatable : 'content' | async"></p>
      
      <div id="card-wrapper">
        @if (checkDatePassed(contest?.participationEndDate)) {
          <section
            class="border-box">
            <img src="assets/draw.svg" />
            <a mat-raised-button color="primary"
              [i18nLabel]="(maxParticipationsReached | async) ? 'maxParticipationsReached' : 'participate'"
              [routerLink]="[participationRoute]"
              [disabled]="(maxParticipationsReached | async)">
            </a>
          </section>
        }

        @if (checkDatePassed(contest?.voteEndDate)) {
          <section class="border-box">
            <img src="assets/vote.svg" />
            <a mat-raised-button color="primary"
               i18nLabel="vote"
               [routerLink]="voteRoute">
            </a>
          </section>
        }

        @if (!checkDatePassed(contest?.voteEndDate) && !contestEvaluated) {
          <section class="border-box">
            <img src="assets/waiting.svg" />
            <button mat-raised-button color="primary"
               i18nLabel="evaluationInProgress"
               disabled></button>
          </section>
        }

        @if (!checkDatePassed(contest?.voteEndDate) && contestEvaluated) {
          <section class="border-box">
            <img src="assets/winner.svg" />
            <a mat-raised-button color="primary"
               i18nLabel="showWinners"
               [routerLink]="'winners'">
            </a>
          </section>
        }
      </div>

    <cin-media-slider
      *ngIf="media && media.length"
      [media]="media"
      [link]="['./media']">
    </cin-media-slider>

    <app-portal-contest-details-comment *ngIf="contest?.commentsAllowed">
    </app-portal-contest-details-comment>
  </div>
</div>
