mat-card {
  width: 72rem; //TODO
  display: flex;
  flex-direction: row;
  height: 22rem;
  gap: var(--gap);

}

figure {
  width: 50%;
  border-top-left-radius: var(--mdc-shape-small);
  border-bottom-left-radius: var(--mdc-shape-small);
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 50%;
}

mat-card-header {
  padding-left: .5rem;
  padding-bottom: 1rem;

  app-favorite-piece {
    padding-right: 1rem;
  }
}

mat-card-content {
  display: flex;
  flex-flow: column wrap;

  padding-left: .5rem; //for shadow of avatar
  padding-right: var(--gap);
  padding-bottom: 0 !important;

  section {
    height: 11.5rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

mat-card-actions {
  gap: 1rem;
  padding: 0;

  img {
    width: 2rem;
    height: 2rem;
  }
}