:host {
  display: flex;
  flex-flow: column;

  div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  
    cursor: pointer;
    position: relative;
  
    width: 100%;
    height: 15rem;
    border: dashed 2px var(--color-dark-gray);
    background-color: var(--color-light);
  
    input {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      opacity: 0;
  
      cursor: pointer;
    }
  
    section {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: .5rem
    }
  
    &.dragged {
      border: dashed 2px var(--color-primary-500);
      background-color: var(--color-primary-100);
    
      fa-icon {
        color: var(--color-primary-500);
      }
    }

    &.disabled {
      cursor: unset;

      input {
        cursor: unset;
      }

      fa-icon, span {
        color: var(--color-gray);
      }
    }
  }
}