<section class="dropzone">
  <div
    [class.dragged]="isDraggedOver"
    [class.disabled]="maxFiles && files.length >= maxFiles">
    <input type="file"
      multiple
      [disabled]="maxFiles && files.length >= maxFiles"
      (change)="onFileBrowse($event)" />
    <section>
      <fa-icon size="4x" [icon]="['fas', 'upload']"></fa-icon>
      <span appLabel="dragAndDropHere"></span>
    </section>
    <span appLabel="or"></span>
    <button mat-raised-button
      color="primary"
      [disabled]="maxFiles && files.length >= maxFiles">
      <span appLabel="browseFiles"></span>
    </button>
  </div>
  <small appLabel="notMoreThanXFiles" [variables]="labelVariables"></small>
  <small [appLabel]="notBeLargerLabel" [variables]="labelVariables"></small>
</section>

<div class="files">
  <app-details-title *ngIf="files.length" titleLabel="files">
  </app-details-title>

  <section>
    <app-file-card *ngFor="let file of files; let i = index;"
      [file]="file"
      action="DELETE"
      (deleted)="removeFile(i)">
    </app-file-card>
  </section>

</div>