<div class="border-box">
  <section>
    <h2 class="mat-headline-6" appLabel="thankYou"></h2> 
    <i class="far fa-circle-check fa-4x" [style.color]="'var(--color-success-900)'"></i>
    <p appLabel="guestArticleSuccesMessage"></p>
    <mat-divider></mat-divider>
    <p appLabel="becomeContentCreaterText"></p>
    <button mat-flat-button color="primary" [routerLink]="['/', accountUrl, 'register']">
      <span appLabel="register"></span>
    </button>
  </section>

  <img src="assets/success.svg">
</div>