@import 'src/styles/mixins.scss';

div {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

app-survey-filter {
  margin-left: auto;
}

@include responsive(phone) {
  app-sponsored-card {
    display: none;
  }
}

@include responsive(tablet-desktop) {
  app-content-card {
    display: none;
  }
}