<div class="main">
  <app-page-title title="surveys"></app-page-title>

  <app-sponsored-card *ngIf="(sponsored | async)?.id" 
    entity="SurveyEntity" 
    [data]="sponsored | async">
  </app-sponsored-card>

  <app-content-card *ngIf="(sponsored | async)?.id" 
    entity="SurveyEntity" 
    [data]="sponsored | async">
  </app-content-card>
  
  <app-survey-filter 
    (paramsUpdated)="updateParams($event)"
    (rawParamsUpdated)="updateRawParams($event)">
  </app-survey-filter>

  <ng-container *ngIf="(surveys | async)?.total; else emptyResult">
    <app-table-card 
      entity="SurveyEntity" 
      [data]="surveys"
      [cardType]="cardType" 
      [sortOptions]="sortOptions"
      (sortPaginate)="updateParams($event)">
    </app-table-card>
  </ng-container>
  
  <ng-template #emptyResult>
    <app-portal-survey-overview-empty>
    </app-portal-survey-overview-empty>
  </ng-template>

</div>