@import 'src/styles/mixins.scss';

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  app-image {
    height: 3rem;
  }

  app-image:first-of-type {
    width: 3rem;
  }

  app-image:last-of-type {
    width: 10rem;

    @include responsive(maxi) {
      display: none;
    }
  }
}

:host ::ng-deep {
  img {
    object-fit: contain !important;
  }
}

