@import 'ngx-cinlib/styles/mobile-mixins.scss';

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  img {
    width: 3rem;
  }

  img:first-of-type {
    max-height: 3rem;
  }

  .logo-text {

    width: 10rem;

    @include responsive(maxi) {
      display: none;
    }
  }
}


