@import 'src/styles/mixins.scss';

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  img {
    width: 3rem;
  }

  img:first-of-type {
    height: 3rem;
  }

  img:last-of-type {

    width: 10rem;

    @include responsive(maxi) {
      display: none;
    }
  }
}


