@import 'src/styles/mixins.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button, a {
    align-self: flex-end;

    span {
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }
}