<form>
  <mat-form-field appearance="outline">
    <input type="text" placeholder="Suche" aria-label="text" matInput [formControl]="searchControl"
      [matAutocomplete]="auto" (click)="$event.stopPropagation()">
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="searchResult | async as entities">
        <mat-option (click)="showOneEntity(entity.id)" *ngFor="let entity of entities.slice(0, 4)" [value]="entity">
          {{entity.id}}
        </mat-option>
        <mat-divider *ngIf="entities.length > 4"></mat-divider>
        <mat-option (click)="showAllEntities()" *ngIf="entities.length > 4">Erweitere Ansicht</mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>