<header>
  <img [src]="element?.media?.url" alt="hero-section">
  <section>
    <div>
      <div id="wrapper">
        <div id="container">
          <span id="text">{{element?.title | translatable: 'translatable' | async}}</span>
        </div>
      </div>

      <p [innerHTML]="element?.text | translatable: 'translatable' | async"></p>

      @if (element?.url) {
        <app-gradient-button 
          [url]="element?.url?.value"
          [label]="element?.button
          ? (element?.button | translatable: 'translatable' | async)
          : 'learnMore'">
        </app-gradient-button>
      }
    </div>
  </section>
</header>