<header>
  <img [src]="element?.media?.url" alt="hero-section">
  <section>
    <div>
      <div id="wrapper">
        <div id="container">
          <span id="text">{{element?.title | translatable: 'translatable' | async}}</span>
        </div>
      </div>

      <p [innerHTML]="element?.text | translatable: 'translatable' | async"></p>

      @if (element?.url) {
        <a mat-raised-button
          [href]="element?.url?.value"
          [i18nLabel]="element?.button
            ? (element?.button | translatable: 'translatable' | async)
            : 'learnMore'">
        </a>
      }
    </div>
  </section>
</header>