@import 'src/styles/mixins.scss';

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  app-title-image {
    width: 100%;
  }

  section:last-of-type {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    width: 80%;
    margin: var(--gap) auto;

    h2{
      margin: unset;
    }

    div{
      display: flex;
      text-align: center;
      align-content: center;
      flex-flow: column wrap;
      gap: var(--gap);
    }
  }
}
