<div class="details">
  <div class="title-area">
    <app-title-image [image]="titleImage"></app-title-image>
    <section class="details-action-box">
      <app-share-button>
      </app-share-button>

      <app-favorite-piece>
      </app-favorite-piece>
    </section>
  </div>
  <section class="content-area">
    <h2 class="mat-headline-4">{{contest | translatable: 'name' | async}}</h2>

    <app-portal-contest-details-summary></app-portal-contest-details-summary>

    <p [innerHtml]="contest | translatable: 'content' | async"></p>

    <div>
      <app-details-title titleLabel="attend"></app-details-title>
      <img src="assets/features/contest.svg" alt="contest-image">
      <button mat-raised-button color="primary" appLabel="participateContest"></button>
    </div>
    
    <app-portal-contest-details-comment>
    </app-portal-contest-details-comment>
  </section>
</div>