<div class="main">
  <app-page-title titleLabel="contests"></app-page-title>
  
  <app-sponsored-card 
    *ngIf="(sponsored | async)?.id"
    entity="ContestEntity"
    [data]="sponsored | async">
  </app-sponsored-card>

  <app-contest-filter 
  (paramsUpdated)="updateParams($event)">
  </app-contest-filter>

  <ng-container *ngIf="(activeContests | async)?.length">
    <app-sub-title titleLabel="activeContests"></app-sub-title>
    <app-portal-contest-overview-active >
    </app-portal-contest-overview-active>
  </ng-container>

  <ng-container *ngIf="(voteableContests | async)?.length">
    <app-sub-title titleLabel="voteableContests"></app-sub-title>
    <app-portal-contest-overview-voteable>
    </app-portal-contest-overview-voteable>
  </ng-container>

  <ng-container *ngIf="(completedContests | async)?.length">
    <app-sub-title titleLabel="completedContests"></app-sub-title>
    <app-portal-contest-overview-completed>
    </app-portal-contest-overview-completed>
  </ng-container>

  <ng-template #emptyResult>
    <app-no-data 
      titleLabel="noData" 
      text="noDataContent">
    </app-no-data>
  </ng-template>
</div>