<div *ngIf="titleLabel || link || title">
  <app-slider-header *ngIf="titleLabel"
    [link]="link"
    [linkLabel]="linkLabel"
    [titleLabel]="titleLabel"
    [titleType]="titleType">
  </app-slider-header>
  <app-slider-header *ngIf="title"
    [link]="link"
    [linkLabel]="linkLabel"
    [title]="title"
    [titleType]="titleType">
  </app-slider-header>
</div>

<ng-container *ngIf="data?.length; else emptyResult;">
  <ng-container [ngSwitch]="cardType">
    <cin-slider *ngSwitchCase="types.contact">
      <app-contact-card *ngFor="let card of data" [entity]="entity" [data]="card"></app-contact-card>
    </cin-slider>
    <cin-slider *ngSwitchCase="types.member">
      <app-member-card *ngFor="let card of data" [entity]="entity" [data]="card"></app-member-card>
    </cin-slider>
    <cin-slider *ngSwitchCase="types.content">
      <app-content-card *ngFor="let card of data" [entity]="entity" [data]="card"></app-content-card>
    </cin-slider>
    <cin-slider *ngSwitchCase="types.sponsored">
      <app-sponsored-card *ngFor="let card of data" [entity]="entity" [data]="card"></app-sponsored-card>
    </cin-slider>
  </ng-container>
</ng-container>
<ng-template #emptyResult>
  <app-no-data 
    titleLabel="noData" 
    text="noRecentData">
  </app-no-data>
</ng-template>