<div>
  <cin-details-title titleLabel="submitReview"></cin-details-title>
  <app-rating-input
    [currentValue]="currentValue"
    [maxRating]="maxRating | async"
    (valueSelected)="rated($event)">
  </app-rating-input>
</div>

<div class="current-ratings">
  <cin-details-title titleLabel="userReviews"></cin-details-title>
  <section>
    <app-rating-input
      [currentValue]="ratings?.average"
      [maxRating]="maxRating | async"
      [disabled]="true">
    </app-rating-input>
    <div *ngIf="ratings?.average">
      <strong>
        {{ ratings?.average | number:'1.0-1' }} / {{ maxRating | async }}
      </strong>
    </div>
  </section>  
</div>

<div class="label-section">
  <span class="mat-subtitle-1">{{ratings?.sum ?? 0}}</span>
  <span class="mat-subtitle-1" [appLabel]="(ratings?.sum) !== 1 ? 'ratings' : 'rating'"></span>
</div>

<div *ngIf="ratings?.series"
  class="distribution-section">
  <app-rating-distribution *ngFor="let item of ratings?.series"
    [key]="item?.name"
    [value]="item?.value">
  </app-rating-distribution>
</div>