<header> 
  <app-image [src]="'assets/hero.jpg'"></app-image>
  <section>
    <div>
      <h1 class="mat-headline-1 title-gradient">{{page | translatable: "name" | async}}</h1>
      <p>{{page | translatable: "shortDescription" | async}}</p>
      <button mat-raised-button color="primary" *ngIf="(page | async)?.callUrl" [routerLink]="(page | async)?.callUrl">
        {{page | translatable: "callText" | async}}
      </button>
    </div>
  </section>
</header>
<div class="main">
  <app-page-features [pageFeatures]="(page | async)?.pageFeatures"></app-page-features>
</div>
