@use '@angular/material' as mat;
@import 'src/styles/mixins.scss';
@import 'src/styles/theme/theme.scss'; 

header {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: stretch;
  min-height: 80vh;
  padding-bottom: var(--gap);

  app-image {
    flex: 2 1 auto;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
  }

  section {
    flex: 2 1 40rem;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 5%;

    button {
      color: var(--color-primary-contrast-700);
      background-color: var(--color-primary-700);
      margin-top: 1rem;
    }
  }

  h1 {
    @include responsive(phone) {
      @include mat.typography-level($typography, 'headline-2');
    }
  }
}
