<header> 
  <section>
    <h1 class="mat-headline-1">{{page | translatable: "name" | async}}</h1>
    <p>{{page | translatable: "shortDescription" | async}}</p>
    <button mat-flat-button color="primary"
      *ngIf="(page | async)?.callUrl" [routerLink]="(page | async)?.callUrl">
        {{page | translatable: "callText" | async}}
    </button>
  </section>
  <app-image [src]="'assets/hero.jpg'"></app-image>
</header>
<div class="main">
  <app-page-features [pageFeatures]="(page | async)?.pageFeatures"></app-page-features>
</div>
