<header>
  <app-image [image]="(page | async)?.titleImage" [rounded]="true"></app-image>
  <section class="main">
    <h1 class="mat-headline-3">{{page | translatable: "name" | async}}</h1>
    <p>{{page | translatable: "shortDescription" | async}}</p>
    <button *ngIf="(page | async)?.callUrl" mat-raised-button color="primary" [routerLink]="(page | async)?.callUrl">
      {{page | translatable: "callText" | async}}
    </button>
  </section>
</header>
<div class="main">
  <app-page-features [pageFeatures]="(page | async)?.pageFeatures"></app-page-features>
</div>
