svg {
  width: 2rem;
  text-align: center;
}

.trigger-button {
  height: var(--mat-expansion-header-collapsed-state-height);
  padding: 0 1.75rem; //TODO: same width as accordion menu item
}

.trigger {
  position: absolute;
  top: 0;
  right: -1rem;
}