<button mat-button
  class="trigger-button"
  [ngClass]="{'menu-active': menuService.isRouteActive(this.item) }"
  (click)="click(menuTrigger)">
  <app-icon *ngIf="item?.icon" [icon]="['fas', item!.icon!]" [size]="'lg'"></app-icon>
  <div #menuTrigger="matMenuTrigger" class="trigger" [matMenuTriggerFor]="menu"></div>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let child of item?.childs"
    [appLabel]="child.name"
    [routerLink]="menuService.createRouterLink(child)"
    routerLinkActive="menu-active">
  </button>
</mat-menu>