<app-page-title titleLabel="organisationConfiguration">
</app-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">

  <cin-form-step titleLabel="configuration" [formGroup]="form">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="whichRoleForMembers"></mat-label>
        <mat-select formControlName="memberRole">
          <mat-option [value]="role.id"
            *ngFor="let role of roles | async">
              <span>{{ role | translatable: "name" | async }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>
    <cin-grid-row columns="2">
      <mat-slide-toggle formControlName="approvalRequired" color="primary">
        <span appLabel="approvalRequired"></span>
      </mat-slide-toggle>
    </cin-grid-row>
  </cin-form-step>

</cin-form-stepper>