<div>
  <section>

    <app-portal-event-details-calendar>
    </app-portal-event-details-calendar>

    <cin-address-piece *ngIf="event?.address"
      [address]="event?.address"
      [link]="event?.videoChatLink"
      (addressClicked)="onAddressClicked()">
    </cin-address-piece>

    <cin-mail-piece *ngIf="event?.contact?.email"
      [mail]="event?.contact?.email">
    </cin-mail-piece>

    <cin-phone-piece *ngIf="event?.contact?.phone"
      [phone]="event?.contact?.phone">
    </cin-phone-piece>
  </section>

  <section>
    <app-price [price]="event?.entryFee"></app-price>

    <app-portal-event-details-attendee
      *ngIf="event?.attendeeConfiguration">
    </app-portal-event-details-attendee>
  </section>
  
</div>