@import 'src/styles/mixins.scss';

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;

  .title-area {
      width: 100%;
      height: 25rem;
      position: relative;
  
      app-title-image {
        width: 100%;
      }
    }

  app-category-piece {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

 .content-area {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 5rem;
    margin: 1rem auto;

    width: 80%;

    h2 {
      margin: 0;
    }

    section {
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 3rem;

      * {
        width: 100%;
      }
    }
  }

  .map-area {
    display: flex;
    flex-direction: column;
    height: 35rem;

    app-map {
      height: 100%;

    }
  }
}

:host ::ng-deep {
  .leaflet-container {
    border-radius: var(--mdc-shape-small) !important;
  }
}