<cin-page-title titleLabel="welcome"></cin-page-title>

<section class="border-box">
  <p i18nLabel="welcomeTextBlock1"></p>
  <p i18nLabel="welcomeTextBlock2"></p>
  <p i18nLabel="welcomeTextBlock3"></p>
  <p i18nLabel="welcomeTextBlock4"></p>
  <p i18nLabel="welcomeTextBlock5"></p>

  <mat-divider></mat-divider>

  <button mat-raised-button
    color="primary"
    i18nLabel="schowContactData"
    (click)="openContact()">
  </button>
</section>

<section>
  <cin-sub-title titleLabel="roadmap">
  </cin-sub-title>

  <app-flip-card-slider (elementClicked)="openMilestoneElement($event)"
    [data]="flipCardSliderData | async">
  </app-flip-card-slider>
</section>