<header>
  <app-logo></app-logo>
  <section>
    <app-portal-menu-overlay *ngFor="let menuItem of menu | async"
      [root]="true"
      [parent]="menuItem">
    </app-portal-menu-overlay>
  </section>
  <section>

    <ng-container *ngIf="!currentUser?.id">
      <div *ngIf="(isSearching | async) === false" [@fadeIn]>
        <button mat-stroked-button color="primary" [routerLink]="['/user', 'register']">
          <span appLabel="register"></span>
        </button>
        <button mat-stroked-button color="primary" [routerLink]="['/user', 'login']">
            <span appLabel="login"></span>
        </button>
      </div>
    </ng-container>

    <app-search></app-search>

    <ng-container *ngIf="(isSearching | async) === false">
      
      <app-portal-header-language *ngIf="!currentUser?.id" [@fadeIn]></app-portal-header-language>
      
      <app-portal-header-notifications *ngIf="currentUser?.id" [@fadeIn]></app-portal-header-notifications>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" [@fadeIn]>
        <fa-icon *ngIf="!currentUser?.id" [icon]="['far', 'circle-user']"></fa-icon>
        <app-avatar *ngIf="currentUser?.id" [user]="currentUser"></app-avatar>
        
      </button>
      <mat-menu #userMenu="matMenu">
        <app-portal-header-user></app-portal-header-user>
      </mat-menu>
      
    </ng-container>

  </section>
</header>
