<main class="main">
  <form class="border-box" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="mat-headline-5" appLabel="resetPassword"></h2>
    <p appLabel="insertNewPassword"></p>
    <app-password-confirm formControlName="password"></app-password-confirm>
    <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
      <label appLabel="send"></label>
    </button>
    <small>
      <a [routerLink]="['/user', 'login']" appLabel="backToLogin"></a>
    </small>
  </form>
</main>