footer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  padding: var(--gap);

  color: var(--color-black);
  background-color: white;
  border-top: 1px solid var(--color-border);
}

nav {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

a {
  color: var(--color-black);
}