.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

a {
  display: flex;
  justify-content: flex-end;
}

a:first-of-type {
  padding-bottom: 1rem;
}

a:last-of-type {
  padding-top: 1rem;
}

span {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
 
  app-date-piece {
    display: flex;
    align-items: end;
    margin-left: auto;
  }  
}

.text {
  display: flex;
  flex-wrap: wrap;
}

:host ::ng-deep app-date-piece {
  fa-icon {
    display: none;
  }

  time {
    color: gray;
    font-size: .875rem;
  }
}

.unread-notification {
  background-color: var(--color-primary-50);
}