div {
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  button {
    color: var(--color-evaluation);
  }
}