<mat-accordion>
  <mat-expansion-panel #panel
    [hideToggle]="!item?.childs?.length || item?.childs?.length === 1 "
    (opened)="click()">
    <mat-expansion-panel-header>
      <mat-panel-title [ngClass]="{'menu-active': active }">     
        <cin-icon *ngIf="item?.icon" [icon]="['fas', item!.icon!]" [size]="'lg'"></cin-icon>
        <strong [i18nLabel]="item?.name"></strong>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="sub-menu">
      <ng-container *ngIf="(item?.childs?.length || 0) > 1"></ng-container>
      <a mat-button *ngFor="let child of item?.childs"
        [i18nLabel]="child.name"
        [routerLink]="menuService.createRouterLink(child)"
        routerLinkActive="menu-active"
        [routerLinkActiveOptions]="{ exact: true }">
      </a>
    </div>

  </mat-expansion-panel>
</mat-accordion>