<mat-accordion>
  <mat-expansion-panel #panel
    [hideToggle]="!childs?.length"
    (opened)="click(panel)">
    <mat-expansion-panel-header>
      <mat-panel-title [ngClass]="{'menu-active': active}">
        <fa-icon *ngIf="icon"
          size="xl" [icon]="['fas', icon]">
        </fa-icon>
        <span class="mat-headline-6"
          [appLabel]="label">
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="sub-menu">
      <button mat-button *ngFor="let child of childs"
        [appLabel]="child.name"
        [routerLink]="[menuService.createRouterLink(child)]"
        routerLinkActive="menu-active">
      </button>
    </div>

  </mat-expansion-panel>
</mat-accordion>