svg {
  width: 2rem;
  text-align: center;
}

mat-accordion {
  width: 100%;

  mat-expansion-panel {
    box-shadow: none !important;
  }
  
  mat-panel-title {
    display: flex;
    gap: 1rem;
  }

  .sub-menu {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }

  .mdc-button {
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
  }
}