<div class="map-top">
  <div class="map-nav">
    <div>
      <div *ngIf="(results | async) as results">
        {{ results.count }}
        <span *ngIf="results.count !== 1" [appLabel]="results.labelPlural"></span>
        <span *ngIf="results.count === 1" [appLabel]="results.label"></span>
      </div>
    </div>

    <button mat-raised-button (click)="showFilter = !showFilter">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span appLabel="Filter"></span>
    </button>
  </div>

  <div class="map-filter" *ngIf="showFilter && (activeFilter | async) as filter">
    <div *ngIf="filter === FilterKey.events">
      <app-portal-map-event-filter></app-portal-map-event-filter>
    </div>
    <div *ngIf="filter === FilterKey.organisations">
      <app-portal-map-organisations-filter></app-portal-map-organisations-filter>
    </div>
    <div *ngIf="filter === FilterKey.deals">
    </div>
  </div>
</div>


<div class="map-container">
  <div leaflet
       [leafletOptions]="leafletOptions"
       [leafletFitBounds]="(mapBounds | async) ?? defaultBounds"
       (leafletMapReady)="mapReady($event)">
    <div *ngIf="(markers | async) as markers"
         [leafletMarkerCluster]="markers"
         [leafletMarkerClusterOptions]="markerClusterOptions"></div>
  </div>

  <mat-button-toggle-group (change)="setFilter($event.value)" [value]="activeFilter | async" name="filter">
    <mat-button-toggle [value]="FilterKey.events"><span appLabel="events"></span></mat-button-toggle>
    <mat-button-toggle [value]="FilterKey.organisations"><span appLabel="organisations"></span></mat-button-toggle>
    <mat-button-toggle [value]="FilterKey.deals"><span appLabel="deals"></span></mat-button-toggle>
  </mat-button-toggle-group>

  <div class="map-attribution">
    <a href="https://leafletjs.com" title="A JavaScript library for interactive maps"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" class="leaflet-attribution-flag"><path fill="#4C7BE1" d="M0 0h12v4H0z"></path><path fill="#FFD500" d="M0 4h12v3H0z"></path><path fill="#E0BC00" d="M0 7h12v1H0z"></path></svg> Leaflet</a> <span aria-hidden="true">|</span> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
  </div>
</div>

<app-map-card-list *ngIf="(results | async) as results" [entity]="results.entity" [cards]="results.data"></app-map-card-list>
