<div class="map-menu">
  <div class="map-nav">
    <div>
      <div *ngIf="(results | async) as results">
        {{ results.count }}
        <span *ngIf="results.count !== 1" [appLabel]="results.labelPlural"></span>
        <span *ngIf="results.count === 1" [appLabel]="results.label"></span>
      </div>
    </div>

    <button mat-raised-button (click)="showFilter = !showFilter">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span appLabel="Filter"></span>
    </button>
  </div>

  <div class="map-filter" *ngIf="showFilter && (activeFilter | async) as filter">
    <div *ngIf="filter === FilterKey.events">
      <app-portal-map-event-filter></app-portal-map-event-filter>
    </div>
    <div *ngIf="filter === FilterKey.organisations">
      <app-portal-map-organisations-filter></app-portal-map-organisations-filter>
    </div>
    <div *ngIf="filter === FilterKey.deals">
    </div>
  </div>
</div>


<div class="map-container">
  <div leaflet
       [leafletOptions]="leafletOptions"
       [leafletFitBounds]="(mapBounds | async) ?? defaultBounds"
       (leafletMapReady)="mapReady($event)">
    <div *ngIf="(markers | async) as markers"
         [leafletMarkerCluster]="markers"
         [leafletMarkerClusterOptions]="markerClusterOptions"></div>
  </div>

  <app-map-attribution></app-map-attribution>

  <mat-button-toggle-group (change)="setFilter($event.value)" [value]="activeFilter | async" name="filter">
    <mat-button-toggle [value]="FilterKey.events"><span appLabel="events"></span></mat-button-toggle>
    <mat-button-toggle [value]="FilterKey.organisations"><span appLabel="organisations"></span></mat-button-toggle>
    <mat-button-toggle [value]="FilterKey.deals"><span appLabel="deals"></span></mat-button-toggle>
  </mat-button-toggle-group>
</div>

<app-map-card-list *ngIf="(results | async) as results" [entity]="results.entity" [cards]="results.data"></app-map-card-list>
