@import 'src/styles/mixins.scss';

:host {
  display: block;
  position: relative;
  top: 0;

  --map-bg: white;
  --map-gap: 1rem;
  --map-z: 0;
  --map-height: calc(100vh - 2*var(--mat-toolbar-height) - 2rem);

  --mat-toolbar-height: 56px; // TODO: Fix for main toolbar

  .map-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: calc(var(--map-z) + 10);

    min-height: var(--mat-toolbar-height);
    box-sizing: border-box;
    padding: var(--map-gap);

    border-radius: 0 0 var(--map-gap) var(--map-gap);
    background-color: var(--map-bg);

    .map-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      font-weight: bold;
    }
  }

  .map-container {
    position: relative;
    top: var(--mat-toolbar-height);
    height: var(--map-height);

    div[leaflet] {
      z-index: var(--map-z);
      height: 100%;
      border-radius: 0 0 var(--map-gap) var(--map-gap);
    }

    mat-button-toggle-group {
      position: absolute;
      left: calc(0.5 * var(--map-gap));
      bottom: calc(2 * var(--map-gap));
    }

    app-map-attribution {
      position: absolute;
      left: calc(1 * var(--map-gap));
      bottom: calc(var(--map-gap));
      font-size: xx-small;
      opacity: 0.5;
    }
  }

  app-map-card-list {
    position: relative;
    top: calc(var(--mat-toolbar-height) - var(--map-gap));
    margin: 0 calc(0.5 * var(--map-gap));
    border-radius: var(--map-gap);
    padding: var(--map-gap);
    box-sizing: border-box;
    background-color: var(--map-bg);
    box-shadow: var(--map-box-shadow); // TODO Define in variables? (from mat-card)
  }

  @include responsive(desktop) {

    --map-desktop-menu-width: 30vw;

    .map-menu {
      width: var(--map-desktop-menu-width);
    }

    .map-container {
      top: 0;
      left: var(--map-desktop-menu-width);
      width: calc(100vw - var(--map-desktop-menu-width));

      div[leaflet] {
        border-radius: 0;
      }

      mat-button-toggle-group {
        left: var(--map-gap);
        bottom: var(--map-gap);
      }

      app-map-attribution {
        position: absolute;
        left: unset;
        right: 0;
        bottom: 0;
        font-size: small;
        opacity: 1;
      }
    }

    app-map-card-list {
      position: absolute;
      top: var(--mat-toolbar-height);
      left: 0;
      width: var(--map-desktop-menu-width);
      height: calc(var(--map-height) - var(--mat-toolbar-height));
      overflow-y: scroll;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
