<h2 mat-dialog-title i18nLabel="chooseContentType"></h2>
<mat-dialog-content>
  @for (embeddingType of embeddingTypes | async; track embeddingType) {
    <mat-card
      [mat-dialog-close]="embeddingType">
      <mat-card-content>
        <h3>{{ embeddingType | translatable: 'name' | async }}</h3>
        <span>{{ embeddingType | translatable: 'description' | async }}</span>
      </mat-card-content>
    </mat-card>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    mat-dialog-close
    i18nLabel="cancel">
  </button>
</mat-dialog-actions>