<h2 mat-dialog-title appLabel="chooseContentType"></h2>

<mat-dialog-content>
  <mat-card *ngFor="let embeddingType of embeddingTypes | async"
    [mat-dialog-close]="embeddingType">
    <mat-card-content>
      <h3>{{ embeddingType | translatable: 'name' | async }}</h3>
      <span>{{ embeddingType | translatable: 'description' | async }}</span>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button
    mat-dialog-close
    appLabel="cancel">
  </button>
</mat-dialog-actions>