
.leaflet-popup-content {
  margin: 0;
  line-height: revert;
}

.leaflet-popup-content-wrapper {
  color: revert;
  text-align: revert;
}

.leaflet-popup {
  text-align: revert;
}

.leaflet-container {
  font-family: revert;
}



/* see MarkerCluster.Default.css */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  --bg-marker: rgba(73, 145, 178, 0.6);

  background-color: var(--bg-marker);
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #eee;
  background-color: var(--bg-marker);
  //border: 2px solid #eee;
}
.marker-cluster span {
  line-height: 30px;
}
