@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tablet-desktop {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (max-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == maxi {
    @media (max-width: 1279px) {
      @content;
    }
  }
}