html, body {
  height: 100%; 
  background-color: var(--color-background);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main {
  width: 90rem;
  max-width: calc(100% - var(--gap));
  margin: var(--gap) auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-accent-900);

  &:hover {
    text-decoration: underline;
  }
}

.title-gradient {
  background-image: linear-gradient(to right, var(--color-primary-900), var(--color-primary-400));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}