@use '@angular/material' as mat;
@import '@angular/material/theming';
@import 'src/styles/theme/theme.scss';
@import 'src/styles/mixins.scss';

html,
body {
  height: 100%;
  background-color: var(--color-background);
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

.main {
  width: 90rem;
  max-width: calc(100% - var(--gap));
  margin: var(--gap) auto;
}

.details {
  width: 60rem;
  max-width: calc(100% - var(--gap));
  margin: var(--gap) auto;
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

.border-box {
  padding: var(--gap);
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

.border-image {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 2px 8px 0px #00000026;
}

button {
  * {
    cursor: pointer;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-accent-900);

  &:hover {
    text-decoration: underline;
  }
}

fieldset {
  border: unset;
  padding: unset;
}

figure {
  margin: unset;
}

.title-gradient {
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primary-900), var(--color-primary-400));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  margin-bottom: 5rem;

  @include mat.typography-level($typography, 'headline-1');

  @include responsive(phone) {
    @include mat.typography-level($typography, 'headline-2');
  }
}