@use '@angular/material' as mat;
@import '@angular/material/theming';
@import 'src/styles/theme/theme.scss';
@import 'src/styles/mixins.scss';

html,
body {
  height: 100%;
  background-color: var(--color-background);
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

body.inheritCursors * {
  cursor: inherit !important;
}

.main {
  width: 90rem;
  max-width: calc(100% - var(--gap));
  margin: var(--gap) auto;
}

.main-admin {
  max-width: calc(100% - var(--gap));
  min-height: calc(100vh - 3rem);
  margin: var(--gap) var(--gap) 10rem var(--gap);
}

.menu-active {
  color: var(--color-primary-500) !important;

  fa-icon {
    color: var(--color-primary-500) !important;
  }
}

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 60rem;
  max-width: calc(100% - var(--gap));
  margin: var(--gap) auto;
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

.piece-card {
  font-size: .875rem;
}

.piece {
  font-size: 1rem;
  word-break: break-all;
  cursor: pointer;
  font-style: italic;
      
  @include responsive(phone) {
    font-size: .875rem;
    word-break: break-all;
    font-style: italic;
  }
}

.details-content {
  font-size: var(--details-content-font-size);
  line-height: var(--details-content-line-height);
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;

  @include responsive(phone) {
    font-size: 1rem;
    line-height: 1.6;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
  }

}

.details-headline {
  font-size: 2.125rem;
  line-height: 3.1875rem;
  font-weight: 600;
  letter-spacing: 0.015625em;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;

  @include responsive(phone) {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: 0em;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}

.card-box {
  display: flex;
  right: 1rem;
  bottom: 1rem;
  align-items: center;
  border-radius: var(--mdc-shape-small);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
  background-color: rgba(255, 255, 255, 0.849);
  position: absolute;
}

.border-box {
  padding: var(--gap);
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

.border-image {
  border-radius: 50%;
  outline: 2px solid white;
  box-shadow: 0px 2px 8px 0px #00000026;
}

button {
  * {
    cursor: pointer;
  }
}

/* a Tag stylings */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  
  &:active {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

.link, .details-content a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--color-link);
  }

  &:visited {
    color: var(--color-link);
  }
}

footer * a {
  &:hover {
    text-decoration: underline;
  }
}

fa-icon {
  color: var(--color-dark-gray);
}


fieldset {
  border: unset;
  padding: unset;
}

figure {
  margin: unset;
}

.title-gradient {
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primary-900), var(--color-primary-400));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  margin-bottom: 5rem;

  @include mat.typography-level($typography, 'headline-1');

  @include responsive(phone) {
    @include mat.typography-level($typography, 'headline-2');
  }
}

.media-dialog {
  .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    background-color: transparent;
    box-shadow: none;
    max-width: none;
    height: 100vh;
    width: 100vw;
  }
}

.media-form-dialog {
  .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    background-color: var(--color-background);
  }
}

::-webkit-scrollbar {
  height: .25em;
  width: .25em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, var(--color-dark-gray), var(--color-gray));
  border-radius: 100vw;
}


//TODO: Remove when fixed: https://github.com/h2qutc/angular-material-components/issues/348
.mat-datepicker-content {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  background-color: #fff;
  color: #000000de
}

.mat-calendar-body-selected {
  background: var(--color-primary-500) !important;
  color: var(--color-primary-contrast-500) !important;
}

.mat-calendar-body-cell-content {
  border: none !important;
}