.container {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  > section {
    display: flex;
    gap: 1rem;

    button {

      &.active {
        border: 1px solid var(--color-primary-500) !important;
      }

      margin-left: auto;

      span {
        margin: 0 1rem;
      }

      .active-icon {
        color: var(--color-success-500);
      }
    }
  }
}

mat-card {
  overflow: hidden;
}

mat-card-actions > section {
  width: 100%;
}