.container {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;

    button {

      div {
        display: flex;
        gap: 1rem;
      }

      &.active {
        border: 1px solid var(--color-primary-500) !important;
      }

      .active-icon {
        color: var(--color-success-500);
      }
    }
  }
}

mat-card {
  overflow: hidden;
}

mat-card-content {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

mat-card-actions > section {
  width: 100%;
}