<div class="container">
  <section>
    <app-radio-button-group
      [inputs]="inputs"
      [initValue]="display"
      [queryParamKey]="displayQueryParam">
    </app-radio-button-group>
    <button mat-raised-button
      (click)="filtersCollapsed = !filtersCollapsed"
      [class.active] = "!filtersCollapsed">
        <div>
          <fa-icon [icon]="['fas', 'filter']"></fa-icon>
          <span appLabel="filter"></span>
          <fa-icon *ngIf="(filtersActive | async)" class="active-icon" [icon]="['fas', 'check']"></fa-icon>
        </div>
    </button>
  </section>
  <mat-card [@collapse]="!filtersCollapsed">
    <mat-card-content>

      <app-filter-targetgroup>
      </app-filter-targetgroup>

      <app-filter-event-category>
      </app-filter-event-category>

      <app-filter-free-only>
      </app-filter-free-only>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clearFilters()">
        <span appLabel="clearAllFilters"></span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>