<div>
  <section>
    <app-radio-button-group
      [inputs]="inputs"
      [initValue]="display"
      [link]="['/portal', eventsFeatureKey]"
      [queryParamKey]="displayQueryParam">
    </app-radio-button-group>
    <button mat-raised-button (click)="filtersActive = !filtersActive">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span appLabel="filter"></span>
    </button>
  </section>
  <mat-card [@collapse]="filtersActive">
    <mat-card-content>
      <app-event-targetgroup-filter></app-event-targetgroup-filter>
    </mat-card-content>
  </mat-card>
</div>