<div class="container">
  <section>
    <app-radio-button-group
      [inputs]="inputs"
      [initValue]="display"
      [queryParamKey]="displayQueryParam">
    </app-radio-button-group>
    <button mat-raised-button
      (click)="filtersCollapsed = !filtersCollapsed"
      [class.active] = "!filtersCollapsed">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <span appLabel="filter"></span>
      <fa-icon *ngIf="(filtersActive | async)" class="active-icon" [icon]="['fas', 'check']"></fa-icon>
    </button>
  </section>
  <mat-card [@collapse]="!filtersCollapsed">
    <mat-card-content>

      <app-event-targetgroup-filter
        [queryParamKey]="targetGroupQueryParam">
      </app-event-targetgroup-filter>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Alle Filter löschen</button>
    </mat-card-actions>
  </mat-card>
</div>