div {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  section {
    display: flex;
    gap: 1rem;
  }
}


button {

  margin-left: auto;

  span {
    margin-left: 1rem;
  }
}

mat-card {
  overflow: hidden;
}