@for (element of elements; track element) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 class="mat-headline-6">
            {{ element?.title | translatable: 'translatable' | async }}
          </h1>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="content">
        @if (element?.text) {
          <section [innerHTML]="element?.text | translatable: 'translatable' | async"></section>
        }
  
        @if (element?.button) {
          <a mat-raised-button
            color="primary"
            [href]="element?.url"
            [i18nLabel]="element?.button
              ? (element?.button | translatable: 'translatable' | async)
              : 'learnMore'">
          </a>
        }
      </div>
    </mat-expansion-panel>
  </mat-accordion>
}
