:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  margin: var(--gap) auto 0;
  width: var(--page-embedding-width);
  max-width: calc(100% - var(--gap));
}

h1 {
  margin: 1rem 0 !important;
}

.content {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  section {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
  }
  
  a {
    align-self: flex-end;
    padding: .5rem 1rem;
    height: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}

mat-expansion-panel-header, mat-expansion-panel-header.mat-expanded {
  height: max-content;
}
