:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  margin: var(--gap) auto 0;
  width: var(--page-embedding-width);
  max-width: calc(100% - var(--gap));
}

h1 {
  margin: 1rem 0 !important;
}

.content {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
  
  a {
    align-self: flex-end;
  }
}
