:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    align-self: flex-end;

    fa-icon {
      color: var(--color-primary-contrast-500);
      margin-right: .5rem;
    }
  }
}