:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    align-self: flex-end;

    span {
      display: flex;
      align-items: center;
      gap: .5rem;
      
      cin-icon {
        color: var(--color-primary-contrast-500);
      }
    }
  }
}
