<ng-container *ngIf="actions?.length === 1; else menuActions">
  <button mat-button
    (click)="actions![0].clicked()"
    [appTooltip]="actions![0].label">
    <cin-icon [icon]="['far', actions![0].icon]" [size]="'xl'"></cin-icon>
  </button>
</ng-container>

<ng-template #menuActions>
  <button mat-button
    [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
    <cin-icon [icon]="['fas', 'ellipsis-vertical']" [size]="'xl'"></cin-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let action of actions">
      <button mat-menu-item (click)="action.clicked()">
        <div class="action-button">
          <cin-icon [icon]="['far', action.icon]" [size]="'xl'"></cin-icon>
          <span [appLabel]="action.label"></span>
        </div>
      </button>
    </ng-container>
  </mat-menu>
</ng-template>
