<div>
  <app-media-upload
    [disabled]="!!maxFiles && media.length >= maxFiles"
    (uploads)="addFiles($event)">
  </app-media-upload>
  <small [appLabel]="notMoreThanLabel" [variables]="labelVariables"></small>
  <small [appLabel]="notBeLargerLabel" [variables]="labelVariables"></small>
</div>

<div>
  <app-details-title *ngIf="media.length" titleLabel="files">
  </app-details-title>

  <section>
    <app-media-card *ngFor="let file of media; let i = index;"
      [media]="file"
      [showDelete]="true"
      (deleted)="removeFile(i)">
    </app-media-card>
  </section>
</div>