div {
    gap: var(--gap1);
}

.search-field {
    display: flex;
    width: min-content;
    border-radius: 1rem;
    align-items: center;
}

input {
    display: flex;
    width: 16rem;
    height: 2.25rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    padding: 0 .5rem;
    color: var(--color-primary-500);
}

input::-webkit-search-cancel-button {
    cursor: pointer;
}

button {
    margin-right: var(--gap1);
}

