* {
  display: flex;
}

div {
  width: 17.5rem;
  flex-direction: column;
  gap: .5rem;
  padding-top: .5rem;
}

h2 {
  padding: 0 1rem;
  margin: 0 !important;
}

a {
  padding: 0 1rem;
}

a:first-of-type{
  justify-content: end;
  font-size: small;
}

:host ::ng-deep .mdc-list-item__primary-text {
  flex-direction: column;
}

:host ::ng-deep app-date-piece {
  margin-left: auto;

  fa-icon {
    display: none;
  }

  time {
    color: gray;
  }
}