<div>
  <span>
    <h2 class="mat-subtitle-1" appLabel="notifications"></h2>
    <a [routerLink]="link">
      <small appLabel="readAll"></small>
    </a>
  </span>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let notification of currentUser?.user?.notifications">
      <button *ngIf="!notification?.read" mat-menu-item>
        <small>{{ notification | translatable: 'title' | async }}</small> 
        <app-date-piece class="mat-caption" [date]="notification?.modified"></app-date-piece>
      </button>
    </ng-container>
  <ng-container *ngIf="!currentUser?.user?.notifications">
    <small appLabel="noNewNotifications"></small>
  </ng-container>
  <mat-divider></mat-divider>
  <a [routerLink]="['./notifications']" appLabel="allNotifications" suffix="»"></a>
</div>