* {
  display: flex;
}

div {
  width: 17.5rem;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 0;
}

span {
  padding: 0 1rem;

  h2 {
    margin: 0 !important;
    color: var(--color-dark-gray);
  }
  a {
    margin-left: auto;
    padding: 0;
  }
}

a:last-of-type{
  padding: 0 1rem;
}

:host ::ng-deep .mdc-list-item__primary-text {
  flex-direction: column;
}

:host ::ng-deep app-date-piece {
  margin-left: auto;

  fa-icon {
    display: none;
  }

  time {
    color: gray;
  }
}