<app-page-title titleLabel="welcome"></app-page-title>

<div>
  <section class="wrapper">
    <section class="border-box">
      <p appLabel="welcomeTextBlock1"></p>
      <p appLabel="welcomeTextBlock2"></p>
      <p appLabel="welcomeTextBlock3"></p>
      <p appLabel="welcomeTextBlock4"></p>
    </section>

    <section>
      <app-sub-title title="Roadmap"></app-sub-title>
      <app-flip-card-slider (elementClicked)="openHelpMenu($event)"
        [data]="flipCardSliderData | async"></app-flip-card-slider>
    </section>
  </section>

  <section class="side-nav">
    <section class="border-box">
      <app-details-title titleLabel="contactData">
      </app-details-title>
      <app-phone-piece [phone]="(contact | async)?.phone">
      </app-phone-piece>
      <app-mail-piece [mail]="(contact | async)?.email">
      </app-mail-piece>
    </section>

    <section class="border-box">
      <app-details-title titleLabel="newsFeed"></app-details-title>
      <ul>
        <li *ngFor="let newsFeed of newsFeeds | async">
          <p #contentParagraph
            [innerHtml]="newsFeed | translatable : 'content' | async">
          </p>
        </li>
      </ul>
    </section>
  </section>
</div>