section {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 100%;
  overflow: hidden;
}

div {
  gap: 1rem;
  display: flex;
  align-items: center;

  app-avatar {
    min-width: 3rem;
    height: 3rem;
  }

  app-avatar:first-of-type {
    margin-top: 1rem;
  }

  app-avatar:last-of-type {
    margin-bottom: 1rem;
  }
}

mat-checkbox {
  margin-left: auto;
}

fa-icon{
  color: white !important;
}