@import 'ngx-cinlib/styles/mobile-mixins.scss';

section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.date {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}


button {
  padding: 0;
  color: var(--color-black);

  i {
    font-weight: 400;
      @include responsive(phone) {
        font-size: .875rem;
      }
    }
}


