<div *ngIf="event?.hasSchedules; else noSchedules">
  <section>
    <cin-icon [icon]="['far', 'calendar']" [size]="'lg'"></cin-icon>
    <button *ngIf="event?.schedule" mat-button
      [matMenuTriggerFor]="menu"
      (menuClosed)="this.selectedSchedule = undefined;">

      <i>{{event?.schedule?.startDate| localDate: 'medium' }}</i>
    </button>
    <span class="piece" *ngIf="!event?.schedule" i18nLabel="schedulesInThePast"></span>
  </section>
</div>

<ng-template #noSchedules>
  <section>
    <cin-icon [icon]="['far', 'calendar']" [size]="'lg'"></cin-icon>
    <i i18nLabel="noFixedDates"></i>
  </section>
</ng-template>

<mat-menu #menu="matMenu">
  <div>
    <cin-calendar
      [queryParams]="false"
      [dates]="startDates"
      (click)="$event.stopPropagation()"
      (monthSelected)="monthSelected($event)"
      (daySelected)="daySelected($event)">
    </cin-calendar>
    <div class="date" *ngIf="selectedSchedule">
      <span>{{selectedSchedule.startDate | localDate: 'calendar'}}</span>
      <span i18nLabel="to"></span>
      <span>{{selectedSchedule.endDate | localDate: 'calendar'}}</span>
    </div>
  </div>
</mat-menu>