<mat-card>
  <mat-card-header>
    <mat-form-field appearance="outline">
      <mat-label appLabel="enterUrl"></mat-label>
      <input matInput [formControl]="control">
      <button matSuffix mat-icon-button
        (click)="back.emit()">
        <cin-icon *ngIf="!media" [icon]="['fas', 'arrow-left']"></cin-icon>
        <cin-icon *ngIf="media" [icon]="['fas', 'trash']"></cin-icon>
      </button>
    </mat-form-field>
  </mat-card-header>

  <app-media-element *ngIf="media"
    [media]="media">
  </app-media-element>

  <span #url *ngIf="!media && control.value"
    appLabel="enterValidUrl">
  </span>

  <mat-card-content>
    <button *ngIf="media"
      mat-flat-button
      color="primary"
      appLabel="edit">
    </button>
  </mat-card-content>
</mat-card>