mat-card {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: space-between;

  height: 20rem;
  width: 20rem;
}

mat-form-field, button {
  width: 100%;
}

app-media-element, span {
  height: 50%;
}

span {
  padding: 1rem;
}

:host ::ng-deep {

  .image-wrapper {

    img {
      border-top-left-radius: unset !important;
      border-top-right-radius: unset !important;
    }
  }
}