<div class="main-admin">
  <app-page-title [title]="event | translatable: 'name' | async">
  </app-page-title>
  <button mat-flat-button color="primary">
    <fa-icon size="1x" [icon]="['fas', 'pen']"></fa-icon>
    <span appLabel="editEvent"></span>
  </button>

  <section>
    <div>
      <section class="border-box">
        <app-details-title titleLabel="views"
          [link]="['./info']" linkIcon="circle-question">
        </app-details-title>
      </section>
    </div>

    <div>
      <section class="border-box">
        <app-details-title titleLabel="visitors"
          [link]="['./info']" linkIcon="circle-question">
        </app-details-title>
      </section>
    </div>
  </section>

</div>