:host{
  display: flex;
  justify-content: center;
}

mat-vertical-stepper {
  max-width: 45rem;
  margin: 5%;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

div {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  button {
    width: max-content;
  }
}

mat-form-field {
  margin-right: 1rem;
}

.content-full-width{
  width: calc(100% - 1rem);
}

:host::ng-deep .mat-step-header {
  border-radius: var(--mdc-shape-small);
}

:host::ng-deep .mat-vertical-content{
  margin: 1rem auto;
}

section {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}