<div>
  <section class="border-box">
    <cin-details-title titleLabel="media" [link]="['./form']"
    linkIcon="pen-to-square">
    </cin-details-title>
    <cin-media-slider *ngIf="media && media.length"
      [media]="media" titleType="NONE">
    </cin-media-slider>
  </section>
</div>

<div>
  <section class="border-box">
    <cin-details-title titleLabel="shortDescription"
      [link]="['./form']" linkIcon="pen-to-square">
    </cin-details-title>
    <p [innerHtml]="event | translatable : 'shortDescription' | async"></p>
  </section>

  <section class="border-box">
    <cin-details-title titleLabel="description"
      [link]="['./form']" linkIcon="pen-to-square">
    </cin-details-title>

    <p #contentParagraph [innerHtml]="event | translatable : 'content' | async"></p>

    <a *ngIf="expanded"
      mat-button (click)="toggleShowMore()"
      i18nLabel="showLess">
    </a>

    <a *ngIf="contentParagraph.scrollHeight > contentParagraph.clientHeight"
      mat-button (click)="toggleShowMore()"
      i18nLabel="showMore">
    </a>
  </section>
</div>

<div>
  <section class="border-box">
    <cin-details-title titleLabel="contactData"
      [link]="['./form']" linkIcon="pen-to-square">
    </cin-details-title>
    <cin-address-piece [address]="event?.address"
      [link]="event?.videoChatLink">
    </cin-address-piece>
    <cin-phone-piece [phone]="event?.contact?.phone">
    </cin-phone-piece>
    <cin-mail-piece [mail]="event?.contact?.email">
    </cin-mail-piece>
  </section>

  <section class="border-box">
    <cin-details-title titleLabel="calendar" [link]="['./form']"
      linkIcon="pen-to-square">
    </cin-details-title>
    <app-event-admin-details-landing-calendar></app-event-admin-details-landing-calendar>
  </section>
</div>