<section class="media">
  <app-media-action-card *ngFor="let element of media; let i = index;"
    actionLabel="details"
    [media]="retrieveMedia(element)"
    [showDelete]="true"
    (action)="edit(i)"
    (deleted)="remove(i)">
  </app-media-action-card>

  <app-media-form-entry *ngIf="!this.maxFiles || this.media.length < this.maxFiles"
    (uploads)="add($event)">
  </app-media-form-entry>
</section> 

<section class="errors" *ngIf="validationErrors.length">
  <ng-container *ngFor="let error of validationErrors">
    <mat-error [appLabel]="error"></mat-error>
  </ng-container>
</section>