.container {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  > section {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;

    button {

      div {
        display: flex;
        gap: 1rem;
      }

      &.active {
        border: 1px solid var(--color-primary-500) !important;
      }

      .active-icon {
        color: var(--color-success-500);
      }
    }
  }
}

fa-icon {
  color: var(--color-primary-500)
}

mat-card {
  overflow: hidden;
}

mat-card-content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 1rem;
}

mat-card-actions {
  justify-content: flex-end;

  > section {
    width: 100%;
  }
}
  