.container {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  > section {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {

      div {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &.active {
        border: 1px solid var(--color-accent-900) !important;
      }
    }
  }
}


mat-card {
  overflow: hidden;
}

mat-card-content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 1rem;
}

mat-card-actions {
  justify-content: flex-end;

  > section {
    width: 100%;
  }
}
  