<mat-expansion-panel
  [hideToggle]="hideToggle || lastStepIdx === 0 || !!icon"
  [expanded]="currentStepIdx === index"
  (opened)="setCurrentStep()"
  [class.step-invalid]="isInvalid()">
  <mat-expansion-panel-header>
    <mat-panel-title [appLabel]="titleLabel" [suffix]="required || hasRequiredValidator ? '*' : ''">
    </mat-panel-title>

    <mat-panel-description [appLabel]="descriptionLabel">
    </mat-panel-description>

    <!-- <fa-icon *ngIf="icon"
      [icon]="icon">
    </fa-icon> -->
  </mat-expansion-panel-header>

  <div class="container">
    <!-- Form controls of parent-->
    <div class="controls">
      <ng-content></ng-content>
    </div>
  
    <mat-divider *ngIf="showBackButton() || showNextButton()">
    </mat-divider>
  
    <section>
      <button *ngIf="showBackButton()"
        mat-stroked-button
        color="warn"
        appLabel="back"
        (click)="back()">
      </button>

      <button *ngIf="showNextButton()"
        mat-stroked-button
        color="primary"
        appLabel="next"
        (click)="next()">
      </button>
    </section>
  </div>

</mat-expansion-panel>