<app-header-language></app-header-language>
<app-header-notification></app-header-notification>

<button mat-icon-button [matMenuTriggerFor]="userMenu">
  <cin-media-avatar [media]="media" [name]="user?.user?.firstName || user?.user?.lastName"></cin-media-avatar>
</button>

<mat-menu #userMenu="matMenu">
  <ng-container>
    <button mat-menu-item [routerLink]="['/']">
      <div class="portal-button">
        <cin-icon [icon]="['fas', 'globe']"></cin-icon>
        <span i18nLabel="toPortal"></span>
      </div>
    </button>
    <mat-divider></mat-divider>
  </ng-container>
  <app-header-user></app-header-user>
</mat-menu>
