<app-header-language></app-header-language>
<app-header-notification></app-header-notification>

<button mat-icon-button [matMenuTriggerFor]="userMenu">
  <app-media-avatar [user]="currentUser | async"></app-media-avatar>
</button>

<mat-menu #userMenu="matMenu">
  <ng-container>
    <button mat-menu-item [routerLink]="['/']">
      <div class="portal-button">
        <app-icon [icon]="['fas', 'globe']"></app-icon>
        <span appLabel="toPortal"></span>
      </div>
    </button>
    <mat-divider></mat-divider>
  </ng-container>
  <app-header-user></app-header-user>
</mat-menu>
