<form [formGroup]="form">
  <app-row columns="2">
    <mat-form-field appearance="outline" [appAssignColumns]="1">
      <mat-label appLabel="label"></mat-label>
      <input matInput formControlName="label">
    </mat-form-field>
  </app-row>
  
  <app-row columns="2">
    <mat-form-field appearance="outline" [appAssignColumns]="1">
      <mat-label appLabel="title"></mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline" [appAssignColumns]="1">
      <mat-label appLabel="buttonUrl"></mat-label>
      <input matInput formControlName="button">
    </mat-form-field>
  </app-row>

  <app-row columns="2">
    <app-ck-editor-form formControlName="text">
    </app-ck-editor-form>
  </app-row>
  
  <button mat-stroked-button
    appLabel="save"
    [disabled]="form.invalid"
    (click)="update()">
  </button>
</form>