<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <div class="drawer-container">
      <section>
        <app-portal-map-overview-filter>
        </app-portal-map-overview-filter>
    
        <app-portal-map-overview-list>
        </app-portal-map-overview-list>
      </section>
      <button mat-button (click)="drawer.toggle(); menuToggled();">
        <cin-icon [icon]="['fas', 'angle-left']"></cin-icon>
      </button>
    </div>
  </mat-drawer>
  <div class="map-container">

    <app-map
      [class.opened-sidenav]="isSidenavOpen"
      [markerDefinition]="markers | async">
    </app-map>

    <button mat-mini-fab (click)="drawer.toggle(); menuToggled();">
      <cin-icon [icon]="['fas', drawer.opened ? 'angle-left' : 'angle-right']"></cin-icon>
    </button>

    <cin-radio-button-group
      [inputs]="inputs"
      [value]="entityType | async"
      [queryParamKey]="entityQueryParam"
      (valueChanged)="updateEntityFilter($event)">
    </cin-radio-button-group>

    <app-map-attribution></app-map-attribution>
  </div>

</mat-drawer-container>