@import 'src/styles/mixins.scss';

mat-drawer-container {
  height: 100% ;
}

mat-drawer {
  width: 45vw;
  background-color: var(--color-background);

  .drawer-container {
    display: flex;
    height: 100%;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 100%;
  }

  @include responsive(desktop) {
    button {
      display: none;
    }
  
    section {
      margin: 1rem 1rem 1rem 1rem;
    }
  }

  @include responsive(tablet) {
    width: 100vw;

    button {
      display: flex;
      position: absolute;
      right: 0;
      height: 100%;
      width: 2rem;
      min-width: unset;
      padding: unset;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    section {
      margin: 1rem 2rem 1rem 1rem;
      max-width: calc(100% - 3rem);
    }
  }
}

.map-container {
  height: calc(100vh - var(--header-height));
  width: 100vw;

  button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--color-background);
  }
  
  app-map-attribution {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    opacity: 0.6;
    font-size: smaller;
  }

  cin-radio-button-group {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
  }

}

:host ::ng-deep {
  .mat-drawer-content {
    overflow: unset;
  }
}