<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <div class="drawer-container">
      <section>
        <app-portal-map-overview-filter>
        </app-portal-map-overview-filter>
    
        <app-portal-map-overview-list>
        </app-portal-map-overview-list>
      </section>
      <button mat-button (click)="drawer.toggle(); menuToggled();">
        <app-icon [icon]="['fas', 'angle-left']"></app-icon>
      </button>
    </div>
  </mat-drawer>
  <div class="map-container">
    <app-map
      [markerDefinition]="markers | async">
    </app-map>
  
    <button mat-mini-fab (click)="drawer.toggle(); menuToggled();">
      <app-icon *ngIf="drawer.opened" [icon]="['fas', 'angle-left']"></app-icon>
      <app-icon *ngIf="!drawer.opened" [icon]="['fas', 'angle-right']"></app-icon>
    </button>

    <app-radio-button-group
      [inputs]="inputs"
      [value]="entityType | async"
      [queryParamKey]="entityQueryParam"
      (valueChanged)="updateEntityFilter($event)">
    </app-radio-button-group>

    <app-map-attribution></app-map-attribution>
  </div>

</mat-drawer-container>