<div class="main">
  <app-page-title title="surveys"></app-page-title>

  <app-sponsored-card *ngIf="(sponsored | async)?.id" 
    entity="SurveyEntity" 
    [data]="sponsored | async">
  </app-sponsored-card>
  
  <app-survey-filter 
    (paramsUpdated)="updateParams($event)">
  </app-survey-filter>

  <ng-container *ngIf="(surveys | async)?.total">
    <app-table-card 
      entity="SurveyEntity" 
      [data]="surveys"
      noDataLabel="noData"
      [cardType]="cardType" 
      [sortOptions]="sortOptions"
      (sortPaginate)="updateParams($event)">
    </app-table-card>
  </ng-container>
  
  <!-- <ng-template #emptyResult>
    <app-no-data></app-no-data>
  </ng-template> -->

</div>