div {
  width: 30rem;
  max-width: 100%;
}

mat-dialog-content, section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

:host ::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}