<div>
  <h2 mat-dialog-title i18nLabel="assignRole"></h2>
  <mat-dialog-content [formGroup]="form">
    <section *ngIf="(roles | async)?.length !== 0">
      <strong>{{ application.user?.firstName }} {{ application.user?.lastName }}</strong>
      <span>{{ application.content }}</span>
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="role"></mat-label>
        <mat-select required="roleId" formControlName="roleId">
          <mat-option [value]="role.id" *ngFor="let role of roles | async">
            <span>{{ role.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section *ngIf="(roles | async)?.length === 0">
      <strong i18nLabel="noSuitableRoleFound"></strong>
      <button 
        mat-flat-button 
        i18nLabel="createNewRole" 
        color="primary" 
        [routerLink]="['/admin/settings/access/role/form']"
        [mat-dialog-close]="true">
      </button>
    </section>
  </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button 
      mat-button 
      mat-dialog-close 
      i18nLabel="cancel">
    </button>
    <button
      [disabled]="(form.invalid)" 
      mat-button [mat-dialog-close]="true" 
      i18nLabel="save"
      (click)="saved()">
    </button>
  </mat-dialog-actions>
</div>
