<div class="main">
  <form class="border-box" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()">
    <h2 class="mat-headline-5" appLabel="troubleLogin"></h2>
    <p appLabel="mailWithPasswordReset"></p>
    <mat-form-field appearance="outline">
      <mat-label appLabel="email"></mat-label>
      <input matInput id="email" formControlName="email" placeholder="m.mustermann@example.com">
    </mat-form-field>
    <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
      <label appLabel="send"></label>
    </button>
    <small>
      <a [routerLink]="['/user', 'login']" appLabel="backToLogin"></a>
    </small>
  </form>
</div>