<div class="main">
  <cin-page-title titleLabel="classifiedAds"></cin-page-title>
  <app-sponsored-card *ngIf="(sponsored | async)?.id"
    entity="DealEntity"
    [data]="sponsored | async">
  </app-sponsored-card>

  <!-- TODO: Admin area of adding classified ads -->
  <!-- <button mat-flat-button
    color="primary"
    [routerLink]="['/portal', dealsFeatureKey]"> 
    <span i18nLabel="postClassifiedAd"></span>
  </button> -->

  <app-deal-filter 
    (paramsUpdated)="updateParams($event)">
    <cin-radio-button-group
      [inputs]="inputs"
      [value]="displayType"
      [queryParamKey]="displayQueryParam"
      (valueChanged)="displayType = $event">
    </cin-radio-button-group>
  </app-deal-filter>

  <ng-container *ngIf="(deals | async)?.total; else emptyResult">
    <ng-container [ngSwitch]="displayType">
      
      <app-portal-deal-overview-category *ngSwitchCase="'category'">
      </app-portal-deal-overview-category>

      <app-portal-deal-overview-map *ngSwitchCase="'map'">
      </app-portal-deal-overview-map>
  
      <app-portal-deal-overview-table *ngSwitchCase="'table'"
        (sortPaginate)="updateParams($event)">
      </app-portal-deal-overview-table>
  
    </ng-container>
  </ng-container>
  <ng-template #emptyResult>
    <app-no-data 
      titleLabel="noData" 
      text="noDataContent">
    </app-no-data>
  </ng-template>
</div>