:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  mat-card {
    overflow: hidden;
  }
}

.clickable {
  cursor: pointer;
}

:host ::ng-deep {
  .mat-mdc-table > thead {
    background-color: var(--color-light) !important;
  }

  .mat-mdc-table .mat-mdc-row:hover{
    background-color: var(--color-lightest);
  }
}

