:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  mat-card {
    overflow: hidden;
  }
}

.actions {
  display: flex;
}

.save {
  fa-icon {
    color: var(--color-success-500);
  }
}

.clickable {
  cursor: pointer;
}

:host ::ng-deep {
  .mat-mdc-table > thead {
    background-color: var(--color-light) !important;
  }

  .mat-mdc-form-field-infix {
    min-height: 2.5rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}