:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  td {
    cursor: pointer;
  }

  mat-card {
    overflow: hidden;
  }
}

:host ::ng-deep {
  .mat-mdc-table > thead {
    background-color: var(--color-light) !important;
  }
}