<cin-page-title [titleLabel]="targetGroupForm.value.id ? 'editTargetGroup' : 'createNewTargetGroup'">
</cin-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <cin-form-step titleLabel="targetGroup" [formGroup]="targetGroupForm">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>
</cin-form-stepper>