@import 'ngx-cinlib/styles/mobile-mixins.scss';

div {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  @include responsive(tablet) {
    justify-content: center;
  }

  cin-icon {
    color: var(--color-primary-contrast-500)
  }
}

span {
  display: flex;
  align-items: center;
  gap: .5rem;
}