<div class="main">
  <cin-page-title titleLabel="friends"></cin-page-title>

  <section>
    <cin-radio-button-group 
      [inputs]="inputs" 
      [value]="displayType" 
      [queryParamKey]="displayQueryParam"
      (valueChanged)="displayType = $event">
    </cin-radio-button-group>

    <button mat-flat-button color="primary" (click)="friendsDialog()">
      <section>
        <span>
          <cin-icon [icon]="['fas', 'user-plus']"></cin-icon>
          <span appLabel="addFriends"></span>
      </span>
      </section>
    </button>
  </section>

  <ng-container [ngSwitch]="displayType">
    <app-portal-all-friends *ngSwitchCase="'allFriends'"></app-portal-all-friends>
    <app-portal-received-friend-requests *ngSwitchCase="'receivedRequests'"></app-portal-received-friend-requests>
    <app-portal-sent-friend-requests *ngSwitchCase="'sentRequests'"></app-portal-sent-friend-requests>
  </ng-container>
</div>