.container {
  display: flex;
  gap: var(--gap);
  flex-flow: wrap;

  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    div {
      display: flex;
      flex-flow: wrap;
    }

    button {
      width: max-content;
    }
  }
}