div {
  display: flex;
  gap: 1rem;

  address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

fa-icon {
  color: gray;
  align-self: center;
}

a {
  color: black;
}