.container {
  display: flex;
  gap: var(--gap);
  flex-flow: wrap;

  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }

  section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: .5rem;
  }
}