<div class="details">
  <div class="title-area">
    <app-media-title [media]="mediaTitle"></app-media-title>
    <section class="card-box">
      <app-share-button>
      </app-share-button>

      <app-favorite
        entity="DealEntity"
        [data]="deal">
      </app-favorite>
    </section>
    <app-category-piece *ngIf="deal?.category" [category]="deal?.category" [url]="['/', portalUrl, categoryUrl]"
      [queryParam]="categoryQueryParams">
    </app-category-piece>
  </div>
  <section class="content-area">
    <section>
      <span class="details-headline">
        {{deal | translatable: 'name' | async}}
      </span>

      <app-portal-deal-details-summary (addressClicked)="map.scrollIntoView({behavior: 'smooth'})">
      </app-portal-deal-details-summary>

      <p class="details-content"
        [innerHtml]="deal | translatable: 'content' | async">
      </p>
    </section>

    <app-portal-deal-details-creator *ngIf="deal?.creator">
    </app-portal-deal-details-creator>

    <app-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </app-media-slider>

    <div #map>
      <div *ngIf="deal?.address" class="map-area" >
        <app-details-title titleLabel="mapView"></app-details-title>
        <app-map [queryParams]="false" [markerDefinition]="marker">
        </app-map>
      </div>
    </div>
  </section>
</div>
