@import 'src/styles/mixins.scss';

.details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;

  .title-area {
      width: 100%;
      height: 25rem;
      position: relative;

      app-media-title {
        width: 100%;
      }
    }

  app-category-piece {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

 .content-area {
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
    margin: var(--gap) auto;
    width: 80%;
  
    @include responsive(phone) {
      margin: 1.5rem;
      width: 85%;
      gap: 2rem;
    }
  
    span {
      margin: 0;
    }

    section {
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 2.5rem;
    
      @include responsive(phone) {
        gap: 1.5rem;
      }

      * {
        width: 100%;
      }
    }
  }

  .map-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 35rem;

    app-map {
      height: 100%;

    }
  }
}

:host ::ng-deep {
  .leaflet-container {
    border-radius: var(--mdc-shape-small) !important;
  }
}
