<div class="details">
  <div class="title-area">
    <cin-media-title [media]="mediaTitle"></cin-media-title>
    <section class="card-box">
      <cin-share-button>
      </cin-share-button>

      <app-favorite
        entity="DealEntity"
        [data]="deal">
      </app-favorite>
    </section>
    <cin-category-piece *ngIf="deal?.category" [category]="deal?.category" [url]="['/', portalUrl, categoryUrl]"
      [queryParam]="categoryQueryParams">
    </cin-category-piece>
  </div>
  <section class="content-area">
    <section>
      <span class="details-headline">
        {{deal | translatable: 'name' | async}}
      </span>

      <app-portal-deal-details-summary (addressClicked)="scrollToMap()">
      </app-portal-deal-details-summary>

      <p class="details-content"
        [innerHtml]="deal | translatable: 'content' | async">
      </p>
    </section>

    <app-portal-deal-details-creator *ngIf="deal?.creator">
    </app-portal-deal-details-creator>

    <cin-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </cin-media-slider>

    <div *ngIf="deal?.address" class="map-area">
      <cin-details-title titleLabel="mapView"></cin-details-title>
      <app-map [queryParams]="false" [markerDefinition]="marker">
      </app-map>
    </div>
  </section>
</div>
