<mat-dialog-content class="mat-typography">
  
  <button id="whatsapp" shareButton="whatsapp" [url]="url">
    <cin-icon [icon]="['fab', 'whatsapp']" [size]="'lg'"></cin-icon>
    <span>Whatsapp</span>
  </button>

  <button id="telegram" shareButton="telegram" [url]="url">
    <cin-icon [icon]="['fab', 'telegram']" [size]="'lg'"></cin-icon>
    <span>Telegram</span>
  </button>

  <button id="messenger" shareButton="messenger" [url]="url">
    <cin-icon [icon]="['fab', 'facebook-messenger']" [size]="'lg'"></cin-icon>
    <span>messenger</span>
  </button>

  <button id="facebook" shareButton="facebook" [url]="url">
    <cin-icon [icon]="['fab', 'facebook']" [size]="'lg'"></cin-icon>
    <span>Facebook</span>
  </button>

  <button id="twitter" shareButton="twitter" [url]="url">
    <cin-icon [icon]="['fab', 'twitter']" [size]="'lg'"></cin-icon>
    <span>Tweet</span>
  </button>

  <button id="sms" shareButton="sms" [url]="url">
    <cin-icon [icon]="['fas', 'comment-sms']" [size]="'lg'"></cin-icon>
    <span>SMS</span>
  </button>
  
  <button id="email" shareButton="email" [url]="url">
    <cin-icon [icon]="['fas', 'envelope']" [size]="'lg'"></cin-icon>
    <span>Email</span>
  </button>
  
  <button id="copy" shareButton="copy" [url]="url">
    <cin-icon [icon]="['fas', 'copy']" [size]="'lg'"></cin-icon>
    <span>Copy</span>
  </button>
     
  <button id="print" shareButton="print" [url]="url">
    <cin-icon [icon]="['fas', 'print']" [size]="'lg'"></cin-icon>
    <span>Print</span>
  </button>
    
  <button id="linkedin" shareButton="linkedin" [url]="url">
    <cin-icon [icon]="['fab', 'linkedin']" [size]="'lg'"></cin-icon>
    <span>linkedin</span>
  </button>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <span appLabel="cancel"></span>
  </button>
</mat-dialog-actions>