@import 'src/styles/mixins.scss';

.container {
  display: flex;

  :first-child,
  :last-child {
    display: flex;

    button {
      height: 100% !important;
    }

    @include responsive(tablet) {
      display: none;
    }
  }

  :nth-child(2) {
    display: flex;
    padding: 0.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1.5rem;
  }
}