<div class="container" #container>

  <section>
    <button mat-button (click)="scroll()" [disabled]="disableLeft">
      <app-icon [icon]="['fas', 'chevron-left']" [size]="'2x'"></app-icon>
    </button>
  </section>

  <section #content (scroll)="onScroll()">
    <ng-content></ng-content>
  </section>

  <section>
    <button mat-button (click)="scroll(true)" [disabled]="disableRight">
      <app-icon [icon]="['fas', 'chevron-right']" [size]="'2x'"></app-icon>
    </button>
  </section>

</div>