:host {
  max-width: 100% !important;
}

mat-card {
  user-select: none;
  width: 20rem;
  height: 20rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-card-header {
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
  padding: unset;
  position: relative;
  height: 75%;

  button[mat-icon-button] {
    position: absolute;
    right: 1rem;
    top: .75rem;
    background-color: white;
    border: 1px solid var(--color-border);
    z-index: 2;
  }

  app-media-element {
    height: 100%;
    width: 100%;

    border-top-left-radius: var(--mdc-shape-small);
    border-top-right-radius: var(--mdc-shape-small);
    overflow: hidden;
  }

}

mat-card-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: calc(25% - 1rem);
  button {
    div {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
    }
  }

  span {
    margin: unset;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    text-align: center;
  }

}
