<img [src]="ref" [alt]="alt ? alt : image?.name" [ngStyle]="{
  'border-top-left-radius': circle ? '50%' : (roundedTopLeft || rounded ? 'var(--mdc-shape-small)' : '0'),
  'border-top-right-radius': circle ? '50%' : (roundedTopRight || rounded ? 'var(--mdc-shape-small)' : '0'),
  'border-bottom-right-radius': circle ? '50%' : (roundedBottomRight || rounded ? 'var(--mdc-shape-small)' : '0'),
  'border-bottom-left-radius': circle ? '50%' : (roundedBottomLeft || rounded ? 'var(--mdc-shape-small)' : '0')
}">