mat-drawer-container {
  width: 100%;
  height: 100vh;
}

.mat-drawer-side {
  box-shadow: 0px 1px 4px 0px #00000026;
}

div {
  display: flex;
  flex-flow: column;

  app-admin-header {
    height: var(--header-height);
  }
}

main {
  flex: 2 0 auto;
}