<div class="main">
  <cin-page-title titleLabel="organisations"></cin-page-title>
  <app-sponsored-card *ngIf="(sponsored | async)?.id"
    entity="OrganisationEntity"
    [data]="sponsored | async">
  </app-sponsored-card>

  <app-organisation-filter 
    (paramsUpdated)="updateParams($event)">
    <cin-radio-button-group
      [inputs]="inputs"
      [value]="displayType"
      [queryParamKey]="displayQueryParam"
      (valueChanged)="displayType = $event">
    </cin-radio-button-group>
  </app-organisation-filter>

  <ng-container *ngIf="(organisations | async)?.total; else emptyResult">
    <ng-container [ngSwitch]="displayType">
      
      <app-portal-organisation-overview-card *ngSwitchCase="'card'"
        (sortPaginate)="updateParams($event)">
      </app-portal-organisation-overview-card>
      
      <app-portal-organisation-overview-map *ngSwitchCase="'map'">
      </app-portal-organisation-overview-map>

      <app-portal-organisation-overview-suburb *ngSwitchCase="'suburb'">
      </app-portal-organisation-overview-suburb>
  
      <app-portal-organisation-overview-table *ngSwitchCase="'table'"
        (sortPaginate)="updateParams($event)">
      </app-portal-organisation-overview-table>
  
    </ng-container>
  </ng-container>
  <ng-template #emptyResult>
    <app-no-data 
      titleLabel="noData" 
      text="noDataContent">
    </app-no-data>
  </ng-template>
</div>