@import 'src/styles/mixins.scss';

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column;
  width: 30rem;
}

fieldset {
  display: flex;
  flex-flow: column;

  @include responsive(desktop) {
    flex-flow: row;
    gap: 1rem;
  }
}

button {
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-flow: row wrap;
}

:host ::ng-deep {

  .mat-mdc-form-field-infix {
    width: unset;
  }
}

app-image-slider {

  @include responsive(tablet) {
    display: none;
  }
}