<header>
  <app-portal-header-back></app-portal-header-back>

  <ng-container *ngIf="(isSearching | async) === false">
    <app-portal-header-language [@fadeIn]></app-portal-header-language>
    <app-logo [@fadeIn]></app-logo>
  </ng-container>
  
  <app-search></app-search>
  
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="mobile-menu">
        <app-portal-menu-accordion></app-portal-menu-accordion>
        <mat-divider></mat-divider>
        <app-portal-header-user></app-portal-header-user>
      </div>
    </mat-menu>
  </div>

</header>