<app-drag-drop
  (deleted)="deleted($event)"
  (updated)="sorted($event)">
  <app-drag-drop-element *ngFor="let embedding of embeddings; let index = index"
    [title]="embedding.label">

    <app-admin-settings-page-embedding-form
      [embedding]="embedding"
      (saved)="saved($event, index)">
    </app-admin-settings-page-embedding-form>

  </app-drag-drop-element>
</app-drag-drop>

<button mat-stroked-button
  class="add-new-button"
  (click)="selectEmbedding()"
  appLabel="addNewElement">
</button>