<cin-drag-drop-container
  [disabled]="disabled"
  (deleted)="deleted($event)"
  (updated)="sorted($event)">
  @for (input of inputs; track input; let index = $index) {
    <cin-drag-drop-element
      [title]="input.embedding.label"
      [subTitle]="input.embedding.type | translatable: 'name' | async"
      [expanded]="input.expanded">
      <app-admin-settings-page-embedding-form
        [embedding]="input.embedding"
        (saved)="saved($event, index)"
        (validUpdated)="validUpdated($event, index)">
      </app-admin-settings-page-embedding-form>
    </cin-drag-drop-element>
  }
</cin-drag-drop-container>
<button mat-flat-button
  color="primary"
  [disabled]="!valid"
  (click)="added()"
  i18nLabel="addNewElement">
</button>