<app-drag-drop
  [disabled]="disabled"
  (deleted)="deleted($event)"
  (updated)="sorted($event)">
  <app-drag-drop-element *ngFor="let input of inputs; let index = index"
    [title]="createTitle(input.embedding) | async"
    [expanded]="input.expanded">

    <app-admin-settings-page-embedding-form
      [embedding]="input.embedding"
      (saved)="saved($event, index)"
      (validUpdated)="validUpdated($event, index)">
    </app-admin-settings-page-embedding-form>

  </app-drag-drop-element>
</app-drag-drop>

<button mat-flat-button
  color="primary"
  [disabled]="!valid"
  (click)="added()"
  appLabel="addNewElement">
</button>