<header>
  <app-logo></app-logo>
  <section>
    <app-portal-menu-overlay *ngFor="let menuItem of menu | async"
      [root]="true"
      [parent]="menuItem">
    </app-portal-menu-overlay>
  </section>
  <section>

    <ng-container *ngIf="!currentUser?.id">
      <section *ngIf="(isSearching | async) === false" [@fadeIn]>
        <a mat-stroked-button color="primary" [routerLink]="['/', accountUrl, 'register']">
          <span appLabel="register"></span>
        </a>
        <a mat-stroked-button color="primary" [routerLink]="['/', accountUrl, 'login']">
            <span appLabel="login"></span>
        </a>
      </section>
    </ng-container>

    <app-search></app-search>

    <ng-container *ngIf="(isSearching | async) === false">
      
      <app-header-language *ngIf="!currentUser?.id" [@fadeIn]></app-header-language>
      
      <app-header-notification *ngIf="currentUser?.id" [@fadeIn]></app-header-notification>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" [@fadeIn]>
        <cin-icon *ngIf="!currentUser?.id" [icon]="['far', 'circle-user']"></cin-icon>
        <app-media-avatar *ngIf="currentUser?.id" [user]="currentUser"></app-media-avatar>
        
      </button>
      <mat-menu #userMenu="matMenu">
        <ng-container *ngIf="currentUser?.user?.roles?.length">
          <button mat-menu-item [routerLink]="['/', adminUrl]">
            <div class="admin-button">
              <cin-icon [icon]="['fas', 'gauge']"></cin-icon>
              <span appLabel="toAdminArea"></span>
            </div>
          </button>
          <mat-divider></mat-divider>
        </ng-container>
        <app-header-user></app-header-user>
      </mat-menu>
      
    </ng-container>

  </section>
</header>
