header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;

  section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  section:last-of-type {
    margin-left: auto;

    div:first-of-type {
      button {
        margin: 0 0.5rem;
      }
    }
  } 
}

.admin-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}