button {
  color: var(--color-primary-500) !important;
  font-weight: 600;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  width: inherit;
  padding: .5rem 0;
}

fa-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-800);
}

.subItem {
  width: 17.5rem;

  section {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: .25rem;
  }

  fa-icon:first-of-type {
    width: 1.5rem;
    margin-right: 1rem;
  }

  fa-icon:last-of-type {
    color: transparent;
    transform: translateX(-.5rem);
  }

  &:hover fa-icon:last-of-type {
    color: inherit;
    transform: translateX(0rem);
    transition: color 0.4s, transform 0.4s;
  }

}