<mat-form-field appearance="outline">
  <mat-label [appLabel]="label"></mat-label>

  <input matInput
    [ngxMatDatetimePicker]="startPicker"
    [formControl]="control" [min]="minDate">

  <ngx-mat-datepicker-toggle matSuffix
    [for]="startPicker">
  </ngx-mat-datepicker-toggle>

  <ngx-mat-datetime-picker #startPicker
    [stepMinute]="stepMinute">
    <ngx-mat-datepicker-actions>
      <button mat-button
        ngxMatDatepickerCancel
        appLabel="cancel">
      </button>

      <button mat-raised-button
        ngxMatDatepickerApply        
        color="primary"
        appLabel="select">
      </button>
    </ngx-mat-datepicker-actions>
  </ngx-mat-datetime-picker>
</mat-form-field>
 