<form [formGroup]="form">
  <ng-container *ngIf="showContactOptions">
    <app-row *ngIf="contactOptions?.length" [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="importContact"></mat-label>
        <mat-select formControlName="contactOptionLabel">
          <mat-option [value]="contactOption?.label" 
            *ngFor="let contactOption of contactOptions">
            <span [appLabel]="contactOption?.label"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-row>
  </ng-container>

  <app-row columns="2">
    <mat-form-field appearance="outline">
      <mat-label appLabel="name"></mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label appLabel="email"></mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </app-row>

  <app-row columns="2">
    <mat-form-field appearance="outline">
      <mat-label appLabel="phone"></mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label appLabel="website"></mat-label>
      <input matInput formControlName="website">
    </mat-form-field>
  </app-row>
</form>