<form [formGroup]="form">
  <ng-container *ngIf="showContactOptions">
    <cin-grid-row *ngIf="contactOptions?.length" [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="importContact"></mat-label>
        <mat-select formControlName="contactOptionLabel">
          <mat-option [value]="contactOption?.label" 
            *ngFor="let contactOption of contactOptions">
            <span [i18nLabel]="contactOption?.label"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>
  </ng-container>

  <cin-grid-row columns="2">
    <mat-form-field appearance="outline">
      <mat-label i18nLabel="name"></mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18nLabel="email"></mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </cin-grid-row>

  <cin-grid-row columns="2">
    <mat-form-field appearance="outline">
      <mat-label i18nLabel="phone"></mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18nLabel="website"></mat-label>
      <input matInput formControlName="website">
    </mat-form-field>
  </cin-grid-row>
</form>