@import 'src/styles/mixins.scss';

mat-dialog-content {
  display: flex;
  flex-flow: column;
  gap: 1rem;  
}

section {
  display: flex;
  flex-flow: row;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span {
      max-width: 35rem;
    }
  }
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);

  mat-slide-toggle {
    width: 10rem;
  }
}

mat-dialog-actions {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    width: 100%;
  }
}

@include responsive(tablet) {
  mat-dialog-actions {
    flex-flow: column;
  }

  svg {
    display: none;
  }
}