<h1 mat-dialog-title
  appLabel="privacySettings">
</h1>
<mat-dialog-content>
  <section>
    <fa-icon size="10x" [icon]="['fas', 'cookie-bite']"></fa-icon>
    <div>
      <span appLabel="weUseCookies"></span>
      <a [routerLink]="['/portal', (dataProtectionConfig | async)?.value]" appLabel="clickHereForDataProtection"></a>
    </div>
  </section>

  <form *ngIf="cookieSettings" [formGroup]="form">
    <div>
      <span appLabel="necessary"></span>
      <mat-slide-toggle
        [checked]="true"
        [disabled]="true"
        color="primary">
      </mat-slide-toggle>
    </div>
    <div>
      <span appLabel="externalContent"></span>
      <mat-slide-toggle formControlName="externalContent"
        color="primary">
      </mat-slide-toggle>
    </div>
    <div>
      <span appLabel="preferences"></span>
      <mat-slide-toggle formControlName="preferences"
        color="primary">
      </mat-slide-toggle>
    </div>
    <div>
      <span appLabel="statistics"></span>
      <mat-slide-toggle formControlName="statistics"
        color="primary">
      </mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-flat-button
    mat-dialog-close
    appLabel="declineAllOptionalCookies"
    (click)="declineOptionalCookies()">
  </button>

  <button *ngIf="!cookieSettings"
    mat-flat-button
    appLabel="cookieSettings"
    (click)="cookieSettings = !cookieSettings">
  </button>

  <button *ngIf="cookieSettings"
    mat-dialog-close
    mat-flat-button
    appLabel="acceptSelection"
    (click)="acceptSelectedCookies()">
  </button>

  <button mat-raised-button
    mat-dialog-close
    color="primary"
    appLabel="acceptAll"
    (click)="acceptAllCookies()">
  </button>
</mat-dialog-actions>