@import 'src/styles/mixins.scss';

div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
}

mat-dialog-content {
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  align-items: center;

  @include responsive(phone) {
    flex-flow: row wrap;
    text-align: center;
  }
}

.cookie-setting {
  align-items: center;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
