<h1 mat-dialog-title
  i18nLabel="privacy">
</h1>
<mat-dialog-content>
  <section>
    <cin-icon [icon]="['fas', 'cookie-bite']" [size]="'10x'"></cin-icon>
    <div>
      <span i18nLabel="weUseCookies"></span>
      <a class="link" [routerLink]="['/portal', (dataProtectionConfig | async)?.value]" i18nLabel="clickHereForDataProtection"></a>
    </div>
  </section>

  <form *ngIf="activeSettings" [formGroup]="form">
    <mat-slide-toggle
      [checked]="true"
      [disabled]="true"
      color="primary">
      <span i18nLabel="necessary"></span>
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="externalContent"
      color="primary">
      <span i18nLabel="externalContent"></span>
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="preferences"
      color="primary">
      <span i18nLabel="preferences"></span>
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="statistics"
      color="primary">
      <span i18nLabel="statistics"></span>
    </mat-slide-toggle>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="!activeSettings"
    mat-flat-button
    mat-dialog-close
    i18nLabel="declineAllOptionalCookies"
    (click)="declineOptionalCookies()">
  </button>

  <button *ngIf="!activeSettings"
    mat-flat-button
    i18nLabel="cookieSettings"
    (click)="activeSettings = !activeSettings">
  </button>

  <button *ngIf="activeSettings"
    mat-dialog-close
    mat-flat-button
    i18nLabel="acceptSelection"
    (click)="acceptSelectedCookies()">
  </button>

  <button mat-raised-button
    mat-dialog-close
    color="primary"
    i18nLabel="acceptAll"
    (click)="acceptAllCookies()">
  </button>
</mat-dialog-actions>