.root-menu-button {
  color: var(--color-primary-500) !important;
  font-weight: 600;
}

.container {
  width: 20rem;
}

cin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-900);
}

::ng-deep {

  .mat-mdc-menu-item-text {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
    width: 100%;
  }
}

.subItem {

  section {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: .25rem;
  }

  cin-icon:first-of-type {
    width: 1.5rem;
  }

  cin-icon:last-of-type {
    color: transparent;
    transform: translateX(-.5rem);
  }

  &:hover cin-icon:last-of-type {
    color: inherit;
    transform: translateX(0rem);
    transition: color 0.4s, transform 0.4s;
  }

}