.root-menu-button {
  color: var(--color-primary-500) !important;
  font-weight: 600;
}

.container {
  width: 20rem;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  width: inherit;
  padding: .5rem 0;
}

svg {
  align-self: center;
  color: var(--color-primary-900)
}

::ng-deep {

  .mat-mdc-menu-item-text {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
    width: 100%;
  }
}

.subItem {

  section {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: .25rem;
  }

  svg:first-of-type {
    width: 1.5rem;
  }

  svg:last-of-type {
    color: transparent;
    transform: translateX(-.5rem);
  }

  &:hover svg:last-of-type {
    color: inherit;
    transform: translateX(0rem);
    transition: color 0.4s, transform 0.4s;
  }

}