<mat-form-field appearance="outline">
  <mat-label [appLabel]="label"></mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [formControl]="control" [required]="required">
  <button mat-icon-button type="button" matSuffix (click)="hide = !hide" aria-label="Hide password"
    [attr.aria-pressed]="hide">
    <span *ngIf="hide">
      <i class="far fa-eye-slash"></i>
    </span>
    <span *ngIf="!hide">
      <i class="far fa-eye"></i>
    </span>
  </button>
  <ng-content></ng-content>
</mat-form-field>