<mat-form-field appearance="outline">
  <mat-label [appLabel]="label"></mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [formControl]="control" [required]="required">
  <button mat-icon-button type="button" matSuffix (click)="hide = !hide" aria-label="Hide password"
    [attr.aria-pressed]="hide">
    <cin-icon *ngIf="hide" [icon]="['far', 'eye-slash']"></cin-icon>
    <cin-icon *ngIf="!hide" [icon]="['far', 'eye']"></cin-icon>
  </button>
  <ng-content></ng-content>
</mat-form-field>