<div>
  <button mat-icon-button (click)="ref.dismissWithAction()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
  <section>
    <fa-icon *ngIf="feedback.type === error || feedback.type === critical"
      size="2x" [icon]="['fas', 'circle-exclamation']"></fa-icon>

    <fa-icon *ngIf="feedback.type === success"
      size="2x" [icon]="['fas', 'circle-check']"></fa-icon>

    <fa-icon *ngIf="feedback.type === info"
      size="2x" [icon]="['fas', 'circle-info']"></fa-icon>

    <span><strong [appLabel]="feedback.labelMessage"></strong></span>
    <span [appLabel]="feedback.labelAction"></span>
  </section>
</div>
