<div>
  <button mat-icon-button (click)="ref.dismissWithAction()">
    <i class="fas fa-xmark"></i>
  </button>
  <section>
    <span *ngIf="feedback.type === error || feedback.type === critical">
      <i class="fas fa-circle-exclamation fa-2x" [style.color]="'var(--color-warn-900)'"></i>
    </span>

    <span *ngIf="feedback.type === success">
      <i class="fas fa-circle-check fa-2x" [style.color]="'var(--color-success-900)'"></i>
    </span>

    <span *ngIf="feedback.type === info">
      <i class="fas fa-circle-info fa-2x" [style.color]="'var(--color-warn-200)'"></i>
    </span>
    
    <span><strong *ngIf="feedback.labelMessage" [appLabel]="feedback.labelMessage"
        [variables]="feedback.labelVariables"></strong></span>
    <span *ngIf="feedback.labelAction" [appLabel]="feedback.labelAction" [variables]="feedback.labelVariables"></span>
  </section>
</div>