<div>
  <button mat-icon-button (click)="ref.dismissWithAction()">
    <app-icon [icon]="['fas', 'xmark']"></app-icon>
  </button>
  <section>
    
    <app-icon 
      *ngIf="feedback.type === error || feedback.type === critical" 
      [icon]="['fas', 'circle-exclamation']" 
      [size]="'2x'"
      [style.color]="'var(--color-warn-900)'">
    </app-icon>
    
    <app-icon 
      *ngIf="feedback.type === success"
      [icon]="['fas', 'circle-check']" 
      [size]="'2x'"
      [style.color]="'var(--color-success-900)'">
    </app-icon>

    <app-icon 
      *ngIf="feedback.type === info" 
      [icon]="['fas', 'circle-info']" 
      [size]="'2x'"
      [style.color]="'var(--color-warn-200)'">
    </app-icon>
    
    <span><strong *ngIf="feedback.labelMessage" [appLabel]="feedback.labelMessage"
        [variables]="feedback.labelVariables"></strong></span>
    <span *ngIf="feedback.labelAction" [appLabel]="feedback.labelAction" [variables]="feedback.labelVariables"></span>
  </section>
</div>