:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 30rem;
  max-width: calc(100% - 2rem);
  height: 10rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: unset;
  max-width: 16rem;
}

figure {
  position: relative;
  width: 5%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}