:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  width: 22rem;
  max-width: calc(100% - 2rem);

  * {
    text-align: center;
  }
}

span {
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

figure {
  align-self: center;
  position: relative;
  aspect-ratio: 1/1;
  max-height: 12rem;
  max-width: 12rem;
  margin-bottom: var(--gap);
}