<div class="container">
  <mat-card>
    <figure [routerLink]="element?.url">
      <img class="border-image" [src]="element?.image ? '' : '/assets/placeholder.webp'" [appMedia]="element?.image"
        alt="contact-card">
    </figure>
    <span class="mat-headline-5" [routerLink]="element?.url">
      {{element?.title ? element?.title: ''}}
    </span>
    <section>
      <button mat-button *ngIf="element?.email">
        <a href="mailto:{{element?.email}}">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </a>
      </button>
      <button mat-button *ngIf="element?.phone">
        <a href="mailto:{{element?.phone}}">
          <fa-icon [icon]="['fas', 'phone']"></fa-icon>
        </a>
      </button>
    </section>
    <app-favorite-piece></app-favorite-piece>
  </mat-card>
</div>