:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  width: 22rem;
  max-width: calc(100% - 2rem);
  gap: var(--gap);

  *{
    text-align: center;
  }
}

img {
  object-fit: cover;
  border-radius: 50%;
}

figure{
  align-self: center;
  position: relative;
  height: 13rem;
  width: 13rem;
}


