<ng-container *ngIf="media">
  <ng-container *ngIf="isYoutube; else videoTemplate">
    <ng-container *ngIf="allowExternalContent | async; else frameTemplate">
      <iframe [src]="url" frameborder="0">
      </iframe>
    </ng-container>
    <ng-template  #frameTemplate>
      <app-external-content [hostname]="getHostname()"></app-external-content>
    </ng-template>

  </ng-container>
  <ng-template #videoTemplate>
    <video controls #video>
      <source
        [type]="media.mimeType"
        [src]="url"/>
    </video>
  </ng-template>
</ng-container>
