<div class="container">
  <section>

    <ng-content></ng-content>
    
    <button mat-raised-button
      (click)="filtersCollapsed = !filtersCollapsed"
      [class.active] = "!filtersCollapsed">
        <div>
          <fa-icon [icon]="['fas', 'filter']"></fa-icon>
          <span appLabel="filter"></span>
          <fa-icon *ngIf="(filtersActive | async)" class="active-icon" [icon]="['fas', 'check']"></fa-icon>
        </div>
    </button>
  </section>
  <mat-card [@collapse]="!filtersCollapsed">
    <mat-card-content>

      <app-suburb-filter (valueChanged)="suburbSelected($event)">
      </app-suburb-filter>

      <app-organisation-filter-active>
      </app-organisation-filter-active>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clearFilters()">
        <span appLabel="clearAllFilters"></span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>