<mat-form-field appearance="outline" [@growOnSides] (click)="$event.stopPropagation()">
  <button mat-icon-button matPrefix>
    <cin-icon [icon]="['fas', 'magnifying-glass']"></cin-icon>
  </button>

  <input matInput [formControl]="control" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete">

    <mat-option *ngFor="let entity of result | async" (click)="navigateDetails($event, entity)" [value]="entity.slug">
      <span>{{entity.slug}}</span>
    </mat-option>

    <ng-container *ngIf="(result | async)?.length">
      <mat-divider></mat-divider>
      <mat-option (click)="navigateResultPage($event)">
        <span appLabel="allResults"></span>
      </mat-option>
    </ng-container>

  </mat-autocomplete>

  <button mat-icon-button matSuffix (click)="close()">
    <cin-icon [icon]="['fas', 'xmark']"></cin-icon>
  </button>
</mat-form-field>