mat-vertical-stepper {
  max-width: 45rem;
  margin: 0 auto;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  box-shadow: 0px 2px 8px 0px var(--color-box-shadow);
}

div {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  button {
    width: max-content;
  }
}

form {
  width: 100%;
}

mat-form-field {
  margin-top: 1rem;
  margin-right: 1rem;
}

.form-field-full-width{
  width: 100%;
}

:host::ng-deep .mat-step-header {
  border-radius: var(--mdc-shape-small);
}

section {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}