<mat-vertical-stepper linear="true" orientation="vertical" #stepper (selectionChange)="checkStepData()">
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>
        <span appLabel="whatIsYourName"></span>
      </ng-template>
      <div>
        <mat-form-field appearance="outline">
          <mat-label appLabel="firstName"></mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label appLabel="lastName"></mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext appLabel="next"></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>
        <span appLabel="whatIsYourPhoneNumber"></span>
      </ng-template>
      <div>
        <mat-form-field appearance="outline">
          <mat-label appLabel="phone"></mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious appLabel="previous"></button>
        <button mat-button matStepperNext appLabel="next"></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>
        <span appLabel="whatIsYourAddress"></span>
      </ng-template>
      <div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label appLabel="street"></mat-label>
            <input matInput formControlName="street">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label appLabel="houseNumber"></mat-label>
            <input matInput formControlName="houseNumber">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label appLabel="postalCode"></mat-label>
            <input matInput formControlName="postalCode">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label appLabel="place"></mat-label>
            <input matInput formControlName="place">
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious appLabel="previous"></button>
        <button mat-button matStepperNext appLabel="next"></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <span appLabel="done"></span>
    </ng-template>
    <div>
     <button mat-button [routerLink]="['/']" appLabel="save" (click)="saveData()"></button>
    </div>
  </mat-step>
</mat-vertical-stepper>