<mat-card>
  <mat-card-content>
    <section>
      <ng-container [ngSwitch]="mimeType">
        <fa-icon *ngSwitchCase="'WORD'"
          size="2xl" [icon]="['far', 'file-word']">
        </fa-icon>
        <fa-icon *ngSwitchCase="'PDF'"
          size="2xl" [icon]="['far', 'file-pdf']">
        </fa-icon>
        <fa-icon *ngSwitchCase="'IMAGE'"
          size="2xl" [icon]="['far', 'file-image']">
        </fa-icon>
        <fa-icon *ngSwitchCase="'VIDEO'"
          size="2xl" [icon]="['far', 'file-video']">
        </fa-icon>
        <fa-icon *ngSwitchDefault
          size="2xl" [icon]="['far', 'file']">
        </fa-icon>
      </ng-container>
      <small>{{ media?.size | fileSize }}</small>
    </section>
    <ng-container [ngSwitch]="mimeType">
      <!-- <img *ngSwitchCase="'IMAGE'" > -->
      <span *ngSwitchDefault class="name">{{ name() }}</span>
    </ng-container>
    <ng-container [ngSwitch]="action">
      <button mat-button
        (click)="download($event);"
        *ngSwitchCase="'DOWNLOAD'">
          <div>
            <fa-icon [icon]="['fas', 'download']"></fa-icon>
            <span appLabel="download"></span>
          </div>
      </button>
      <button mat-button
        (click)="delete($event)"
        *ngSwitchCase="'DELETE'">
          <div>
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            <span appLabel="delete"></span>
          </div>
      </button>
    </ng-container>
  </mat-card-content>
</mat-card>