<mat-accordion multi="false">
  <mat-expansion-panel (click)="$event.stopPropagation();" *ngFor="let menuItem of menu | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong *ngIf="boldTitle">{{menuItem | translatable: 'name' | async}}</strong>
        <span *ngIf="!boldTitle">{{menuItem | translatable: 'name' | async}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="submenu">
      <a *ngFor="let subItem of sort(menuItem.subMenuItems)" (click)="navigate(subItem)">
        {{subItem | translatable: 'name' | async}}
      </a>
    </div>
  </mat-expansion-panel>
</mat-accordion>