@import 'src/styles/mixins.scss';

.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
  height: auto;
}

app-form-stepper{
  width: 100%;
}

.sticky-container {
  position: sticky;
  bottom: 1rem;
  margin-left: auto;
  z-index: 10;
  padding: 1rem;
  margin-top: -7.75rem;
}

.settings {
  display: flex;
  gap: var(--gap);
  
  @include responsive(tablet) {
    display: flex;
    flex-flow: column;
    gap: 0;
  }
}

:host ::ng-deep {

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

}

.mat-mdc-icon-button {
  --mdc-icon-button-icon-size: .875rem; 
}

button {
  width: fit-content;
}