<div class="main">
  <cin-page-title titleLabel="settings"></cin-page-title>
  <app-user-settings-menu-mobile class="sticky-container"></app-user-settings-menu-mobile>
  <div class="settings">
    <app-user-settings-menu></app-user-settings-menu>

      <cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
        <cin-form-step [formGroup]="userForm" titleLabel="content">
          <cin-grid-row columns="2">
            <mat-form-field appearance="outline">
              <mat-label i18nLabel="firstName"></mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18nLabel="lastName"></mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
          </cin-grid-row>

          <cin-grid-row columns="2">
            <mat-form-field appearance="outline">
              <mat-label i18nLabel="email"></mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18nLabel="phone"></mat-label>
              <input matInput formControlName="phone" />
            </mat-form-field>
          </cin-grid-row>
        </cin-form-step>

        <cin-form-step titleLabel="profilePicture" [formGroup]="ProfilePictureForm">
          <cin-media-form [maxFiles]="1"
            formControlName="profilePicture"></cin-media-form>
        </cin-form-step>
        
        <cin-form-step titleLabel="titleImage" [formGroup]="titleImageForm"
        descriptionLabel="onlyRelevantForAuthors">
          <cin-media-form formControlName="titleImage"
            [maxFiles]="1"></cin-media-form>
        </cin-form-step>        

        <cin-form-step [formGroup]="addressForm" titleLabel="address">
          <cin-grid-row>
            <app-address-form formControlName="address"> </app-address-form>
          </cin-grid-row>
        </cin-form-step>

        <cin-form-step
          [formGroup]="additionalInfoForm"
          titleLabel="additionalInfo">
          <cin-grid-row columns="1">
            <mat-form-field appearance="outline">
              <mat-label i18nLabel="shortDescription"></mat-label>
              <textarea formControlName="description" rows="5" matInput>
              </textarea>
            </mat-form-field>
          </cin-grid-row>

          <cin-grid-row columns="2">
            <mat-form-field appearance="outline">
              <mat-label i18nLabel="language"></mat-label>
              <mat-select
                formControlName="languageId">
                <mat-option
                  [value]="language.id"
                  *ngFor="let language of languages | async">
                  {{ language.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </cin-grid-row>
        </cin-form-step>
      </cin-form-stepper>
    </div>
  </div>
