mat-card {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  margin: auto;
  width: 60rem;
  max-width: calc(100% - var(--gap));
  padding: var(--gap);

  app-card-slider {
    max-width: 100%;
    align-self: center;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: var(--gap);
  }
}