@import 'src/styles/mixins.scss';

main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: var(--gap);
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border)
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    mat-form-field {
      flex: 2 1 auto;
      min-width: 16rem; //TODO: Widget width as variable
    }
  }
}

@include responsive(tablet) {
  .desktop {
    display: none;
  }
}

@include responsive(desktop) {
  .mobile {
    display: none;
  }
}

fa-icon {
  padding-right: .5rem;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all;
}