app-favorite-piece {
  position: absolute;
  z-index: 2;
  top: .5rem;
  right: 1rem;
  perspective: 150rem;
  transition: transform .2s ease-in-out;
  background-color: white;
  border-radius: 50%;
}