@import 'src/styles/mixins.scss'; 

header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;

  section {
    display: flex;
    align-items: center;
  }

  section:nth-of-type(1) {
    gap: var(--gap);
  }

  section:last-of-type {
    margin-left: auto;
    gap: 1rem;
  }


}
