<div class="details">
  <div class="title-area">
    <cin-media-title [media]="mediaTitle"></cin-media-title>
    <section class="card-box">

      <cin-share-button>
      </cin-share-button>

      <app-favorite
        entity="OrganisationEntity"
        [data]="organisation">
      </app-favorite>

    </section>
  </div>

  <section class="content-area">
    <section>
      <span class="details-headline">{{organisation?.name}}</span>
    <app-portal-organisation-details-summary (addressClicked)="scrollToMap()">
    </app-portal-organisation-details-summary>

      <p class="details-content"
        [innerHtml]="organisation | translatable : 'description' | async">
      </p>
    </section>

    <cin-media-slider *ngIf="media && media.length" [media]="media" [link]="['./media']">
    </cin-media-slider>

    <app-portal-organisation-details-members>
    </app-portal-organisation-details-members>

    <app-portal-organisation-details-rating>
    </app-portal-organisation-details-rating>

    <app-portal-organisation-details-comment *ngIf="organisation?.commentsAllowed">
    </app-portal-organisation-details-comment>

    <div *ngIf="organisation?.address" class="map-area">
      <cin-details-title titleLabel="mapView"></cin-details-title>
      <app-map [queryParams]="false" [markerDefinition]="marker">
      </app-map>
    </div>
  </section>
</div>
