.user {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--mdc-shape-small);
  border: 1px solid var(--color-border);
  justify-content: center;
  padding-bottom: var(--gap);
  gap: var(--gap);
  align-items: center;

  app-avatar {
    margin-top: -12rem;
    max-width: 10rem;
    max-height: 10rem;
  }

  section:first-of-type {
    gap: .5rem;
  }

  section:nth-of-type(2) {
    gap: 0rem;
  }
}

section {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

span {
  width: 70%;
}

.gradientImage,
img {
  margin-bottom: 5rem;
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
  height: 15rem;
  width: 100%;
}

.gradientImage {
  background: linear-gradient(135deg, var(--color-primary-100) 0%, var(--color-primary-50) 30%, var(--color-accent-50)70%, var(--color-accent-100) 100%);
}

img {
  object-fit: cover;
}