<div class="main" *ngIf="author | async as author">
  <app-page-title title="author"></app-page-title>
  <div class="user">
      <div *ngIf="!getTitleImage(author.uploads)" class="gradientImage"></div>
      <img *ngIf="getTitleImage(author.uploads) as titleImage" [appMedia]="titleImage" alt="author-titleImage">
    <app-avatar [user]="author" imageSize="10rem" fontSize="4.5rem"></app-avatar>
    <div>
      <section>
        <h4 class="mat-headline-5">{{author.user?.firstName}}</h4>
        <h4 class="mat-headline-5">{{author.user?.lastName}}</h4>
      </section>
      <section>
        <a href="mailto:{{author.user?.email}}">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </a>
        <app-social-share-button></app-social-share-button>
        <app-favorite-piece></app-favorite-piece>
      </section>
    </div>
    <span>{{author.description}}</span>
  </div>
  <div>
    <app-sub-title titleLabel="blogposts"></app-sub-title>
    <section>
      <app-content-card *ngFor="let card of author.articles" [entity]="'ArticleEntity'" [data]="card">
      </app-content-card>
    </section>
  </div>
</div>