div {
  display: flex;
  flex-flow: column;
  font-style: italic;
}

section {
  display: flex;
  gap: 1rem;

  time {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 5rem;
  }
}
