@import 'src/styles/mixins.scss';

footer {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  padding: 3rem 6rem;

  color: var(--color-black);
  background-color: white;
  border-top: 1px solid var(--color-border);
}

div {
  display: flex;
  justify-content: space-between;
  flex-flow: row;

  @include responsive(tablet) {
    flex-flow: column;
    align-items: center;
  }

  section,
  nav {
    display: flex;
    flex-flow: column;
    gap: 1rem;


    @include responsive(tablet) {
      align-items: center;
    }

    img {
      width: 5rem;
      height: 5rem;
    }
  }
}

.big-gap {
  gap: 4rem;
}

a {
  color: var(--color-black);
}