<footer>
  <div class="big-gap">
    <section>
      <img [src]="(platformLogo | async)?.media?.url">
      <span i18nLabel="freeLocalNewsPlatform"></span>
    </section>
    <nav *ngFor="let parent of menu | async">
      <h3>{{ parent | translatable: 'name' | async }}</h3>
      <a *ngFor="let item of parent.items"
        [href]="item?.url"
        target="_blank"
        rel="noopener noreferrer">
          <span> {{ item | translatable: 'name' | async }}</span>
      </a>
    </nav>

    <app-footer-appstore></app-footer-appstore>
  </div>

  <mat-divider></mat-divider>

  <div>
    <p>© 2018 - {{ currentYear }} 
      <a [href]="(platformUrl | async)?.value"
        target="_blank"
        rel="noopener noreferrer">
          {{ (platformCompany | async)?.value }}
      </a>
    </p>
    <small>Client v{{ clientVersion }} | Server v{{ (serverVersion | async)?.version }}</small>
  </div>

</footer>