article {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

section {
  display: flex;
  align-items: center;
}

:host ::ng-deep cin-date-piece {
  cin-icon {
    display: none;
  }

  time {
    color: gray;
    font-size: .875rem;
  }
}

app-media-avatar{
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}