:host ::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

mat-form-field{
  width: 16rem;
}

span {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 14rem;
}

mat-divider {
  margin-top: -1px;
}