div {
  display: flex;
  flex-flow: column;
  font-style: italic;
}

section {
  display: flex;
  gap: 1rem;

  time {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

fa-icon {
  color: gray;
}