<div class="main">
  <app-page-title titleLabel="yourVoteCounts"></app-page-title>

  @if (sortOptions) {
    <app-table-sort
      [options]="sortOptions"
      [queryParams]="true"
      (sortChange)="changeSort($event)">
    </app-table-sort>
  }

  <section>
    @for (element of actionInfos; track element; let i = $index) {
      <app-contest-portal-details-participations-card 
        [media]="element.media"
        [text]="element.text"
        [actionLabel]="element.label"
        [actionDisabled]="element.disabled"
        (action)="saveVote(i)">
      </app-contest-portal-details-participations-card>
    }
  </section>

  <mat-card>
    <app-table-paginator
      (page)="updateParams($event)"
      [length]="participationsTotal | async"
      [pageSize]="(params | async)?.size"
      [pageIndex]="(params | async)?.page"
      [pageSizeOption]="pageSizeOptions">
    </app-table-paginator>
  </mat-card>
</div>
