<main class="main">
  <form class="border-box" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="mat-headline-5" i18nLabel="resetPassword"></h2>
    <p i18nLabel="insertNewPassword"></p>
    <cin-password-confirm formControlName="password"></cin-password-confirm>
    <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
      <span i18nLabel="send"></span>
    </button>
    <small>
      <a class="link" [routerLink]="['../login',]" i18nLabel="backToLogin"></a>
    </small>
  </form>
</main>