<div>
  <section class="border-box">
    <app-details-title titleLabel="media" [link]="['form']"
      linkIcon="pen-to-square">
    </app-details-title>
    <app-media-slider *ngIf="media && media.length"
      [media]="media" titleType="NONE"></app-media-slider>
  </section>
</div>

<div>
  <section class="border-box">
    <app-details-title titleLabel="shortDescription"
      [link]="['./form']" linkIcon="pen-to-square">
    </app-details-title>
    <p
      [innerHtml]="article | translatable : 'shortDescription' | async">
    </p>
  </section>

  <section class="border-box">
    <app-details-title titleLabel="description"
      [link]="['./form']" linkIcon="pen-to-square">
    </app-details-title>
    <p #contentParagraph
      [innerHtml]="article | translatable : 'content' | async"></p>
    <a *ngIf="expanded"
      mat-button (click)="toggleShowMore()"
      appLabel="showLess">
    </a>
    <a *ngIf="contentParagraph.scrollHeight > contentParagraph.clientHeight"
      mat-button (click)="toggleShowMore()"
      appLabel="showMore">
    </a>
  </section>
</div>