@import 'src/styles/mixins.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button, a {
    align-self: flex-end;

    fa-icon {
      color: var(--color-primary-contrast-500);
      margin-right: .5rem;
    }
  }

  section {
    display: flex;
    gap: 1rem;
    max-width: 100%;

    @include responsive(dashboard) {
      flex-direction: column;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include responsive(dashboard) {
        max-width: unset;
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}

.media-container {
  min-width: 31rem;

  @include responsive(phone) {
    min-width: 100%;
  }
}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.expanded {
  -webkit-line-clamp: initial;
  max-height: unset;
}