<div>
  <section class="border-box">
    <h2 class="mat-headline-6" i18nLabel="createYourOrganisation"></h2>
    <p i18nLabel="organisationText1"></p>
    <p i18nLabel="organisationText2"></p>
  </section>

  <cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
         
    <cin-form-step titleLabel="content" [formGroup]="descriptionForm" descriptionLabel="describeYourOrganisation">
      <cin-grid-row columns="2">
        <mat-form-field appearance="outline">
          <mat-label i18nLabel="organisationName"></mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </cin-grid-row>
      <cin-grid-row columns="1">
        <cin-richtext-editor-form formControlName="description">
        </cin-richtext-editor-form>
      </cin-grid-row>
    </cin-form-step>

    <cin-form-step titleLabel="media" [formGroup]="uploadsForm">
      <cin-media-form [cardToggle]="true" [titleToggle]="true" formControlName="uploads">
      </cin-media-form>
    </cin-form-step>
    
    <cin-form-step titleLabel="contact" [formGroup]="contactForm" descriptionLabel="enterYourContactData">
      <cin-grid-row columns="2">
        <mat-form-field appearance="outline">
          <mat-label i18nLabel="email"></mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18nLabel="name"></mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </cin-grid-row>

      <cin-grid-row columns="2">
        <mat-form-field appearance="outline">
          <mat-label i18nLabel="website"></mat-label>
          <input matInput formControlName="website">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18nLabel="phone"></mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
      </cin-grid-row>
    </cin-form-step>

    <cin-form-step titleLabel="address" [formGroup]="addressForm" descriptionLabel="enterYourAddress">
      <cin-grid-row>
        <app-address-form formControlName="address">
        </app-address-form>
      </cin-grid-row>
    </cin-form-step>

  </cin-form-stepper>  
</div>