<div>
  <section class="border-box">
    <h2 class="mat-headline-6" appLabel="createYourOrganisation"></h2>
    <p appLabel="organisationText1"></p>
    <p appLabel="organisationText2"></p>
  </section>

  <app-form-stepper (cancelled)="cancelled()" (saved)="saved()">
         
    <app-form-step titleLabel="content" [formGroup]="descriptionForm" descriptionLabel="describeYourOrganisation">
      <app-row [columns]="2">
        <mat-form-field appearance="outline">
          <mat-label appLabel="organisationName"></mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </app-row>
      <app-row [columns]="1">
        <app-ck-editor-form formControlName="description"></app-ck-editor-form>
      </app-row>
    </app-form-step>
    
    <app-form-step titleLabel="contact" [formGroup]="contactForm" descriptionLabel="enterYourContactData">
      <app-row [columns]="2">
        <mat-form-field appearance="outline">
          <mat-label appLabel="email"></mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label appLabel="name"></mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </app-row>

      <app-row [columns]="2">
        <mat-form-field appearance="outline">
          <mat-label appLabel="website"></mat-label>
          <input matInput formControlName="website">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label appLabel="phone"></mat-label>
          <input matInput formControlName="phone" type="number">
        </mat-form-field>
      </app-row>
    </app-form-step>

    <app-form-step titleLabel="address" [formGroup]="addressForm" descriptionLabel="enterYourAddress">
      <app-row>
        <app-address-form formControlName="address">
        </app-address-form>
      </app-row>
    </app-form-step>

    <app-form-step titleLabel="media" [formGroup]="uploadsForm">
      <app-media-form 
        [cardToggle]="true" 
        [titleToggle]="true" 
        formControlName="uploads">
      </app-media-form>
    </app-form-step>

  </app-form-stepper>  
</div>