:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 26rem;
  height: 10rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: unset;
  margin-right: 17%;
}

figure {
  position: relative;
  width: 5%;
}

app-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  transform: translate(-50%, -50%);
}

mat-card-content {
  display: flex;
  flex-direction: column;
}