<ng-container *ngIf="(inlineEditActive | async) 
    && row?.id === (inlineEditRow | async)?.id; else actionsTemplate">
  <button mat-button
    class="save"
    appTooltip="save"
    (click)="$event.stopPropagation(); save();">
    <cin-icon [icon]="['fas', 'check']"></cin-icon>
  </button>

  <button mat-button
    appTooltip="cancel"
    (click)="$event.stopPropagation(); cancel();">
    <cin-icon [icon]="['fas', 'xmark']"></cin-icon>
  </button>
</ng-container>

<ng-template #actionsTemplate>
  <button *ngIf="inlineEditAction"
    mat-button
    [appTooltip]="inlineEditAction.tooltipLabel"
    [class.disabled]="isDisabled(inlineEditAction)"
    [disabled]="isDisabled(inlineEditAction)"
    (click)="$event.stopPropagation(); enable();">
    <cin-icon [icon]="['fas', inlineEditAction.icon]"></cin-icon>
  </button>

  <ng-container  *ngFor="let action of (actions | async)">
    <ng-container [ngSwitch]="action">
      <app-favorite *ngSwitchCase="'LIKE'"
        [entity]="entity"
        [data]="dataAsContent()">
      </app-favorite>
  
      <app-share-button *ngSwitchCase="'SHARE'"
        [url]="createUrl()">
      </app-share-button>
  
      <ng-container *ngSwitchDefault>
        <div [class.disabled]="isDisabled(action)">
          <button id="button" *ngIf="hasPrivileges(action)"
            mat-button
            [disabled]="isDisabled(action)"
            (click)="$event.stopPropagation(); callback(action);"
            [appTooltip]="tooltip(action)">
            <cin-icon [icon]="['fas', icon(action)]"></cin-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>