:host {
  width: 100%;
}

.row-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
}

// :host ::ng-deep {

//   .row-container {
//     & > * {
//       width: calc(var(--row-size) - 1rem) !important;
//     }
//   }
// }