div {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: var(--gap);
}

section {
  display: flex;
  align-items: center;
}

app-image {
  margin-right: .5rem;
  height: 2rem;
  width: 2rem;
}

:host ::ng-deep app-date-piece {
  fa-icon {
    display: none;
  }
  time {
    color: gray;
    font-size: .875rem;
  }
}