<div class="main">
  <cin-page-title titleLabel="createNewParticipation"> </cin-page-title>

  <cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
    <cin-form-step [formGroup]="uploadsForm" titleLabel="content">

      @if (contest?.type?.code === text) {
        <cin-grid-row [columns]="1">
          <cin-richtext-editor-form
            formControlName="textSubmission">
          </cin-richtext-editor-form>
        </cin-grid-row>
      }

      @if (contest?.type?.code === image || contest?.type?.code === video) {
        <cin-media-form
          [maxFiles]="1"
          formControlName="mediaSubmission">
        </cin-media-form>
      }
    </cin-form-step>
  </cin-form-stepper>
</div>
