@import 'src/styles/mixins.scss';

div {
  display: flex;
  gap: var(--gap);
  flex-flow: wrap;

  @include responsive(phone) {
    gap: 1rem;
    justify-content: center;
  }

  section {
    display: flex;
    gap: var(--gap);
    align-items: center !important;
    width: 45rem;

  @include responsive(phone) {
      gap: 1rem;
      justify-content: center;
    }
  }

  img {
    max-height: 6rem;
    max-width: 6rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  button {
    width: max-content;

  }
}