<div class="main">
  <section class="border-box">
    <h2 class="mat-headline-5"
      [appLabel]="(verified | async)
        ? 'congratulations'
        : 'failure'"></h2>
    <cin-icon 
      [icon]="(verified | async) 
        ? ['fas', 'check'] 
        : ['fas', 'xmark']" 
      [size]="'5x'"
      [style.color]="(verified | async) 
        ? 'var(--color-success-500)' 
        : 'var(--color-warn-500)'">
    </cin-icon>

    <p [appLabel]="(verified | async)
        ? 'verificationSuccess'
        : 'verificationFailure'"></p>
    <button *ngIf="(verified | async)"
      mat-raised-button
      color="primary"
      [routerLink]="['/account/login']">
        <span appLabel="login"></span>
    </button>
    <button *ngIf="(verified | async) === false"
      mat-raised-button
      color="primary"
      [routerLink]="['/account/verification']">
        <span appLabel="sendNewMail"></span>
    </button>
    <small *ngIf="(verified | async) === false">
      <a class="link" [routerLink]="['/account/login']" appLabel="backToLogin"></a>
    </small>
  </section>
</div>