div {
  margin: auto;
  height: 40rem;
  width: 60rem;
  max-width: calc(100% - var(--gap));
  padding: 0;
  
  app-map {
    height: 100%;
    width: 100%;
    }
}

:host ::ng-deep {
  .leaflet-container {
    border-radius: var(--mdc-shape-small) !important;
  }
}
