:host {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 30rem;

  mat-form-field {
    max-width: 95%;
    margin: 0 5%;
  }

  h1, p {
    text-align: center;
  }

  mat-dialog-actions {
    padding: 1rem;

    section {
        display: flex;
        align-items: center;

        fa-icon {
          color: var(--color-primary-contrast-900);
        }
      }
  }

  .scroll {
    max-height: 15rem;
    overflow-y: auto;

    div {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0 5%;    
  
      span {
        margin-right: auto;
      }
  
      app-avatar {
        min-width: 3rem;
        height: 3rem;
      }
    }
  }
}