div {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 30rem;
  padding-bottom: var(--gap);

  mat-form-field {
    max-width: 95%;
    margin: 0 5%;
  }

  h1, p {
    text-align: center;
  }
}

section {
  display: flex;
  align-items: center;
  fa-icon {
    color: var(--color-primary-contrast-900);
  }
}