<div>
  <div *ngIf="!titleImage" class="gradientImage"></div>
  <img *ngIf="titleImage" [appMedia]="titleImage" alt="author-titleImage">
  <section>
    <app-event-card-detail></app-event-card-detail>

    <app-event-organisation *ngIf="event?.organisation"></app-event-organisation>

    <app-event-participants></app-event-participants>

    <app-event-media *ngIf="media && media.length > 0"></app-event-media>

    <app-save-rating [eventId]="this.event?.id"></app-save-rating>

    <app-average-rating></app-average-rating>

    <app-star-evaluation></app-star-evaluation>

    <app-comment *ngIf="latestComment" [comment]="latestComment"></app-comment>

    <div>
      <app-save-comment [eventId]="event?.id"></app-save-comment>
      <a [routerLink]="['/comments']" appLabel="allComments" suffix="»"></a>
    </div>
  </section>
</div>