@import 'src/styles/mixins.scss';

header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  min-height: 80vh;
  padding-bottom: 1rem;
  flex-flow: row-reverse;

  @include responsive(phone) {
    flex-flow: row-reverse wrap;
  }

  img {
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
    object-fit: cover;
    width: 50%;

    @include responsive(phone) {
      width: 100%;
    }
  }

  section {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 45%;

    @include responsive(phone) {
      width: 100%;
    }
    button {
      color: var(--color-primary-contrast-700);
      background-color: var(--color-primary-700);
      margin-top: 1rem;
    }
  }
}

#wrapper {
  font-size: 6rem;
}

#container {
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  max-width: 35vw;
  height: fit-content;

  @include responsive(phone) {
    max-width: 90vw;
  }
}

#text {
  display: inline-block;
}