<header>
  <img [src]="media?.url" alt="hero-section">
  <section>
    <div>
      <div id="wrapper">
      <div class="title-gradient" id="container">
        <span id="text">{{page | translatable: "name" | async}}</span>
      </div>
    </div>
      <p>{{page | translatable: "shortDescription" | async}}</p>
      <a mat-raised-button color="primary" *ngIf="page?.callUrl" [routerLink]="page?.callUrl">
        {{page | translatable: "callText" | async}}
      </a>
    </div>
  </section>
</header>
<div class="main">
  <app-portal-page-embeddings *ngIf="page?.embeddings?.length" [embeddings]="page?.embeddings">
  </app-portal-page-embeddings>
</div>