:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

.summary {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  overflow-y: auto;
  padding: 1rem 0;
}

.charts {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  app-chart-bar-vertical {
    width: 100%;
    min-width: 20rem;
    height: 25rem;
  }
}

:host ::ng-deep {
  .mdc-text-field {
    background-color: white !important;
  }

}