<app-date-range-filter
  [queryParam]="false" [initValue]="initPeriod"
  (valueChanged)="updateParams(slug, $event)">
</app-date-range-filter>

<section class="summary">
  <app-chart-summary *ngIf="(visitorsAnalytics | async) as visitors"
    [actions]="[clicksAction]" [color]="visitorColor"
    [summary]="visitors.sum" titleLabel="totalVisitors">
  </app-chart-summary>
</section>

<section class="charts">
  <app-chart-bar-vertical *ngIf="(visitorsAnalytics | async) as visitors"
    [actions]="[clicksAction]" [colors]="[visitorColor]"
    [data]="visitors.series" [titleLabel]="'visitors'"
    [yAxisLabel]="visitorKey">
  </app-chart-bar-vertical>
</section>