<div class="{{(isLandscape | async) ? 'landscape' : ''}} {{(isDesktop | async) ? 'desktop' : ''}} {{showMenuInDesktop ? '' : 'hide-menu' }}">
  <div class="map-menu">
    <app-portal-map-overview-filter></app-portal-map-overview-filter>

    <div *ngIf="isDesktop | async"><ng-container *ngTemplateOutlet="resultList"></ng-container></div>
  </div>

  <div class="map-container">
    <div leaflet
      (leafletMapReady)="onMapReady($event)"
      (leafletMapMoveEnd)="onMapPositionChange()"
      (leafletMapZoomEnd)="onMapPositionChange()"
      [leafletOptions]="leafletOptions"
      [leafletFitBounds]="(mapBounds | async)!">
        <div *ngIf="(markers | async) as markers"
          [leafletMarkerCluster]="markers"
          [leafletMarkerClusterOptions]="markerClusterOptions">
        </div>
    </div>

    <app-map-attribution></app-map-attribution>

    <button mat-mini-fab *ngIf="isDesktop | async" (click)="toggleMenu()">
      <fa-icon [icon]="showMenuInDesktop ? 'angle-left' : 'angle-right'"></fa-icon>
    </button>

    <mat-button-toggle-group (change)="setFilter($event.value)" [value]="activeFilter | async" name="filter">
      <mat-button-toggle [value]="FilterKey.events"><span appLabel="activities"></span></mat-button-toggle>
      <mat-button-toggle [value]="FilterKey.organisations"><span appLabel="organisations"></span></mat-button-toggle>
      <mat-button-toggle [value]="FilterKey.deals"><span appLabel="deals"></span></mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="(isDesktop | async) === false"><ng-container *ngTemplateOutlet="resultList"></ng-container></div>
</div>

<ng-template #resultList>
  <app-portal-map-overview-list
    *ngIf="(results | async) as results"
    [entity]="results.entity"
    [cards]="results.data"
    [pageSize]="(isDesktop | async) ? 8 : 4">
  </app-portal-map-overview-list>
</ng-template>
