<section class="filter">
  <cin-date-range-filter
    [initValue]="period"
    [queryParam]="false"
    (valueChanged)="updatePeriod($event)">
  </cin-date-range-filter>

  <cin-interval-filter
    [initValue]="interval"
    [queryParam]="false"
    (valueChanged)="updateInterval($event)">
  </cin-interval-filter>
</section>

<section class="summary">
  <cin-chart-summary
    [actions]="[averageRatingAction]"
    [color]="scoreDistributionColor"
    [summary]="scoreDistribution?.average"
    titleLabel="averageScore">
  </cin-chart-summary>

  <cin-chart-summary
    [actions]="[totalAmountAction]"
    [color]="timeAmountDistributionColor"
    [summary]="scoreDistribution?.sum"
    titleLabel="totalAmount">
  </cin-chart-summary>
</section>

<section class="charts">
  <cin-chart-bar-vertical *ngIf="scoreDistribution"
    [actions]="[scoreDistributionAction]"
    [colors]="[scoreDistributionColor]"
    [data]="scoreDistribution.series"
    [titleLabel]="scoreDistributionKey"
    yAxisLabel="percentages">
  </cin-chart-bar-vertical>

  <cin-chart-bar-vertical *ngIf="timeAmountDistribution"
    [actions]="[timeAmountDistributionAction]"
    [colors]="[timeAmountDistributionColor]"
    [data]="timeAmountDistribution.series"
    [titleLabel]="timeAmountDistributionKey"
    yAxisLabel="amount">
  </cin-chart-bar-vertical>

  <cin-chart-bar-vertical *ngIf="timeAverageDistribution"
    [actions]="[timeAverageDistributionAction]"
    [colors]="[timeAverageDistributionColor]"
    [data]="timeAverageDistribution.series"
    [titleLabel]="timeAverageDistributionKey"
    yAxisLabel="averageRating">
  </cin-chart-bar-vertical>
</section>