<h1 mat-dialog-title appLabel="editFile"></h1>
<div mat-dialog-content [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-accordion>
    <mat-expansion-panel hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title
          appLabel="enterFurtherDetails">
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-content">

        <ng-container formGroupName="media">
          <mat-form-field appearance="outline">
            <mat-label appLabel="name"></mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        
          <mat-form-field appearance="outline" *ngIf="displayUrl">
            <mat-label appLabel="enterUrl"></mat-label>
            <input matInput formControlName="url">
          </mat-form-field>
  
          <mat-error *ngIf="form.controls.media.controls.url.errors && displayUrl"
            appLabel="enterValidUrl">
          </mat-error>
        </ng-container>
      
        <mat-divider *ngIf="data.displayCardToggle || data.displayTitleToggle">
        </mat-divider>
      
        <mat-slide-toggle *ngIf="data?.displayCardToggle"
          formControlName="card">
          <span appLabel="displayAsCardImage"></span>
        </mat-slide-toggle>
      
        <mat-slide-toggle *ngIf="data?.displayTitleToggle"
          formControlName="title">
          <span appLabel="displayAsTitleImage"></span>
        </mat-slide-toggle>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title
          appLabel="authorAttribution">
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container formGroupName="media">
        <div class="expansion-content" formGroupName="attribution">
          <span appLabel="imageAttributionDescription"></span>
          <a href="https://wiki.creativecommons.org/wiki/best_practices_for_attribution"
              target="_blank">
            <span appLabel="imageAttributionFurtherInfo"></span>
          </a>
  
          <mat-form-field appearance="outline">
            <mat-label appLabel="title"></mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label appLabel="author"></mat-label>
            <input matInput formControlName="author">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label appLabel="source"></mat-label>
            <input matInput formControlName="source">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label appLabel="license"></mat-label>
            <input matInput formControlName="license">
          </mat-form-field>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button
    mat-dialog-close
    appLabel="cancel">
  </button>

  <button mat-flat-button
    [disabled]="form.controls.media.controls.url.errors && displayUrl"
    color="primary"
    mat-dialog-close
    appLabel="confirm"
    (click)="onSubmit()">
  </button>
</div>
