<h3>
  {{
    poi?.title
      ? poi?.title
      : poi?.translatables | translatable: poi?.titleTranslatableField | async
  }}
</h3>
<app-address-piece *ngIf="poi?.address" [address]="poi?.address"
  (addressClicked)="openGoogleMaps($event)">
</app-address-piece>

<cin-date-piece *ngIf="poi?.date" [date]="poi?.date" [dateTime]="true">
</cin-date-piece>
<span>
  {{
    (poi?.text
      ? poi?.text
      : poi?.translatables | translatable: poi?.textTranslatableField | async) | stripTags | truncateWords:20
  }}
</span>
