<ng-template #template>
  <div class="container">
    <section (click)="expanded = !expanded">
      <div class="drop-title">
        
        <ng-container *ngIf="titleLabel; else titleTemplate">
          <strong [appLabel]="titleLabel"></strong>
        </ng-container>
        <ng-template #titleTemplate>
          <strong> {{ title }}</strong>
        </ng-template>
        
        <ng-container *ngIf="subTitleLabel; else subTitleTemplate">
          <small [appLabel]="subTitleLabel"></small>
        </ng-container>
        <ng-template #subTitleTemplate>
          <small> {{ subTitle }}</small>
        </ng-template>

      </div>
  

      <fa-icon *ngIf="!expanded; else collapseIcon" icon="arrow-down"
        appTooltip="expand">
      </fa-icon>

      <ng-template #collapseIcon>
        <fa-icon icon="arrow-up"
          appTooltip="collapse">
        </fa-icon>
      </ng-template>
    </section>

    <!-- Parent Content-->
    <ng-content *ngIf="expanded"></ng-content>
  </div>
</ng-template>