<ng-template #template>
  <div class="container">
    <section (click)="changeExpansion()">
      <div class="drop-title">
        @if (titleLabel) {
          <strong [appLabel]="titleLabel"></strong>
        } @else {
          <strong> {{ title }}</strong>
        }
        @if (subTitleLabel) {
          <small [appLabel]="subTitleLabel"></small>
        } @else {
          <small> {{ subTitle }}</small>
        }
      </div>
      @if (expandable) {
        @if (!expanded) {
          <app-icon 
            appTooltip="expand"
            [icon]="['fas', 'arrow-down']">
          </app-icon>
        } @else {
          <app-icon 
            appTooltip="collapse" 
            [icon]="['fas', 'arrow-up']">
          </app-icon>
        }
      }
    </section>
    <!-- Parent Content-->
    @if (expanded) {
      <ng-content></ng-content>
    }
  </div>
</ng-template>