.container {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  section {
    display: flex;
    gap: 1rem;
    align-items: center;

    cursor: pointer;

    .drop-title {
      display: flex;
      flex-flow: column;
    }
  }
}