<form [formGroup]="form">
  <app-row [columns]="5">
    <mat-form-field appearance="outline" [appAssignColumns]="4">
      <mat-label appLabel="street"></mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label appLabel="houseNr"></mat-label>
      <input matInput formControlName="houseNumber">
    </mat-form-field>
  </app-row>

  <app-row [columns]="5">
    <mat-form-field appearance="outline" [appAssignColumns]="4">
      <mat-label appLabel="place"></mat-label>
      <input matInput formControlName="place">
    </mat-form-field>
  </app-row>

  <mat-error *ngIf="form.errors?.['allFieldsRequired']"
    appLabel="allFieldsRequired"></mat-error>
  <mat-error *ngIf="form.errors?.['addressInvalid']"
    appLabel="addressInvalid"></mat-error>
</form>