<form *ngIf="(options | async) as options" [formGroup]="form">
  <!--
  <mat-form-field>
    <label appLabel="targetGroups"></label>
    <mat-select formControlName="targetGroupId">
      <mat-option *ngFor="let group of options.targetGroups" [value]="group.id">
        {{group | translatable: 'name' | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  -->
  <mat-form-field>
    <label appLabel="categories"></label>
    <mat-select formControlName="categoryId">
      <mat-option *ngFor="let category of options.categories" [value]="category.id">
        {{ category | translatable: 'name' | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
