<form *ngIf="(options | async) as options" [formGroup]="form">
  <mat-form-field>
    <label appLabel="ratings"></label>
    <mat-select formControlName="rating">
      <mat-option *ngFor="let rating of options.ratings" [value]="rating">
        {{ rating }}+
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <label appLabel="suburbs"></label>
    <mat-select formControlName="suburbId">
      <mat-option *ngFor="let suburb of options.suburbs" [value]="suburb.id">
        {{ suburb.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
