.main {
  display: flex;
  gap: var(--gap);
  flex-flow: column;
}

section {
  display: flex;
  flex-flow: row wrap;
  gap:  var(--gap);
  justify-content: center;
  align-items: center;
}

app-confetti{
  width: 100%;
  height: 100%;
}

