<div class="main">
  <cin-page-title titleLabel="congrats"> </cin-page-title>
  <section>
    <app-contest-portal-details-participations-card
      *ngFor="let element of firstPlaced; let i = index"
      [media]="element.media"
      [text]="element.text"
      [actionLabel]="element.label"
      [actionDisabled]="element.disabled">
    </app-contest-portal-details-participations-card>
  </section>
  <section>
    <app-contest-portal-details-participations-card
      *ngFor="let element of winners; let i = index"
      [media]="element.media"
      [text]="element.text"
      [actionLabel]="element.label"
      [actionDisabled]="element.disabled">
    </app-contest-portal-details-participations-card>    
  </section>
</div>
<app-confetti></app-confetti>
