@import 'src/styles/mixins.scss';

div {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  @include responsive(tablet) {
    justify-content: center;
  }
}

fa-icon {
  color: var(--color-primary-contrast-900);
}