<mat-accordion>
  <ng-content></ng-content>
</mat-accordion>

<section>
  <ng-container *ngIf="captchaRequired; else defaultSave;">
    <cin-captcha-submit
      [disabled]="(valid | async) === false"
      label="save"
      (verified)="save($event)">
    </cin-captcha-submit>
  </ng-container>

  <ng-template #defaultSave>
    <button mat-flat-button
      [disabled]="(valid | async) === false"
      color="primary"
      appLabel="save"
      (click)="save()">
    </button>
  </ng-template>

  <button mat-raised-button
    appLabel="cancel"
    (click)="cancel()">
  </button>

  <button mat-raised-button
    [disabled]="!dirty"
    appLabel="reset"
    (click)="reset()">
  </button>
</section>