<cin-filter-area
  [filtersActive]="filtersActive | async"
  (filtersCleared)="clearFilters()">

  <!-- The parent content, e.g. display filters, etc. -->
  <ng-content></ng-content>

  <!-- The filters to use in this filter area -->
  <ng-container filters>
    <app-event-filter-targetgroup>
    </app-event-filter-targetgroup>
    
    <app-event-filter-category>
    </app-event-filter-category>
    
    <app-suburb-filter (valueChanged)="suburbSelected($event)">
    </app-suburb-filter>
    
    <cin-date-range-filter
      [disabled]="disbleDateFilter"
      (valueChanged)="periodSelected($event)">
    </cin-date-range-filter>
    
    <app-event-filter-past>
    </app-event-filter-past>
    
    <app-event-filter-free>
    </app-event-filter-free>
  </ng-container>

</cin-filter-area>