<cin-filter-area>

  <!-- The parent content, e.g. display filters, etc. -->
  <ng-content></ng-content>

  <!-- The filters to use in this filter area -->
  <ng-container filters>
    <app-free-search-filter></app-free-search-filter>
  </ng-container>

  <ng-template cinExtendedSearch>
    <app-event-filter-targetgroup>
    </app-event-filter-targetgroup>
    
    <app-event-filter-category>
    </app-event-filter-category>
    
    <app-suburb-filter>
    </app-suburb-filter>
    
    <cin-date-range-filter [disabled]="disbleDateFilter">
    </cin-date-range-filter>
    
    <app-event-filter-past>
    </app-event-filter-past>
    
    <app-event-filter-free>
    </app-event-filter-free>
  </ng-template>

</cin-filter-area>