:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section {
  background-color: white;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
  border-radius: var(--mdc-shape-small);

  p, div{
    text-align: center;
  }

}
