@import 'ngx-cinlib/styles/mobile-mixins.scss';

header {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  gap: 5rem;
  flex-flow: row-reverse;

  img {
    max-width: 40%;
    @include responsive(phone) {
      display: none;
    }
  }

  cin-page-title{
    width: min-content;
  }

  section {
    display: flex;
    align-self: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
    }

    app-gradient-button {
      width: fit-content;
    }

    p {
      color: var(--color-dark-gray);
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5;
      max-width: 35vw;
      overflow-wrap: break-word;
      hyphens: auto;
      -webkit-hyphens: auto;

      @include responsive(phone) {
        max-width: 90vw;
      }
    }
  }
}
