:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 22rem;
  max-width: calc(100% - 2rem);

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

mat-card-header {
  padding: unset;

  mat-chip-option {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1rem;
  }

  app-image {
    width: 100%;
    height: 15rem;
  }

  border-bottom: solid 1px var(--color-border);
}

mat-card-content {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 1rem;

  span {
    height: 5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}

mat-card-actions {
  display: flex;
  gap: 1rem;

  app-image {
    width: 10%;
  }
}