<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-chip-option>
        <span>
          {{
            element?.category
              ? element?.category 
              : element?.categoryTranslatables | translatable: element?.categoryTranslatableField | async
          }}
        </span>
      </mat-chip-option>
      <app-favorite-piece></app-favorite-piece>
      <figure>
        <img ngSrc="media" alt="media" [loaderParams]="{media: element?.image}" fill>
      </figure>
    </mat-card-header>
    <mat-card-content>
      <h1>
        {{
          element?.title
            ? element?.title
            : element?.translatables | translatable: element?.titleTranslatableField | async
        }}
      </h1>
      <app-date-piece *ngIf="element?.date" [date]="element?.date" [dateTime]="element?.dateTime">Date</app-date-piece>
      <app-address-piece *ngIf="element?.address" [address]="element?.address"></app-address-piece>
      <span>
        {{
          element?.text
            ? element?.text
            : element?.translatables | translatable: element?.textTranslatableField | async
        }}
      </span>
    </mat-card-content>
    <mat-card-actions *ngIf="element?.creatorImage">
         <figure>
      <img ngSrc="media" alt="media" [loaderParams]="{media: element?.creatorImage}" fill>
    </figure>
      <span>{{element?.creator}}</span>
    </mat-card-actions>
  </mat-card>
</div>