form {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

:host ::ng-deep {

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

cin-icon {
  color: var(--color-accent-500);
}