<app-row [columns]="columns | async" [formGroup]="form">
  <app-datetime-form
    [appAssignColumns]="assignedColumns | async"
    label="begin"
    formControlName="startDate">
  </app-datetime-form>

  <app-datetime-form
    [appAssignColumns]="assignedColumns | async"
    label="end"
    formControlName="endDate">
  </app-datetime-form>

  <button *ngIf="(results | async)?.length"
    mat-icon-button
    color="primary"
    appTooltip="showSchedules"
    (click)="showSchedules()">
    <app-icon [icon]="['fas', 'eye']"></app-icon>
  </button>
</app-row>