<app-row columns="columns | async" [formGroup]="form">
  <app-datetime-form
    [appAssignColumns]="assignedColumns | async"
    formControlName="startDate">
  </app-datetime-form>

  <app-datetime-form
    [appAssignColumns]="assignedColumns | async"
    formControlName="endDate">
  </app-datetime-form>

  <button *ngIf="(results | async)?.length"
    mat-icon-button
    color="primary"
    appTooltip="showSchedules"
    (click)="showSchedules()">
    <i class="fas fa-eye"></i>
  </button>
</app-row>