<cin-grid-row [columns]="columns | async" [formGroup]="form">
  <cin-datetime-form
    [cinAssignColumns]="assignedColumns | async"
    label="begin"
    formControlName="startDate">
  </cin-datetime-form>

  <cin-datetime-form
    [cinAssignColumns]="assignedColumns | async"
    label="end"
    formControlName="endDate">
  </cin-datetime-form>

  <button *ngIf="(results | async)?.length"
    mat-icon-button
    color="primary"
    appTooltip="showSchedules"
    (click)="showSchedules()">
    <cin-icon [icon]="['fas', 'eye']"></cin-icon>
  </button>
</cin-grid-row>