@import 'src/styles/mixins.scss';

header {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: stretch;
  min-height: 80vh;
  padding-bottom: var(--gap);

  figure{
    flex: 2 1 25rem;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
    img{
      object-fit: cover;
    }
  }

  section {
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 2 1 10rem;
    padding: 5%;

    button {
      color: var(--color-primary-contrast-700);
      background-color: var(--color-primary-700);
      margin-top: 1rem;
    }
  }
}


