<header>
  <figure *ngIf="(page | async)?.titleImage">
    <img ngSrc="media" alt="media" [loaderParams]="{media: (page | async)?.titleImage}" fill priority="true">
  </figure>
  <section>
    <div>
      <div class="title title-gradient">{{page | translatable: "name" | async}}</div>
      <p>{{page | translatable: "shortDescription" | async}}</p>
      <button mat-raised-button color="primary" *ngIf="(page | async)?.callUrl" [routerLink]="(page | async)?.callUrl">
        {{page | translatable: "callText" | async}}
      </button>
    </div>
  </section>
</header>
<div class="main">
  <app-portal-page-features *ngIf="(page | async)?.pageFeatures?.length"
    [pageFeatures]="(page | async)?.pageFeatures"></app-portal-page-features>
</div>