  <div class="main">
  <app-page-title titleLabel="articles"></app-page-title>
  <app-sponsored-card *ngIf="(sponsored | async)?.id"
    entity="ArticleEntity"
    [data]="sponsored | async">
  </app-sponsored-card>

  <button mat-flat-button
    color="primary"
    [routerLink]="['/', portalUrl, guestArticlesFeatureKey]">
    <span appLabel="writeOwnStory"></span>
  </button>

  <app-article-filter 
    (paramsUpdated)="updateParams($event)">
    <cin-radio-button-group
      [inputs]="inputs"
      [value]="displayType"
      [queryParamKey]="displayQueryParam"
      (valueChanged)="displayType = $event">
    </cin-radio-button-group>
  </app-article-filter>

  <ng-container *ngIf="(articles | async)?.total; else emptyResult">
    <ng-container [ngSwitch]="displayType">
      
      <app-portal-article-overview-category *ngSwitchCase="'category'">
      </app-portal-article-overview-category>
  
      <app-portal-article-overview-table *ngSwitchCase="'table'"
        (sortPaginate)="updateParams($event)">
      </app-portal-article-overview-table>
  
    </ng-container>
  </ng-container>
  <ng-template #emptyResult>
    <app-no-data 
      titleLabel="noData" 
      text="noDataContent">
    </app-no-data>
  </ng-template>
</div>