<div class="details" *ngIf="author">
  <div class="title-area">
    <app-media-title [media]="mediaTitle"></app-media-title>
    <app-media-avatar [user]="author"></app-media-avatar>
  </div>

  <section class="content-area">
    <section>
      <span class="details-headline">{{ author.user?.firstName }} {{ author.user?.lastName }}</span>

      <div>
        <app-share-button>
        </app-share-button>

        <app-favorite
          entity="UserContextEntity"
          [data]="author">
        </app-favorite>

        <button mat-button *ngIf="author?.user?.email">
          <a href="mailto:{{author.user?.email}}">
            <fa-icon size="lg" [icon]="['fas', 'envelope']"></fa-icon>
          </a>
        </button>
      </div>

      <p class="details-content"
        [innerHtml]="author | translatable: 'description' | async">
      </p>
    </section>

    <app-card-slider 
      entity="ArticleEntity"
      [data]="author.articles"
      titleLabel="articles"
      titleType="DETAILS">
    </app-card-slider>

    <app-media-slider *ngIf="media && media.length"
      [media]="media"
      [link]="['./media']">
    </app-media-slider>

  </section>

</div>