@import 'src/styles/mixins.scss';

.title-area {
  width: 100%;
  height: 25rem;
  position: relative;

  cin-media-avatar {
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content-area {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  margin: 4rem 2rem 2rem 2rem;
  width: 80%;

  @include responsive(phone) {
    margin: 4rem 1.5rem 1.5rem 1.5rem;
    width: 85%;
    gap: 1.5rem;
  }
  
  span {
    margin: 0;
  }

  section {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
    margin: unset;
    justify-content: center;
    align-items: center;

    @include responsive(phone) {
      gap: 1.5rem;
    }

    div {
      display: flex;
      
    }
  }
}