<cin-page-title
  [titleLabel]="contentForm.value.id ? 'editEvent' : 'createNewEvent'">
</cin-page-title>

<cin-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <cin-form-step [formGroup]="contentForm" titleLabel="content">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="name"></mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="category"></mat-label>
        <mat-select formControlName="categoryId">
          <mat-option
            [value]="category.id"
            *ngFor="let category of categories | async">
            {{ category | translatable : "name" | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row columns="1">
      <cin-richtext-editor-form formControlName="content">
      </cin-richtext-editor-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="media" [formGroup]="uploadsForm">
    <cin-media-form
      [cardToggle]="true"
      [titleToggle]="true"
      formControlName="uploads">
    </cin-media-form>
  </cin-form-step>

  <cin-form-step
    [formGroup]="locationForm"
    titleLabel="location"
    [required]="true">
    <cin-grid-row>
      <app-address-form formControlName="address"> </app-address-form>
    </cin-grid-row>

    <mat-divider></mat-divider>

    <cin-grid-row columns="2">
      <mat-form-field appearance="outline" [ariaDisabled]="true">
        <mat-label i18nLabel="videoChatLink"></mat-label>
        <input matInput formControlName="videoChatLink" />
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step
    [formGroup]="shortDescriptionForm"
    titleLabel="shortDescription">
    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="shortDescription"></mat-label>
        <textarea formControlName="shortDescription" rows="5" matInput>
        </textarea>
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step
    titleLabel="time"
    descriptionLabel="createSchedules"
    [formGroup]="scheduleForm">
    <cin-grid-row>
      <cin-scheduler-form formControlName="schedules"> </cin-scheduler-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step
    titleLabel="contactAndOrganisation"
    [formGroup]="contactAndOrganisationForm">
    <cin-grid-row *ngIf="userOrganisations?.length">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="assignOrganisationToThisEvent?"></mat-label>
        <mat-select formControlName="organisationId">
          <mat-option 
            [value]="null"
            i18nLabel="NoOrganisation">
          </mat-option>
          <mat-option
            [value]="organisation?.id"
            *ngFor="let organisation of userOrganisations">
            {{ organisation.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>

    <mat-divider></mat-divider>

    <cin-grid-row>
      <app-contact-form
        formControlName="contact"
        [inputOptions]="contactOptionEntity">
      </app-contact-form>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="attendance" [formGroup]="attendeeConfigForm">
    <cin-grid-row columns="1">
      <div>
        <span i18nLabel="configureAttendance"></span>
        <mat-slide-toggle color="primary" formControlName="configureAttendance">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>

    <mat-divider
      *ngIf="attendeeConfigForm.value.configureAttendance"></mat-divider>

    <cin-grid-row *ngIf="attendeeConfigForm.value.configureAttendance" [columns]="1">
      <div>
        <span i18nLabel="attandanceNeedsApproval"></span>
        <mat-slide-toggle color="primary" formControlName="approval">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>

    <cin-grid-row *ngIf="attendeeConfigForm.value.configureAttendance" [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="maxAttendees"></mat-label>
        <input formControlName="maxAttendees" matInput />
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>

  <cin-form-step titleLabel="additionalInfo" [formGroup]="additionalInfoForm">
    <cin-grid-row columns="4">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="entryFee"></mat-label>
        <input formControlName="entryFee" matInput placeholder="&euro;" />
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row columns="1">
      <div>
        <span i18nLabel="commentsAllowed"></span>
        <mat-slide-toggle color="primary" formControlName="commentsAllowed">
        </mat-slide-toggle>
      </div>
    </cin-grid-row>

    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="targetGroup"></mat-label>
        <mat-select formControlName="targetGroups" multiple>
          <mat-option
            [value]="targetGroup.id"
            *ngFor="let targetGroup of targetGroups | async">
            {{ targetGroup | translatable : "name" | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </cin-grid-row>

    <cin-grid-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="metaDescription"></mat-label>
        <textarea matInput formControlName="metaDescription" rows="5">
        </textarea>
      </mat-form-field>
    </cin-grid-row>
  </cin-form-step>
</cin-form-stepper>
