<app-page-title
  [titleLabel]="contentForm.value.id ? 'editEvent' : 'createNewEvent'">
</app-page-title>

<app-form-stepper (cancelled)="cancelled()" (saved)="saved()">

  <app-form-step [formGroup]="contentForm" titleLabel="content">
    <app-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </app-row>
    <app-row [columns]="1">
      <app-ck-editor-form formControlName="content">
      </app-ck-editor-form>
    </app-row>
  </app-form-step>

  <app-form-step [formGroup]="shortDescriptionForm"
    titleLabel="shortDescription">
    <app-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="shortDescription"></mat-label>
        <textarea formControlName="shortDescription" rows="5"
          matInput>
        </textarea>
      </mat-form-field>
    </app-row>
  </app-form-step>

  <app-form-step [formGroup]="locationForm" titleLabel="location">
    <app-row>
      <app-address-form formControlName="address">
      </app-address-form>
    </app-row>

    <app-row [columns]="2">
      <mat-form-field appearance="outline" [ariaDisabled]="true">
        <mat-label appLabel="videoChatLink"></mat-label>
        <input matInput formControlName="videoChatLink">
      </mat-form-field>
    </app-row>
  </app-form-step>

  <app-form-step titleLabel="time" descriptionLabel="createSchedules"
    [formGroup]="scheduleForm">
    <app-row [columns]="2">
      <app-scheduler-form formControlName="schedules">
      </app-scheduler-form>
    </app-row>
  </app-form-step>

<app-form-step titleLabel="titleImage" [formGroup]="titleImageForm">
  <app-media-form [maxFiles]="1"
    formControlName="titleImage"></app-media-form>
</app-form-step>

<app-form-step titleLabel="cardImage" [formGroup]="cardImageForm">
  <app-media-form formControlName="cardImage"
    [maxFiles]="1"></app-media-form>
</app-form-step>

<app-form-step titleLabel="mediathek" [formGroup]="uploadsForm">
  <app-media-form formControlName="uploads"></app-media-form>
</app-form-step>

  <app-form-step titleLabel="additionalInfo"
    [formGroup]="additionalInfoForm">
    <app-row [columns]="8">
        <mat-form-field appearance="outline">
          <mat-label appLabel="entryFee"></mat-label>
          <input formControlName="entryFee" matInput
            placeholder="&euro;">
        </mat-form-field>
    </app-row>

    <app-row [columns]="1">
      <div>
        <span appLabel="commentsAllowed"></span>
        <mat-slide-toggle color="primary" formControlName="commentsAllowed">
        </mat-slide-toggle>
      </div>
    </app-row>

    <app-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="category"></mat-label>
        <mat-select formControlName="categoryId">
          <mat-option [value]="category.id"
            *ngFor="let category of categories | async">
              {{category | translatable: "name" | async}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-row>

    <app-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="metaDescription"></mat-label>
        <textarea matInput formControlName="metaDescription" rows="5">
          </textarea>
      </mat-form-field>
    </app-row>
  </app-form-step>

  <app-form-step titleLabel="contactAndOrganisation"
    [formGroup]="contactAndOrganisationForm">
  <app-row [columns]="2" *ngIf="(userOrganisations | async)?.length">
    <mat-form-field appearance="outline">
      <mat-label appLabel="assignOrganisationToThisEvent?"></mat-label>
      <mat-select formControlName="organisation">
        <mat-option [value]="null" selected
          appLabel="NoOrganisation">
        </mat-option>
        <mat-option [value]="organisation"
          *ngFor="let organisation of userOrganisations | async">
            {{ organisation.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-row>

  <mat-divider></mat-divider>

  <app-row>
    <app-event-contact-form formControlName="contact"
      [selectedOrganisation]="contactAndOrganisationForm.value.organisation"
    ></app-event-contact-form>
  </app-row>
  </app-form-step>

  <app-form-step titleLabel="attendance"
    [formGroup]="attendeeConfigForm">
    <app-row [columns]="1">
      <div>
        <span appLabel="attandanceNeedsApproval"></span>
        <mat-slide-toggle color="primary" formControlName="approval">
        </mat-slide-toggle>
      </div>
    </app-row>
  
    <app-row [columns]="5">
      <mat-form-field appearance="outline">
        <mat-label appLabel="maxAttendees"></mat-label>
        <input formControlName="maxAttendees" matInput>
      </mat-form-field>
    </app-row>
  </app-form-step>
</app-form-stepper>