<ng-container *ngIf="!mode">
  <div>
    <section
      (click)="mode = 'UPLOAD'"
      appLabel="uploadFile">
    </section>
    
    <mat-divider></mat-divider>
    
    <section
      (click)="mode = 'URL'"
      appLabel="includeMediaViaMedia">
    </section>
  </div>
</ng-container>

<ng-container *ngIf="mode === 'UPLOAD'">
  <app-media-form-upload
    (back)="mode = undefined"
    (uploads)="emit($event)">
  </app-media-form-upload>
</ng-container>

<ng-container *ngIf="mode === 'URL'">
  <app-media-form-url
    (back)="mode = undefined">
  </app-media-form-url>
</ng-container>