:host {
  width: 20rem;
  height: 20rem;
  max-width: 100%;
}

mat-card {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;

  overflow: hidden;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    height: 50%;
  
    cursor: pointer;
    user-select: none;
    word-break: break-all;
  
    &:hover {
      background-color: var(--color-lightest);
    }
  }

  .disabled {
    cursor: not-allowed;
    color: var(--color-gray);

    &:hover {
      background-color: unset;
    }
  }

}
