<ng-container *ngIf="!mode">
  <mat-card>
    <section
      (click)="mode = 'UPLOAD'"
      appLabel="uploadFile"
      [class.disabled]="isDisabled">
    </section>
    
    <mat-divider></mat-divider>
    
    <section
      (click)="mode = 'URL'"
      appLabel="includeMediaViaMedia"
      [class.disabled]="isDisabled">
    </section>
  </mat-card>
</ng-container>

<ng-container *ngIf="mode === 'UPLOAD'">
  <app-media-form-upload
    (back)="mode = undefined"
    (uploads)="emit($event)">
  </app-media-form-upload>
</ng-container>

<ng-container *ngIf="mode === 'URL'">
  <app-media-form-url
    (back)="mode = undefined"
    (upload)="emit([$event])">
  </app-media-form-url>
</ng-container>