<form [formGroup]="form">
  <app-row [columns]="4">
    <mat-form-field appearance="outline">
      <mat-label appLabel="begin"></mat-label>
      <input matInput type="datetime-local" formControlName="startDate">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label appLabel="end"></mat-label>
      <input matInput type="datetime-local" formControlName="endDate">
    </mat-form-field>
  </app-row>
  
  <mat-divider></mat-divider>
  

  <app-row [columns]="4">
    <mat-form-field appearance="outline">
      <mat-label appLabel="recurrence"></mat-label>
      <mat-select formControlName="recurrence">
        <mat-option *ngFor="let recurrence of recurrences" [value]="recurrence">
          <span [appLabel]="recurrence"></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-row>

  <!-- TODO: Make possible to select never to end -->
  <app-row *ngIf="form.value.recurrence
      && form.value.recurrence !== 'noRecurrence'">
    
    <app-radio-button-group
      formControlName="recurrenceEnd"
      [inputs]="recurrenceEndOptions"
      [displayRow]="false"
      value="on">
    </app-radio-button-group>
    <mat-form-field appearance="outline">
      <mat-label appLabel="endRecurrence"></mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </app-row>

  <mat-error *ngIf="form.errors">
    <span *ngFor="let error of form.errors | keyvalue"
      [appLabel]="error.key">
    </span>
  </mat-error>
</form>