:host {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 30rem;

  mat-form-field {
    max-width: 95%;
    margin: 0 5%;
  }

  h1,
  p {
    text-align: center;
  }

  section {
    display: flex;
    align-items: center;
    gap: .5rem;

    cin-icon {
      color: var(--color-primary-contrast-500)
    }
  }

  .scroll {
    height: 15rem;
    overflow-y: auto;

    div {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0 5%;

      span {
        margin-right: auto;
      }

      cin-media-avatar {
        min-width: 3rem;
        height: 3rem;
      }
    }
  }
}