<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">
    <i class="fas fa-xmark"></i>
  </button>
</mat-dialog-actions>

<h1 class="mat-headline-6" appLabel="addFriends"></h1>

<mat-dialog-content>
  <p appLabel="findYourFriends"></p>
  <p appLabel="showFriendsAtEvents"></p>
</mat-dialog-content>

<mat-form-field appearance="outline">
  <mat-label appLabel="search"></mat-label>
  <input matInput type="text" [(ngModel)]="value" (input)="filterUsers(value)">
  <button *ngIf="!value" matSuffix mat-icon-button>
    <i class="fas fa-magnifying-glass"></i>
  </button>
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="filterUsers(value)">
    <i class="fas fa-close"></i>
  </button>
</mat-form-field>

<mat-divider></mat-divider>

<div class="scroll">
  <div *ngFor="let portalUser of filteredUsers">
    <app-media-avatar [user]="portalUser"></app-media-avatar>
    <span>{{portalUser?.user?.firstName + ' ' + portalUser?.user?.lastName}}</span>
    <mat-checkbox [checked]="selectedPortalUsers.includes(portalUser)"
      (change)="toggleSelectedUser(portalUser, $event.checked)">
    </mat-checkbox>
  </div>
</div>

<mat-divider></mat-divider>

<mat-dialog-actions align="center">
  <button mat-flat-button color="primary" (click)="sendFriendRequest()">
    <section>
      <i class="fas fa-user-plus" [style.color]="'var(--color-primary-contrast-500)'"></i>
      <span appLabel="sendFriendRequest"></span>
    </section>
  </button>
</mat-dialog-actions>