<div class="main">
  <cin-page-title titleLabel="yourEventCalendar"></cin-page-title>
  <app-event-filter
    (rawParamsUpdated)="params = $event">
  </app-event-filter>
  <mat-card>
    <app-event-calendar 
      [additionalFilter]="params"
      (events)="events = $event"
      (daySelected)="title = $event.startDate.toLocaleDateString()">
    </app-event-calendar>
  </mat-card>
  <section *ngIf="events?.length">
    <app-card-slider
      entity="EventEntity"
      [data]="events"
      [titleLabel]="title">
    </app-card-slider>
  </section>
</div>