div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

cin-page-title {
  align-self: flex-start;
  width: 100%;
  margin-bottom: var(--gap);
}



mat-card {
  margin-top: 1rem;
  width: 40rem;
  max-width: calc(100% - var(--gap));
}

section {
  width: 100%;
}