span {
  margin: 0 1rem;
}

mat-radio-button {
  padding-right: -4px;
}

:host ::ng-deep {
  .mat-mdc-raised-button {
    border: 1px solid var(--color-primary-900) !important;
  }

  .mdc-radio {
    padding: unset !important;
  }
}