<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label appLabel="password"></mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'" aria-label="hidePassword">
      <fa-icon [icon]="hidePassword ? ['far', 'eye-slash']: ['far', 'eye']"></fa-icon>
    </button>
    <mat-error *ngIf="form.get('password')?.touched && form.get('password')!.errors?.['pwWeak']"
      appLabel="passwordWeak"></mat-error>
    <div class="progress-bar">
      <div class="progress" [ngStyle]="{
        'width.%': adjustedEntropy, 
        'background-color': pwSuccess ? 'var(--color-success-500)' : 'var(--color-warn-500)' }">
      </div>
    </div>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="showConfirm">
    <mat-label appLabel="passwordConfirm"></mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm">
    <button mat-icon-button type="button" matSuffix (click)="hideConfirm = !hideConfirm"
      [attr.aria-label]="'Hide password passwordConfirm'" aria-label="hideConfirm">
      <fa-icon [icon]="hideConfirm ? ['far', 'eye-slash']: ['far', 'eye']"></fa-icon>
    </button>
    <mat-error *ngIf="form.get('confirm')!.touched && form.get('confirm')!.errors?.['notSame']"
      appLabel="passwordsNotTheSame"></mat-error>
  </mat-form-field>
</form>