mat-card {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: row;
}

app-category-piece {
  position: absolute;
  z-index: 2;
  top: .5rem;
  left: .5rem;
}

app-card-actions {
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: .5rem;
}

figure {
  width: 50%;
  
  img {
    object-fit: cover;
    border-top-left-radius: var(--mdc-shape-small);
    border-bottom-left-radius: var(--mdc-shape-small);
    width: 100%;
    height: 100%;

    app-media-attribution {
      bottom: .5rem;
      right: .5rem;
    }
  }
}


mat-card-content {
  
  width: 50%;
  
  a {
    height: 100%;
    color: var(--color-black);
    display: flex;
    flex-flow: column;
    gap: 1rem;

    header {
      padding-top: 1rem;
    }
    
    span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    
    section {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
  
      img {
        width: 2rem;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
  }
}