mat-card {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: row;
  height: 30rem;
}

app-category-piece {
  position: absolute;
  z-index: 2;
  top: .5rem;
  left: .5rem;
}

app-card-actions {
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: .5rem;
}

figure {
  width: 50%;
  
  img {
    object-fit: cover;
    border-top-left-radius: var(--mdc-shape-small);
    border-bottom-left-radius: var(--mdc-shape-small);
    width: 100%;
    height: 100%;

    app-media-attribution {
      bottom: .5rem;
      right: .5rem;
    }
  }
}


mat-card-content {
  padding: 0 !important;
  width: 50%;
  
  a {
    height: 26rem;
    color: var(--color-black);
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 2rem 4rem 2rem 2rem;

    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    
    section {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
  
      img {
        width: 2rem;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    
  }
}