@import 'src/styles/mixins.scss';

:host {
  height: 100%;

  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

mat-expansion-panel {
  box-shadow: none !important;
}

mat-panel-title {
  display: flex;
  width: 100%;
  gap: 1rem;

  fa-icon {
    width: 1rem;
  }
}
