@import 'src/styles/mixins.scss';

:host {
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--gap);
}

mat-expansion-panel {
  box-shadow: none !important;
}

mat-panel-title {
  display: flex;
  width: 100%;
  gap: 1rem;

  fa-icon {
    width: 2rem;
  }
}

section {
  display: flex;
  flex-flow: column;
}

mat-accordion:last-of-type,
section:last-of-type {
  margin-top: auto;
}