.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    mat-form-field {
      flex: 2 1 auto;
      min-width: 16rem; //TODO: Widget width as variable
    }
  }
}

:host ::ng-deep {

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

}

