<form [formGroup]="form">
  <cin-grid-row columns="2" formGroupName="base">
    <mat-form-field appearance="outline" [cinAssignColumns]="1">
      <mat-label i18nLabel="name"></mat-label>
      <input matInput formControlName="label">
    </mat-form-field>
  </cin-grid-row>

  <mat-divider></mat-divider>

  @if (hasControl(form.controls.plugin, 'plugin')) {
    <cin-grid-row
      columns="2"
      [formGroup]="form.controls.plugin">
      <mat-form-field appearance="outline">
        <mat-label i18nLabel="plugin"></mat-label>
        <mat-select [formControl]="getControl(form.controls.plugin, 'plugin')">
          @for (plugin of plugins | async; track plugin) {
            <mat-option
              [value]="plugin.id">
              <span>{{ plugin | translatable: "name" | async }}</span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </cin-grid-row>
  }

  @if (hasControl(form.controls.title, 'title')) {
  <cin-grid-row
    columns="2"
    [formGroup]="form.controls.title">
    <mat-form-field
        appearance="outline">
        <mat-label i18nLabel="title"></mat-label>
        <input matInput [formControl]="getControl(form.controls.title, 'title')">
      </mat-form-field>
  </cin-grid-row>
}

  @if (hasControl(form.controls.buttonUrl, 'button')
    || hasControl(form.controls.buttonUrl, 'url')) {
    <cin-grid-row
      columns="2"
      [formGroup]="form.controls.buttonUrl">
      @if (hasControl(form.controls.buttonUrl, 'button')) {
        <mat-form-field
          appearance="outline">
          <mat-label i18nLabel="buttonText"></mat-label>
          <input matInput [formControl]="getControl(form.controls.buttonUrl, 'button')">
        </mat-form-field>
      }

      @if (hasControl(form.controls.buttonUrl, 'url')) {
        <mat-form-field
          appearance="outline">
          <mat-label i18nLabel="buttonUrl"></mat-label>
          <input matInput [formControl]="getControl(form.controls.buttonUrl, 'url')">
        </mat-form-field>
      }
    </cin-grid-row>
  }
  @if (hasControl(form.controls.textMedium, 'text')
    || hasControl(form.controls.textMedium, 'media')) {
    <cin-grid-row
      columns="2" [formGroup]="form.controls.textMedium">
      @if (hasControl(form.controls.textMedium, 'text')) {
        <cin-richtext-editor-form
          [formControl]="getControl(form.controls.textMedium, 'text')">
        </cin-richtext-editor-form>
      }
      @if (hasControl(form.controls.textMedium, 'media')) {
        <cin-media-form
          class="text-media"
          [formControl]="getControl(form.controls.textMedium, 'media')"
          [maxFiles]="1">
        </cin-media-form>
      }
    </cin-grid-row>
  }
  @if (hasControl(form.controls.media, 'multimedia')) {
    <div
      [formGroup]="form.controls.media">
      <cin-media-form [formControl]="getControl(form.controls.media, 'multimedia')">
      </cin-media-form>
    </div>
  }
  <button mat-stroked-button
    i18nLabel="save"
    [disabled]="form.invalid"
    (click)="update()">
  </button>
</form>