<ng-container [ngSwitch]="embedding?.type?.code">
  <app-admin-settings-page-embedding-plugin *ngSwitchCase="'plugin'"
    [embedding]="embedding"
    (saved)="saved.emit($event)">
  </app-admin-settings-page-embedding-plugin>

  <app-admin-settings-page-embedding-text-media *ngSwitchCase="'text_media'"
    [embedding]="embedding"
    (saved)="saved.emit($event)">
  </app-admin-settings-page-embedding-text-media>

  <app-admin-settings-page-embedding-expansion *ngSwitchCase="'expansion'"
    [embedding]="embedding"
    (saved)="saved.emit($event)">
  </app-admin-settings-page-embedding-expansion>

  <app-admin-settings-page-embedding-media-slider *ngSwitchCase="'media_slider'"
    [embedding]="embedding"
    (saved)="saved.emit($event)">
  </app-admin-settings-page-embedding-media-slider>
</ng-container>