<div class="main-admin">
  <app-page-title [title]="event | translatable: 'name' | async">
  </app-page-title>
  <button mat-flat-button color="primary">
    <fa-icon size="1x" [icon]="['fas', 'pen']"></fa-icon>
    <span appLabel="editEvent"></span>
  </button>

  <section>
    <div class="media-container">
      <section class="border-box">
        <app-details-title titleLabel="media" [link]="['./edit']"
          linkIcon="pen">
        </app-details-title>
        <app-media-slider *ngIf="media && media.length"
          [media]="media" titleType="NONE"></app-media-slider>
      </section>
    </div>

    <div>
      <section class="border-box">
        <app-details-title titleLabel="shortDescription"
          [link]="['./edit']" linkIcon="pen">
        </app-details-title>
        <p
          [innerHtml]="event | translatable : 'shortDescription' | async">
        </p>
      </section>

      <section class="border-box">
        <app-details-title titleLabel="description"
          [link]="['./edit']" linkIcon="pen">
        </app-details-title>
        <p #contentParagraph
          [innerHtml]="event | translatable : 'content' | async"></p>
        <a
          *ngIf="expanded"
          mat-button (click)="toggleShowMore()"
          appLabel="showLess"></a>
        <a
          *ngIf="contentParagraph.scrollHeight > contentParagraph.clientHeight"
          mat-button (click)="toggleShowMore()"
          appLabel="showMore"></a>
      </section>
    </div>

    <div>
      <section class="border-box">
        <app-details-title titleLabel="contactData"
          [link]="['./edit']" linkIcon="pen">
        </app-details-title>
        <app-address-piece [address]="event?.address"
          [link]="event?.videoChatLink">
        </app-address-piece>
        <app-phone-piece [phone]="event?.contact?.phone">
        </app-phone-piece>
        <app-mail-piece [mail]="event?.contact?.email">
        </app-mail-piece>
      </section>

      <section class="border-box">
        <app-details-title titleLabel="calendar" [link]="['./edit']"
          linkIcon="pen">
        </app-details-title>
        <app-event-admin-details-landing-calendar></app-event-admin-details-landing-calendar>
      </section>
    </div>
  </section>

</div>