<h3>
  {{
    poi?.title
      ? poi?.title
      : poi?.translatables | translatable: poi?.titleTranslatableField | async
  }}
</h3>
<app-address-piece *ngIf="poi?.address" [address]="poi?.address"
 (mapAddressClicked)="openGoogleMaps($event)">
</app-address-piece>

<app-date-piece *ngIf="poi?.date" [date]="poi?.date" [dateTime]="true">
</app-date-piece>
<span>
  {{
    (poi?.text
        ? poi?.text
        : poi?.translatables | translatable: poi?.textTranslatableField | async) | stripTags | truncateWords:20
  }}
</span>
