<div class="details">
  <div class="title-area">
    <app-title-image [image]="titleImage"></app-title-image>
    <section class="details-action-box">
      <app-share-button>
      </app-share-button>

      <app-favorite-piece>
      </app-favorite-piece>
    </section>
  </div>

  <section class="content-area">
    <h2 class="mat-headline-4">{{survey?.name}}</h2>

    <app-portal-survey-details-summary></app-portal-survey-details-summary>

    <p [innerHtml]="survey | translatable: 'description' | async"></p>

    <div>
      <app-details-title titleLabel="attend"></app-details-title>
      <img src="assets/features/survey.svg" alt="survey-image">
      <button mat-raised-button color="primary" appLabel="participateSurvey"></button>
    </div>
  </section>
</div>