@import "src/styles/mixins";

:host {
  display: block;

  hr {
    width: 20%;
    min-width: 36px;
    margin: 0 auto 1rem auto;
  }

  > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: var(--gap) 0;
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap);
    margin-top: var(--gap);
  }

  @include responsive(desktop) {
    hr {
      display: none;
      height: 0;
    }
  }
}
