<app-page-title 
  [titleLabel]="contentForm.value.id ? 'editPage' : 'createNewPage'">
</app-page-title>

<app-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <app-form-step titleLabel="content" [formGroup]="contentForm">
    <app-row columns="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="label">
      </mat-form-field>

      <mat-slide-toggle formControlName="isLanding" color="primary">
        <span appLabel="makeItLandingPage"></span>
      </mat-slide-toggle>
    </app-row>

    <app-admin-settings-page-embedding formControlName="embeddings">
    </app-admin-settings-page-embedding>
  </app-form-step>

  <app-form-step titleLabel="menu" [formGroup]="menuForm">
    <app-admin-settings-page-menu formControlName="menuItems">
    </app-admin-settings-page-menu>
  </app-form-step>

</app-form-stepper>