:host {
  position: relative;
  width: 28px;
  height: 40px;

  svg {
    display: block;
  }

  span {
    position: absolute;
    top: 5px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;

    app-icon {
      color: #eee
    }
  }
}
