<section>
  <cin-mail-piece
    class="a-piece"
    *ngIf="(contest | async)?.contact?.email"
    [mail]="(contest | async)?.contact?.email">
  </cin-mail-piece>

  <cin-phone-piece
    class="a-piece"
    *ngIf="(contest | async)?.contact?.phone"
    [phone]="(contest | async)?.contact?.phone">
  </cin-phone-piece>

  <cin-website-piece
    class="a-piece"
    [website]="(contest | async)?.contact?.website">
  </cin-website-piece>
</section>
<section>
  <div>
    <span class="piece" i18nLabel="endOfParticipation"></span>
    <cin-date-piece
      class="piece"
      [date]="(contest | async)?.participationEndDate"></cin-date-piece>
  </div>
  <div>
    <span class="piece" i18nLabel="endOfVote"></span>
    <cin-date-piece
      class="piece"
      [date]="(contest | async)?.voteEndDate"></cin-date-piece>
  </div>
</section>
