:host {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
  justify-content: space-between;

  div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
  }
}

section {
  display: flex;
  gap: var(--gap);
  flex-flow: column wrap;
  max-width: fit-content;
}

span{
  margin-right: auto;
}