<cin-table-sort *ngIf="sortOptions"
  [options]="sortOptions"
  [queryParams]="queryParams"
  (sortChange)="sortChange($event)">
</cin-table-sort>

<ng-container>
  <section>
    <ng-container [ngSwitch]="cardType">
      <ng-container *ngSwitchCase="types.contact">
        <app-contact-card *ngFor="let card of (data | async)?.result"
          [actions]="actions"
          [entity]="entity"
          [data]="card"
          (actionClicked)="actionClicked.emit($event)">
        </app-contact-card>
      </ng-container>
      <ng-container *ngSwitchCase="types.content">
        <app-content-card *ngFor="let card of (data | async)?.result"
          [actions]="actions"
          [entity]="entity"
          [data]="card"
          (actionClicked)="actionClicked.emit($event)">
        </app-content-card>
      </ng-container>
      <ng-container *ngSwitchCase="types.sponsored">
        <app-sponsored-card *ngFor="let card of (data | async)?.result"
          [actions]="actions"
          [entity]="entity"
          [data]="card"
          (actionClicked)="actionClicked.emit($event)">
        </app-sponsored-card>
      </ng-container>
    </ng-container>
  </section>
</ng-container>

<mat-card *ngIf="paginate">
  <cin-table-paginator
    [length]="(data | async)?.total"
    [pageSize]="initParams.size"
    [pageIndex]="initParams.page">
  </cin-table-paginator>
</mat-card>
