div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

app-page-title {
  align-self: flex-start;
  width: 100%;
}

mat-card {
  width: 40rem;
  max-width: calc(100% - var(--gap));
}

section {
  width: 100%;
}