:host {
  max-width: 100%;
}

mat-card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 22rem;
  max-width: calc(100% - 1rem);

  * {
    text-align: center;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }

  figure {
    align-self: center;
    position: relative;
    aspect-ratio: 1/1;
    max-height: 12rem;
    max-width: 12rem;
    margin-bottom: var(--gap);
  }

  span {
    height: 4.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }

  fa-icon {
    color: var(--color-primary-900);
  }
}