<div class="main">
  <app-page-title titleLabel="notifications"></app-page-title>
  <div class="border-box">
    <!-- TODO: Mark as read -->
    <button mat-button>
      <span appLabel="markAsRead"></span>
    </button>
    <section *ngFor="let notification of currentUser?.user?.notifications?.slice()?.reverse(); let last = last"
      [ngClass]="{'unread-notification': !notification?.read}">
      <article>
        <strong>{{ notification | translatable: 'title' | async }}</strong>
        <p>{{ notification | translatable: 'content' | async }}</p>
        <small>{{ notification?.modified | date: 'short' }}</small>
      </article>
      <mat-divider *ngIf="!last"></mat-divider>
    </section>
    <!-- TODO: Delete All -->
    <button mat-flat-button color="primary">
      <span appLabel="deleteAll"></span>
    </button>
  </div>
</div>