div {
  display: flex;
  justify-content: center;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' var(--icon-fill),
    'wght' var(--icon-wght),
    'GRAD' var(--icon-grad),
    'opsz' var(--icon-opsz),
};

.small {
  font-size: 2rem;
  line-height: 2rem;
  height: 2rem;
}

.medium {
  font-size: 3rem;
  line-height: 3rem;
  height: 3rem;
}

.large {
  font-size: 4rem;
  line-height: 4rem;
  height: 4rem;
}