@import 'ngx-cinlib/styles/mobile-mixins.scss';

.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap)
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

fieldset {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

mat-form-field {
  width: calc(50% - 1rem);

  @include responsive(tablet) {
    width: 100%;
  }
}

:host ::ng-deep {

  mat-expansion-panel.mat-expanded {
    border-left: solid var(--color-primary-600);
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
