<div class="main">
  <app-page-title titleLabel="yourStory"></app-page-title>
  <div class="border-box">
    <h2 class="mat-headline-6" appLabel="giveUsYourStory!"></h2>
    <p appLabel="guestArticleIntro"></p>
    <p appLabel="guestArticleIncentive"></p>
    <p appLabel="guestArticleHowTo"></p>
  </div>
  <form [formGroup]="form">
    <mat-accordion>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title appLabel="content"></mat-panel-title>
          <mat-panel-description appLabel="writeYourStory"></mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <mat-form-field appearance="outline">
            <mat-label appLabel="title"></mat-label>
            <input matInput id="name" formControlName="title">
          </mat-form-field>
          <app-ck-editor-form formControlName="content"></app-ck-editor-form>
        </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title appLabel="informations"></mat-panel-title>
          <mat-panel-description appLabel="enterYourData"></mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <mat-form-field appearance="outline">
            <mat-label appLabel="fullname"></mat-label>
            <input matInput id="name" formControlName="name" placeholder="Max Mustermann">
          </mat-form-field>
          <fieldset>
            <mat-form-field appearance="outline">
              <mat-label appLabel="email"></mat-label>
              <input matInput id="email" formControlName="email" placeholder="m.mustermann@example.com">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label appLabel="phone"></mat-label>
              <input matInput id="phone" formControlName="phone" placeholder="0174-1234567">
            </mat-form-field>
          </fieldset>
        </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title appLabel="uploads"></mat-panel-title>
          <mat-panel-description appLabel="uploadPicturesOrFiles"></mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <app-media-form></app-media-form>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <app-captcha-submit
      [disabled]="form.invalid"
      (verified)="onSubmit($event)">
    </app-captcha-submit>
  </form>
</div>