<div #container>

  <mat-card *ngFor="let row of (data | async)?.result;">
    <mat-card-title [appRow]="row" [column]="columns ? columns[0] : undefined"></mat-card-title>   
    <mat-card-content>
      <ng-container *ngFor="let column of columns; let first = first">
        <section *ngIf="!first">
          <span [appRow]="row" [column]="column"></span>
          <small [appLabel]="column.label"></small>
        </section>
      </ng-container>
    </mat-card-content>
    <mat-divider></mat-divider>
    <app-table-actions [actions]="actions"></app-table-actions>
  </mat-card>

  <mat-card>
    <app-table-paginator
      [length]="(data | async)?.total"
      [pageSize]="10">
    </app-table-paginator>
  </mat-card>
</div>