<div>

  <span>
    <i class="fas fa-user-group" [style.color]="'color: grey'"></i>
    {{ approvedAttendees?.length ?? 0 }}
    {{ maxAttendees ? '/ ' + maxAttendees: '' }}
  </span>

  <ng-container *ngIf="currentUserAttendee; else attendSection">
    <i *ngIf="currentUserAttendee?.approved"
      appLabel="youAttendToThisEvent">
    </i>

    <i *ngIf="!currentUserAttendee?.approved"
      appLabel="yourRegistrationIsInProcess">
    </i>

    <button mat-flat-button color="primary" (click)="cancel()">
      <span>
        <i class="fas fa-right-from-bracket" [style.color]="'var(--color-primary-contrast-500)'"></i>
        <span appLabel="deRegister"></span>
      </span>
    </button>
  </ng-container>

  <ng-template #attendSection>
    <button *ngIf="!maxAttendees
        || (approvedAttendees?.length || 0) < maxAttendees;
        else fullyBooked"
      mat-flat-button color="primary" (click)="attend()">
      <span>
        <i class="fas fa-right-from-bracket" [style.color]="'var(--color-primary-contrast-500)'"></i>
        <span appLabel="attend"></span>
      </span>
    </button>

    <ng-template #fullyBooked>
      <i appLabel="unfortunatelyEventFullyBooked"></i>
    </ng-template>
  </ng-template>

</div>