<div>

  <span>
    <cin-icon id="user-group" [icon]="['fas', 'user-group']"></cin-icon>
    {{ approvedAttendees?.length ?? 0 }}
    {{ maxAttendees ? '/ ' + maxAttendees: '' }}
  </span>

  <ng-container *ngIf="currentUserAttendee; else attendSection">
    <i *ngIf="currentUserAttendee?.approved"
      i18nLabel="youAttendToThisEvent">
    </i>

    <i *ngIf="!currentUserAttendee?.approved"
      i18nLabel="yourRegistrationIsInProcess">
    </i>

    <button mat-flat-button color="primary" (click)="cancel()">
      <span>
        <cin-icon [icon]="['fas', 'right-from-bracket']"></cin-icon>
        <span i18nLabel="deRegister"></span>
      </span>
    </button>
  </ng-container>

  <ng-template #attendSection>
    <button *ngIf="!maxAttendees
        || (approvedAttendees?.length || 0) < maxAttendees;
        else fullyBooked"
      mat-flat-button color="primary" (click)="attend()">
      <span>
        <cin-icon [icon]="['fas', 'right-from-bracket']"></cin-icon>
        <span i18nLabel="attend"></span>
      </span>
    </button>

    <ng-template #fullyBooked>
      <i i18nLabel="unfortunatelyEventFullyBooked"></i>
    </ng-template>
  </ng-template>

</div>