@import 'ngx-cinlib/styles/mobile-mixins.scss';

:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

.filter {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.summary {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  overflow-y: auto;
  padding: .5rem;
}

.charts {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  app-chart-bar-vertical {
    width: calc(50% - 1rem);
    height: 25rem;

    @include responsive(tablet) {
      width: 100%;
    }
  }
}

:host ::ng-deep {
  .mdc-text-field {
    background-color: white !important;
  }
  
}
