<section class="filter">
  <cin-date-range-filter
    [initValue]="period"
    [queryParam]="false"
    (valueChanged)="updatePeriod($event)">
  </cin-date-range-filter>

  <cin-interval-filter
    [initValue]="interval"
    [queryParam]="false"
    (valueChanged)="updateInterval($event)">
  </cin-interval-filter>
</section>

<section class="summary">
  <cin-chart-summary
    [actions]="[clicksAction]"
    [color]="clicksColor"
    [summary]="clicks?.sum"
    titleLabel="totalClicks">
  </cin-chart-summary>

  <cin-chart-summary
    [actions]="[impressionsAction]"
    [color]="impressionsColor"
    [summary]="impressions?.sum"
    titleLabel="totalImpressions">
  </cin-chart-summary>

  <cin-chart-summary
    [actions]="[ctrAction]"
    [color]="ctrColor"
    [summary]="ctr?.average"
    unit="%"
    titleLabel="averageCtr">
  </cin-chart-summary>

  <cin-chart-summary
    [actions]="[positionsAction]"
    [color]="positionsColor"
    [summary]="positions?.average"
    titleLabel="averagePosition">
  </cin-chart-summary>
</section>

<section class="charts">
  <cin-chart-bar-vertical *ngIf="clicks"
    [actions]="[clicksAction]"
    [colors]="[clicksColor]"
    [data]="clicks.series"
    [titleLabel]="clicksKey"
    [yAxisLabel]="clicksKey">
  </cin-chart-bar-vertical>

  <cin-chart-bar-vertical *ngIf="impressions"
    [actions]="[impressionsAction]"
    [colors]="[impressionsColor]"
    [data]="impressions.series"
    [titleLabel]="impressionsKey"
    [yAxisLabel]="impressionsKey">
  </cin-chart-bar-vertical>

  <cin-chart-bar-vertical *ngIf="ctr"
    [actions]="[ctrAction]"
    [colors]="[ctrColor]"
    [data]="ctr.series"
    [titleLabel]="ctrKey"
    [yAxisLabel]="ctrKey">
  </cin-chart-bar-vertical>

  <cin-chart-bar-vertical *ngIf="positions"
    [actions]="[positionsAction]"
    [colors]="[positionsColor]"
    [data]="positions.series"
    [titleLabel]="positionsKey"
    yAxisLabel="averagePosition">
  </cin-chart-bar-vertical>
</section>