<div *ngIf="titleLabel || link || title">
  <ng-container *ngIf="titleType === 'SUBTITLE'">
    <cin-sub-title *ngIf="titleLabel" [titleLabel]="titleLabel"></cin-sub-title>
    <cin-sub-title *ngIf="title" [title]="title"></cin-sub-title>
  </ng-container>
  <ng-container *ngIf="titleType === 'DETAILS'">
    <cin-details-title *ngIf="titleLabel" [titleLabel]="titleLabel"></cin-details-title>
    <cin-details-title *ngIf="title" [title]="title"></cin-details-title>
  </ng-container>
  <a *ngIf="link" 
    class="link"
    [routerLink]="link"
    [appLabel]="linkLabel" suffix="»">
  </a>
</div>