.container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.add-new-button {
  color: var(--color-success-900);
}

.drag-placeholder {
  border-radius: 5rem;
  height: 0.2rem;
  background-color: var(--color-primary-500);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container.cdk-drop-list-dragging mat-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-card {
  border-radius: var(--mdc-shape-small) !important;
  padding: 1rem;
  background-color: var(--color-lightest);
}
