:host {
  max-width: 100%;
}

mat-card {
  cursor: pointer;
  user-select: none;
  width: 22rem;
  max-width: calc(100% - 2rem);

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

mat-card-header {
  border-top-left-radius: var(--mdc-shape-small);
  border-top-right-radius: var(--mdc-shape-small);
  padding: unset;
  position: relative;
  height: 15rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  mat-chip-option {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1rem;
  }

  border-bottom: solid 1px var(--color-border);
}

mat-card-content {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 1rem;

  section {
    display: flex;
    justify-content: space-between;

    h1 {
      margin: unset;
      height: 5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
    }
  }

  span {
    height: 5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}

mat-card-actions {
  display: flex;
  gap: 1rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}

