<button mat-button (click)="closeDialog()">
  <fa-icon size="2x" [icon]="['fas', 'xmark']"></fa-icon>
</button>

<div (click)="closeDialog()" class="content-area">
  <button *ngIf="data.media.length > 1"
    mat-button
    (click)="previous($event)">
    <fa-icon size="2xl" [icon]="['fas', 'chevron-left']"></fa-icon>
  </button>

  <div [ngSwitch]="mimeType" class="content">
      <audio *ngSwitchCase="'AUDIO'" controls>
        <source [src]="currentMedia?.url" [type]="currentMedia?.mimeType">
      </audio>
  
      <img *ngSwitchCase="'IMAGE'"
        [src]="currentMedia?.url"
        [appAttribution]="currentMedia?.attribution"/>
  
      <app-media-card *ngSwitchCase="'PDF'"
        [media]="currentMedia">
      </app-media-card>
  
      <app-media-card *ngSwitchCase="'WORD'"
        [media]="currentMedia">
      </app-media-card>
  
      <app-media-video [media]="currentMedia"
      *ngSwitchCase="'VIDEO'">
      </app-media-video>
  </div>

  <button *ngIf="data.media.length > 1"
    mat-button
    (click)="next($event)">
    <fa-icon size="2xl" [icon]="['fas', 'chevron-right']"></fa-icon>
  </button>
</div>