:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  > button:first-of-type {
    align-self: end;
    margin: 1rem;
  }
}

.content-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 2 1 auto; 
  gap: var(--gap);

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 100%;
    height: 80vh;
    position: relative;
  }

  > button {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}

img{
  max-width: calc(100% - 1rem);
  max-height: 100%;
}

app-media-video {
  overflow: hidden;
  position: absolute;
  width: calc(100% - 1rem);
  height: 100%;
}