<cin-page-title
  titleLabel="platformSettings">
</cin-page-title>

<section *ngFor="let item of menuItems | async; let last = last">
  <div class="menu-block">
    <cin-details-title [titleLabel]="item.name"></cin-details-title>

    <nav>
      <mat-card *ngFor="let child of item.childs"
        [routerLink]="createRouterLink(child)"
        [class.disabled]="child.comingSoon">
        <cin-icon *ngIf="child?.icon" [icon]="['fas', child!.icon!]" [size]="'xl'"></cin-icon>
        <article>
          <strong [i18nLabel]="child.name"></strong>
          <small [i18nLabel]="child.description"></small>
        </article>
      </mat-card>
    </nav>
  </div>

  <mat-divider *ngIf="!last"></mat-divider>

</section>