:host {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  section {
    display: flex;
    flex-flow: column;
    gap: var(--gap);

    .menu-block {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;

      app-details-title {
        width: 30%;
      }
  
      nav {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        width: 70%;
      }
  
      mat-card {
        display: flex;
        flex-flow: row;
        align-items: center;
        cursor: pointer;
        border-radius: var(--mdc-shape-small) !important;
  
        gap: var(--gap);
        padding: 1rem;
        width: calc(50% - 1rem);
  
        article {
          display: flex;
          flex-flow: column;
          gap: 1rem;
        }
      }
    }
  }
}