<app-page-title
  titleLabel="platformSettings">
</app-page-title>

<section *ngFor="let item of menuItems | async; let last = last">
  <div class="menu-block">
    <app-details-title [titleLabel]="item.name"></app-details-title>

    <nav>
      <mat-card *ngFor="let child of item.childs"
        [routerLink]="createRouterLink(child)"
        [class.disabled]="child.comingSoon">
        <cin-icon *ngIf="child?.icon" [icon]="['fas', child!.icon!]" [size]="'xl'"></cin-icon>
        <article>
          <strong [appLabel]="child.name"></strong>
          <small [appLabel]="child.description"></small>
        </article>
      </mat-card>
    </nav>
  </div>

  <mat-divider *ngIf="!last"></mat-divider>

</section>