span {
  display: block;
  padding: .25rem .5rem;
  border-radius: var(--mdc-shape-small);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-size: .875rem;
}