@import 'src/styles/mixins.scss';

mat-toolbar {
  background-color: white;
}

app-portal-header-desktop,
app-portal-header-mobile {
  width: 100%;
}

@include responsive(tablet) {
  app-portal-header-desktop {
    display: none;
  }
}

@include responsive(desktop) {
  app-portal-header-mobile {
    display: none;
  }
}