:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  div:last-of-type {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    app-rating-distribution {
      width: 100%;
    }
  }
}

