<button mat-button
  (click)="changeFavorite()"
  [cinTooltip]="createTooltip()">
  <div>
    <cin-icon 
      *ngIf="isFavorite" 
      [icon]="['fas', 'heart']" 
      [size]="'lg'" 
      [style.color]="'var(--color-warn-400)'">
    </cin-icon>
    <cin-icon 
      *ngIf="!isFavorite" 
      [icon]="['far', 'heart']" 
      [size]="'lg'">
    </cin-icon>
    <ng-container *ngIf="withLabel">
      <span *ngIf="!isFavorite" [appLabel]="addToFavoritesLabel"></span>
      <span *ngIf="isFavorite" [appLabel]="removeFromFavoritesLabel"></span>
    </ng-container>
  </div>
