<button mat-button
  (click)="changeFavorite()"
  [appTooltip]="createTooltip()">
  <div>
    <span *ngIf="isFavorite">
      <i class="fas fa-heart" [style.color]="'var(--color-warn-400)'"></i>
    </span>
    <span *ngIf="!isFavorite">
      <i class="far fa-heart"></i>
    </span>
    <ng-container *ngIf="withLabel">
      <span *ngIf="!isFavorite" [appLabel]="addToFavoritesLabel"></span>
      <span *ngIf="isFavorite" [appLabel]="removeFromFavoritesLabel"></span>
    </ng-container>
  </div>
</button>