<section class="filter">
  <cin-date-range-filter
    [initValue]="period"
    [queryParam]="false"
    (valueChanged)="updatePeriod($event)">
  </cin-date-range-filter>

  <cin-interval-filter
    [initValue]="interval"
    [queryParam]="false"
    (valueChanged)="updateInterval($event)">
  </cin-interval-filter>
</section>

<section class="summary">
  <cin-chart-summary *ngIf="visits"
    [actions]="[visitsAction]"
    [color]="visitsColor"
    [summary]="visits.sum"
    titleLabel="totalVisits">
  </cin-chart-summary>

  <cin-chart-summary *ngIf="visitors"
    [actions]="[visitorsAction]"
    [color]="visitorsColor"
    [summary]="visitors.sum"
    titleLabel="totalVisitors">
  </cin-chart-summary>
</section>

<section class="charts">
  <cin-chart-bar-vertical *ngIf="visits"
    [actions]="[visitsAction]"
    [colors]="[visitsColor]"
    [data]="visits.series"
    [titleLabel]="visitsKey"
    [yAxisLabel]="visitsKey">
  </cin-chart-bar-vertical>

  <cin-chart-bar-vertical *ngIf="visitors"
    [actions]="[visitorsAction]"
    [colors]="[visitorsColor]"
    [data]="visitors.series"
    titleLabel="pageVisitors"
    yAxisLabel="pageVisitors">
  </cin-chart-bar-vertical>
</section>