@import 'src/styles/mixins.scss';

/* Button */

//TODO: Necessary to set text color to contrast because of
// https://github.com/angular/components/issues/26056
.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-label-text-color: var(--color-primary-contrast-500) !important;
}

.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-label-text-color: var(--color-accent-contrast-500) !important;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-label-text-color: var(--color-primary-contrast-500) !important;
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-label-text-color: var(--color-accent-contrast-500) !important;
}

/* Size Button Toggle Group to match other button's size */
.mat-button-toggle-label-content {
  line-height: 36px !important;
}

/* Card */
mat-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: var(--mdc-shape-medium) !important;
}

mat-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: var(--mdc-shape-medium) !important;
}

/* Calendar */
.mat-calendar-body-in-range::before {
  background: var(--color-primary-100) !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  color: var(--color-primary-contrast-500) !important;
}

// .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//   color: var(--color-primary-contrast-500) !important;
// }

.mat-calendar-body-in-preview {
  color: var(--color-primary-contrast-500) !important;
}

/* CKEditor */
.ck-editor__editable_inline {
  min-height: 500px;
}

/* Form Fields*/
.mdc-text-field {
  background-color: var(--color-lightest) !important;
  border-bottom-right-radius: var(--mdc-shape-small) !important;
  border-bottom-left-radius: var(--mdc-shape-small) !important;
}

/* Menu */
.mdc-menu-surface {
  border-radius: 0 0 1rem 1rem !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: fit-content !important;
}

/* Progress Bar */
.mdc-linear-progress__buffer-bar {
  background-color: var(--color-primary-100) !important;
}