/* BUTTON */

//TODO: Necessary to set text color to contrast because of
// https: //github.com/angular/components/issues/26056
.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-label-text-color: var(--color-primary-contrast-500);
}

.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-label-text-color: var(--color-accent-contrast-500);
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-label-text-color: var(--color-primary-contrast-500);
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-label-text-color: var(--color-accent-contrast-500);
}

/* Form Fields*/
.mdc-text-field {
  background-color: var(--color-lightest) !important;
  border-bottom-right-radius: var(--mdc-shape-small) !important;
  border-bottom-left-radius: var(--mdc-shape-small) !important;
}

/* Card */

mat-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: var(--mdc-shape-medium) !important;
}