@import 'src/styles/mixins.scss';

/* Button */

//TODO: Necessary to set text color to contrast because of
// https://github.com/angular/components/issues/26056
.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-label-text-color: var(--color-primary-contrast-500) !important;
}

.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-label-text-color: var(--color-accent-contrast-500) !important;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-label-text-color: var(--color-primary-contrast-500) !important;
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-label-text-color: var(--color-accent-contrast-500) !important;
}

/* Card */
mat-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: var(--mdc-shape-medium) !important;
}

mat-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: var(--mdc-shape-medium) !important;
}

/* Calendar */
.mat-calendar-body-cell:not(.mat-calendar-body-disabled) {
  &>.mat-calendar-body-cell-content {
    background-color: var(--color-primary-500) !important;
    color: var(--color-primary-contrast-500) !important;
    font-weight: bold;
  }
}

.mat-calendar-body-cell {
  top: 25% !important;
  left: 25% !important;
  width: 50% !important;
  height: 50% !important;

  @include responsive(phone) {
    top: 5% !important;
    left: 5% !important;
    width: 90% !important;
    height: 90% !important;
  }
}

/* Form Fields*/
.mdc-text-field {
  background-color: var(--color-lightest) !important;
  border-bottom-right-radius: var(--mdc-shape-small) !important;
  border-bottom-left-radius: var(--mdc-shape-small) !important;
}

/* Menu */
.mdc-menu-surface {
  border-radius: 0 0 1rem 1rem !important;
}