
@use '@angular/material' as mat;
@import '@angular/material/theming';
@import 'src/styles/theme/colors.theme.scss';
@import 'src/styles/mixins.scss';

$typography: (
  mat.define-typography-config($font-family: 'Inter, "Helvetica Neue", sans-serif',
    $headline-1: mat.define-typography-level(6rem, 7rem, 700, $letter-spacing: -0.05em),
    $headline-2: mat.define-typography-level(3.5rem, 4rem, 600, $letter-spacing: -0.02em),
    $headline-3: mat.define-typography-level(2.9rem, 3rem, 600, $letter-spacing: -0.005em),
    $headline-4: mat.define-typography-level(2.1rem, 2.5rem, 600),
    $headline-5: mat.define-typography-level(1.5rem, 2rem, 600),
    $headline-6: mat.define-typography-level(1.25rem, 2rem, 600),
    $subtitle-1: mat.define-typography-level(1rem, 1.25rem, 700),
    $body-1: mat.define-typography-level(1rem, 1.25rem, 500),
    $subtitle-2: mat.define-typography-level(1rem, 1.5rem, 500),
    $body-2: mat.define-typography-level(1rem, 1.25rem, 500),
    $caption: mat.define-typography-level(0.75rem, 1.25rem, 500),
    $button: mat.define-typography-level(1rem, 1rem, 500))
);

$theme: mat-light-theme((
  color: (
    primary: mat-palette($theme-palette-primary, 500),
    accent: mat-palette($theme-palette-accent, 500),
    warn: mat-palette($theme-palette-warn, 500),
  ),
  typography: $typography,
));

@include mat.core();
@include mat.all-component-themes($theme);
@include mat.all-component-typographies($typography);