<main class="main">
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <fa-icon size="5x" [icon]=" ['fas', 'lock']"></fa-icon>
    <h2 class="mat-headline-5" appLabel="troubleLogin"></h2>
    <p>Bitte gib deine E-Mail-Adresse an. Du erhältst dann eine E-Mail mit einem Link, über den du ein neues Passwort
      wählen kannst.</p>
    <div>
      <mat-form-field appearance="outline">
        <mat-label appLabel="email"></mat-label>
        <input matInput id="email" formControlName="email" placeholder="m.mustermann@example.com">
      </mat-form-field>
      <div>
        <a [routerLink]="['/user', 'login']" appLabel="backToLogin"></a>
      </div>
    </div>
    <div>
      <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
        <label appLabel="send"></label>
      </button>
    </div>
  </form>
</main>