@import 'src/styles/mixins.scss';

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.border-box {
  width: 90rem;
  max-width: calc(100% - var(--gap));
  display: flex;
  padding: 0;
  text-align: center;

  section {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: 5%;

    h2, p {
      margin: 0;
    }

    fa-icon {
      color: var(--color-success-900)
    }
  }

  img {
    padding: 2rem 2rem 2rem 0;
    width: 26%;
    object-fit: cover;
    border-top-right-radius: 1rem;

    @include responsive(tablet) {
        display: none;
      }
  }
}