<div>
  @for (group of groups; track group) {
    @switch (group?.type?.code) {
      @case ('box') {
        <app-portal-page-embedding-box
          [embeddings]="group.embeddings">
        </app-portal-page-embedding-box>
      }

      @case ('expansion') {
        <app-portal-page-embedding-expansion
          [embeddings]="group.embeddings">
        </app-portal-page-embedding-expansion>
      }
      @case ('plugin') {
        @for (embedding of group.embeddings; track embedding) {
          <app-portal-page-embedding-plugin [embedding]="embedding">
          </app-portal-page-embedding-plugin>
        }
      }
      @case ('text_media') {
        <app-portal-page-embedding-text-media
          [embeddings]="group.embeddings">
        </app-portal-page-embedding-text-media>
      }
    }
  }
</div>
