<div *ngIf="(titleLabel || link || title) && media?.length">
  
  <ng-container *ngIf="titleType === 'DETAILS'">
    <app-details-title *ngIf="title; else detailsTitleLabel"
      [link]="link"
      [linkLabel]="linkLabel"
      [title]="title">
    </app-details-title>
    <ng-template #detailsTitleLabel>
      <app-details-title [titleLabel]="titleLabel"></app-details-title>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="titleType === 'SUBTITLE'">
    <app-sub-title *ngIf="title; else subTitleLabel" 
      [link]="link"
      [title]="title">
    </app-sub-title>
    <ng-template #subTitleLabel>
      <app-sub-title [titleLabel]="titleLabel"></app-sub-title>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="titleType === 'PAGE'">
    <app-page-title *ngIf="titleLabel; else pageTitleLabel" [titleLabel]="titleLabel"></app-page-title>
    <ng-template #pageTitleLabel>
      <app-page-title *ngIf="title" [title]="title"></app-page-title>
    </ng-template>
  </ng-container>
  
  <a *ngIf="link"
    class="link"
    [routerLink]="link"
    [appLabel]="linkLabel" suffix="»">
  </a>
</div>

<ng-container *ngIf="mediaCardType === 'VIEW'">
  <cin-slider *ngIf="media?.length">
    <ng-container *ngFor="let element of media">
      <app-media-view-card 
        [media]="element"
        (clicked)="open(element)"
        (deleted)="delete($event)">
      </app-media-view-card>
    </ng-container>
  </cin-slider>
</ng-container>

<ng-container *ngIf="mediaCardType === 'ACTION'">
  <cin-slider *ngIf="media?.length">
    <ng-container *ngFor="let element of media">
      <app-media-action-card
        [actionLabel]="actionLabel"
        [media]="element"
        [showDelete]="true"
        (action)="action($event)"
        (deleted)="delete($event)">
      </app-media-action-card>
    </ng-container>
  </cin-slider>
</ng-container>