<div *ngIf="(titleLabel || link || title) && media?.length">
  
  <ng-container *ngIf="titleType === 'DETAILS'">
    <app-details-title *ngIf="titleLabel; detailsTitleLabel" [titleLabel]="titleLabel"></app-details-title>
    <ng-template #subTitleLabel>
      <app-details-title [title]="title"></app-details-title>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="titleType === 'SUBTITLE'">
    <app-sub-title *ngIf="title; else subTitleLabel" [title]="title"></app-sub-title>
    <ng-template #subTitleLabel>
      <app-sub-title [titleLabel]="titleLabel"></app-sub-title>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="titleType === 'PAGE'">
    <app-page-title *ngIf="titleLabel; else pageTitleLabel" [titleLabel]="titleLabel"></app-page-title>
    <ng-template #pageTitleLabel>
      <app-page-title *ngIf="title" [title]="title"></app-page-title>
    </ng-template>
  </ng-container>
  
  <section *ngIf="link">
    <a [routerLink]="link" [appLabel]="linkLabel" suffix="»"></a>
  </section>
</div>

<app-slider *ngIf="media?.length">
  <ng-container *ngFor="let element of media">
    <app-media-card 
      [media]="element"
      [showDelete]="showDelete"
      (clicked)="open(element)"
      (deleted)="delete($event)">
    </app-media-card>
  </ng-container>
</app-slider>
