cin-slider {
  img {
    max-height: 10rem;
    max-height: 10rem;
    object-fit: contain;
  }

  video {
    object-fit: cover;
    max-height: 10rem;
    max-height: 10rem;
  }
}

div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}