<form *ngIf="(options | async) as options" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label appLabel="targetGroup"></mat-label>
    <mat-select formControlName="targetGroupId">
      <mat-option [value]="null"></mat-option>
      <mat-option *ngFor="let group of options.targetGroups" [value]="group.id">
        {{group | translatable: 'name' | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label appLabel="suburb"></mat-label>
    <mat-select formControlName="suburbId">
      <mat-option></mat-option>
      <mat-option *ngFor="let suburb of options.suburbs" [value]="suburb.id">
        {{ suburb.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label appLabel="category"></mat-label>
    <mat-select formControlName="categoryId">
      <mat-option></mat-option>
      <mat-option *ngFor="let category of options.categories" [value]="category.id">
        {{ category | translatable: 'name' | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label appLabel="daytime"></mat-label>
    <mat-select>
      <mat-option></mat-option>
      <mat-option appLabel="duringTheDay"></mat-option>
      <mat-option appLabel="inTheEvening"></mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="span-line">
    <mat-label appLabel="fromTo"></mat-label>
    <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start">
      <input matEndDate formControlName="end" placeholder="End">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-checkbox class="span-line" formControlName="showOnlyAdmissionFree">
    <span appLabel="showOnlyAdmissionFree"></span>
  </mat-checkbox>
  <mat-checkbox class="span-line" formControlName="showPastEvents">
    <span appLabel="showPastEvents"></span>
  </mat-checkbox>
</form>
