<app-page-title titleLabel="organisations"></app-page-title>

<section>
  <button mat-raised-button
    color="primary"
    [routerLink]="['form']"
    appLabel="createOrganisation">
  </button>

  <app-organisation-filter (paramsUpdated)="updateParams($event)">
  </app-organisation-filter>
</section>

<app-table
  [data]="organisations"
  [actions]="actions"
  [entity]="'OrganisationEntity'"
  [columns]="columns"
  (sortPaginate)="updateParams($event)"
  (rowClicked)="rowClicked($event)">
</app-table>