<cin-page-title titleLabel="media"></cin-page-title>

<app-media-filter (paramsUpdated)="updateParams($event)">
  <button mat-raised-button
    color="primary"
    [routerLink]="['form']"
    i18nLabel="addMedia">
  </button>
</app-media-filter>

<ng-container *ngIf="(infoMedia | async); else emptyResult">
  <app-media-admin-overview-category>
  </app-media-admin-overview-category>
</ng-container>

<ng-template #emptyResult>
  <app-no-data 
    titleLabel="noData" 
    text="noDataContent">
  </app-no-data>
</ng-template>