form {
  display: flex;
  width: 100%;
  flex-flow: row wrap;

  section {
    width: 100%;
  }
}

app-password-field {
  width: 100%;
}

:host ::ng-deep {
  form {
    section:last-child {

      margin-bottom: 1rem;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }

      mat-error {
        font-size: smaller;
      }
    }
  }
}