div {
  display: flex;
  gap: 1rem;

  address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
}

fa-icon {
  align-self: center;
}

a {
  color: black;
}

address{
  font-style: normal;
}

address:hover{
  text-decoration: underline;
}