@import 'src/styles/mixins.scss';

@include responsive(phone) {
  app-sponsored-desktop-card {
    display: none;
  }
  app-content-card {
    display: flex;
    justify-content: center;
  }
}

@include responsive(tablet-desktop) {
  app-content-card {
    display: none;
  }
}