<app-form-stepper>
  <app-form-step
    titleLabel="Nummer 1"
    descriptionLabel="Beschreibung"
    [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label appLabel="name"></mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </app-form-step>

  <app-form-step
    titleLabel="Nummer 2"
    descriptionLabel="Beschreibung"
    [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label appLabel="name"></mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </app-form-step>
</app-form-stepper>