<app-form-stepper
  (saved)="saved($event)">
  <app-form-step
    titleLabel="Nummer 1"
    descriptionLabel="Beschreibung"
    [formGroup]="form.controls.test">
    <app-form-row>
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="test2">
      </mat-form-field>
    </app-form-row>
  </app-form-step>

  <!-- <app-form-step
    titleLabel="Nummer 2"
    descriptionLabel="Beschreibung"
    [formGroup]="form">

    <app-form-row>
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </app-form-row>

    <app-form-row [columns]="5">
      <mat-form-field appearance="outline" [appColumns]="3">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" [appColumns]="2">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </app-form-row>
  </app-form-step>

  <app-form-step
    titleLabel="Nummer 3"
    descriptionLabel="Beschreibung"
    [formGroup]="form">
    <app-form-row [columns]="2">
      <mat-form-field appearance="outline">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </app-form-row>
  </app-form-step>

  <app-form-step
    titleLabel="Nummer 4"
    descriptionLabel="Beschreibung"
    [formGroup]="form">
    <app-form-row [columns]="5">
      <mat-form-field appearance="outline" [appColumns]="1">
        <mat-label appLabel="name"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </app-form-row>
  </app-form-step> -->
</app-form-stepper>