:host {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  a {
    color: var(--color-accent-900);
  }
}