<div class="main">
  <app-page-title titleLabel="settings"></app-page-title>
  <app-user-settings-menu-mobile class="sticky-container"></app-user-settings-menu-mobile>
  <div class="settings">
    <app-user-settings-menu></app-user-settings-menu>
    <div class="border-box">
      <h2 class="mat-headline-6" appLabel="changePassword"></h2>
      <div>
        <p appLabel="changePasswordText"></p>
      </div>
      <form [formGroup]="form">
        <app-password-confirm formControlName="password"></app-password-confirm>
        <button mat-flat-button color="primary" appLabel="changePassword" (click)="onSubmit()"></button>
      </form>     
    </div>
    <app-user-settings-menu-mobile class="sticky-container"></app-user-settings-menu-mobile>
  </div>
</div>