<div class="main">
  <app-page-title titleLabel="settings"></app-page-title>

  <div class="settings">
    <app-user-settings-menu></app-user-settings-menu>

    <div class="border-box">
      <h2 class="mat-headline-6" appLabel="changePassword"></h2>
      <div>
        <p appLabel="deleteAccountText2"></p>
        <p appLabel="deleteAccountText3"></p>
      </div>

      
      <form [formGroup]="form">
        <app-password-confirm formControlName="password"></app-password-confirm>
      </form>
     

      <button mat-flat-button color="primary" appLabel="deleteAccount"></button>
    </div>

  </div>
</div>