<button mat-button
  *ngIf="root; else child"
  [matMenuTriggerFor]="menu">
    <strong>{{ parent | translatable: 'name' | async }}</strong>
</button>

<ng-template #child>
  <button mat-menu-item
    *ngIf="!root"
    [matMenuTriggerFor]="menu"
    (menuOpened)="retrieveSubmenu()">
      {{ parent | translatable: 'name' | async }}
</button>
</ng-template>

<mat-menu #menu="matMenu">
  <ng-container *ngFor="let subItem of subMenuItems | async">
    
    <app-portal-header-menu-item
      *ngIf="(subItem?.subMenuItems?.length || 0) > 0; else entries"
      [parent]="subItem">
    </app-portal-header-menu-item>
    
    <ng-template #entries>
      <button
        mat-menu-item
        (click)="route(subItem)">
          {{ subItem | translatable: 'name' | async }}
      </button>
    </ng-template>

  </ng-container>
</mat-menu>