@import 'src/styles/mixins.scss';

nav {
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
}

:host ::ng-deep {

  img {
    height: unset !important;
    width: 9rem !important;
  }
}

@include responsive(tablet) {
  nav {
    flex-flow: row wrap;
  }

  :host ::ng-deep {

    img {
      height: 3rem !important;
      width: unset !important;
    }
  }
}
