<button mat-button
  [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
  <i class="fas fa-ellipsis-vertical"></i>
</button>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="actions?.length; else defaultActions">
    <ng-container *ngFor="let action of actions">
      <button mat-menu-item (click)="actionClicked.emit(action)">
        <div class="action-button">
          <fa-icon [icon]="action.icon"></fa-icon>
          <span [appLabel]="action.label"></span>
        </div>
      </button>
    </ng-container>
  </ng-container>
  
  <ng-template #defaultActions>
    <div class="default-actions">
      <app-share-button
        [url]="createUrl()"
        [withLabel]="true">
      </app-share-button>
      <app-favorite
        [entity]="entity"
        [data]="data"
        [withLabel]="true">
      </app-favorite>
    </div>
  </ng-template>
</mat-menu>