button[mat-button] {
  background-color: rgba(255, 255, 255, 0.868);
  min-width: 2.5rem !important;
  border-radius: 50%;
}

.default-actions {
  display: flex;
  flex-flow: column;

  * {
    width: 100%;
  }
}

.action-button {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}