<form [formGroup]="form">
  <section>
    <mat-form-field appearance="outline">
      <mat-label appLabel="street"></mat-label>
      <input matInput formControlName="street">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label appLabel="houseNumber"></mat-label>
      <input matInput formControlName="houseNumber">
    </mat-form-field>
  </section>

  <div class="wrapper">
    <section>
      <mat-form-field appearance="outline">
        <mat-label appLabel="place"></mat-label>
        <input matInput formControlName="place">
      </mat-form-field>
    </section>

    <mat-error *ngIf="form.errors?.['allFieldsRequired']"
      appLabel="allFieldsRequired"></mat-error>
    <mat-error *ngIf="form.errors?.['addressInvalid']"
      appLabel="addressInvalid"></mat-error>
  </div>
</form>