<div class="container">
  <section>

    <ng-content></ng-content>
    
    <button mat-raised-button
      (click)="filtersCollapsed = !filtersCollapsed"
      [class.active] = "!filtersCollapsed">
        <div>
          <fa-icon [icon]="['fas', 'filter']"></fa-icon>
          <span appLabel="filter"></span>
          <fa-icon *ngIf="(filtersActive | async)" class="active-icon" [icon]="['fas', 'check']"></fa-icon>
        </div>
    </button>
  </section>
  <mat-card [@collapse]="!filtersCollapsed">
    <mat-card-content>

      <app-event-filter-targetgroup>
      </app-event-filter-targetgroup>

      <app-event-filter-category>
      </app-event-filter-category>

      <app-event-filter-suburb>
      </app-event-filter-suburb>

      <app-event-filter-date [disabled]="(disbleDateFilter | async)">
      </app-event-filter-date>

      <app-event-filter-past>
      </app-event-filter-past>

      <app-event-filter-free>
      </app-event-filter-free>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clearFilters()">
        <span appLabel="clearAllFilters"></span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>